// size variables
$onex-link-icon-size: $icon-size-xlg;
$onex-link-height: $component-height-lg;
$onex-link-size-gap: 0.25rem;

// primary variables
$onex-link-primary-color: $primary-500;
$onex-link-primary-hover-color: $primary-700;
$onex-link-primary-active-color: $primary-800;

// secondary variables
$onex-link-secondary-color: $secondary-500;
$onex-link-secondary-hover-color: $primary-700;
$onex-link-secondary-active-color: $primary-800;
$onex-link-padding-y: 0.625rem;
$onex-link-padding-x: 0.75rem;
$onex-link-font-size: $font-size-label;
$onex-link-border-radius: $line-height-label;
