// size variables
$onex-link-icon-size-md: $icon-size-xlg;
$onex-link-height-md: $component-height-lg;
$onex-link-size-gap: 0.25rem;


// primary variables
$onex-link-primary-color: $primary-500;
$onex-link-primary-hover-color: $primary-700;
$onex-link-primary-active-color: $primary-800;

// secondary variables
$onex-link-secondary-color: $secondary-500;
$onex-link-secondary-hover-color: $primary-700;
$onex-link-secondary-active-color: $primary-800;

// md
$onex-link-padding-y-md: 0.625rem;
$onex-link-padding-x-md: 0.75rem;
$onex-link-font-size-md: $font-size-label;
$onex-link-border-radius-md: $line-height-label;
