@import 'mixins';

.onex-link {
  display: inline-flex;
  align-items: center;
  gap: $onex-link-size-gap;
  font-size: $onex-link-font-size;
  line-height: $onex-link-border-radius;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;

  svg {
    width: $onex-link-icon-size;
    height: $onex-link-icon-size;
  }

  .onex-material-icon,
  .material-icons-round {
    font-size: $onex-link-icon-size;
  }

  &--primary {
    @include link-variant($onex-link-primary-color, $onex-link-primary-hover-color, $onex-link-primary-active-color);
  }

  &--secondary {
    @include link-variant($onex-link-secondary-color, $onex-link-secondary-hover-color, $onex-link-secondary-active-color);
  }

  &.onex-link--disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
}
