// size variables
$onex-btn-icon-size-lg: $icon-size-lg;
$onex-btn-icon-size-sm: $icon-size-sm;
$onex-btn-icon-size-only-icon-lg: 1rem;
$onex-btn-height-lg: $component-height-lg;
$onex-btn-height-sm: $component-height-sm;
$onex-btn-size-gap: 0.25rem;

// primary variables
$onex-btn-primary-text-color: $white;
$onex-btn-primary-disabled-bg-color: $secondary-500;
$onex-btn-primary-hover-bg-color: $primary-700;

// secondary variables
$onex-btn-secondary-text-color: $primary-700;
$onex-btn-secondary-hover-bg-color: $primary-700;
$onex-btn-secondary-hover-text-color: $white;
$onex-btn-secondary-disabled-bg-color: $secondary-200;
$onex-btn-secondary-disabled-text-color: $secondary-500;

// link variables
$onex-btn-link-hover-text-color: $primary-700;

// icon-link variables
$onex-btn-icon-link-text-color: $primary;
$onex-btn-icon-link-hover-bg-color: $secondary-200;
$onex-btn-icon-link-hover-text-color: $primary-700;
$onex-btn-icon-link-disabled-text-color: $secondary-500;

// sm
$onex-btn-padding-y-sm: 0.375rem;
$onex-btn-padding-x-sm: 0.5rem;
$onex-btn-font-size-sm: $font-size-sm;
$onex-btn-border-radius-sm: $component-border-radius-sm;

//lg
$onex-btn-padding-y-lg: 0.625rem;
$onex-btn-padding-x-lg: 0.75rem;
$onex-btn-font-size-lg: $font-size-lg;
$onex-btn-border-radius-lg: $component-border-radius-lg;

// bootstrap variables
$btn-padding-y: $onex-btn-padding-y;
$btn-padding-x: $onex-btn-padding-x;
$btn-font-family: $font-family;
$btn-font-size: $font-size-lg;
$btn-line-height: $line-height-lg;
$btn-font-weight: $font-weight-600;
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 1;
$btn-active-box-shadow: none;
$btn-border-radius: $component-border-radius-lg;
$btn-border-width: 0;

$btn-link-color: $primary;
$btn-link-hover-color: $primary-700;
$btn-link-disabled-color: $secondary-500;
$link-decoration: none;
$link-hover-decoration: none;

// sm
$btn-padding-y-sm: 0.375rem;
$btn-padding-x-sm: 0.625rem;
$btn-font-size-sm: $font-size-sm;
$btn-border-radius-sm: $component-border-radius-lg;

//lg
$btn-padding-y-lg: 0.625rem;
$btn-padding-x-lg: 0.75rem;
$btn-font-size-lg: $font-size-lg;
$btn-border-radius-lg: $component-border-radius-lg;
