@import 'mixins';

.onex-btn {
  &.btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: $onex-btn-size-gap;
  }

  &.onex-btn--default.btn {
    min-width: $onex-btn-min-width;
  }

  .onex-btn__decorator {
    display: none;
  }

  /* primary */
  &.btn-primary {
    @include bg-color($onex-btn-primary-bg-color);
    color: $onex-btn-primary-text-color;
    svg path {
      fill: $onex-btn-primary-text-color;
    }

    &:hover {
      @include bg-color($onex-btn-primary-hover-bg-color);
    }

    &:disabled,
    &.disabled {
      opacity: 0.4;
    }

    &.active,
    &:active {
      @include bg-color($onex-btn-primary-active-bg-color);
    }
  }

  /* secondary */
  &.btn-secondary {
    @include bg-color($onex-btn-bg-color);
    color: $onex-btn-secondary-text-color;

    svg path {
      fill: $onex-btn-secondary-text-color;
    }

    &:hover {
      @include bg-color($onex-btn-secondary-hover-bg-color);
      color: $onex-btn-secondary-hover-text-color;

      svg path {
        fill: $onex-btn-secondary-hover-text-color;
      }
    }

    &:disabled,
    &.disabled {
      @include bg-color($onex-btn-secondary-disabled-bg-color);
      color: $onex-btn-secondary-disabled-text-color;
      opacity: 0.4;
    }

    &.active,
    &:active {
      @include bg-color($onex-btn-secondary-active-bg-color);
    }
  }

  /* tertiary */
  &.btn-tertiary {
    font-weight: $btn-font-weight;
    color: $onex-btn-tertiary-color;

    svg path {
      fill: $onex-btn-tertiary-color;
    }

    &.disabled,
    &:disabled {
      opacity: 0.4;
    }

    &:hover,
    &.hover {
      @include bg-color($onex-btn-tertiary-hover-bg-color);
      color: $onex-btn-tertiary-hover-color;

      svg path {
        fill: $onex-btn-tertiary-hover-color;
      }
    }

    &.active,
    &:active {
      @include bg-color($onex-btn-tertiary-active-bg-color);
    }
  }

  &.btn-md.btn-tertiary {
    @include btn-link-decorator-size(
      $onex-btn-padding-x-md,
      $onex-btn-padding-y-md,
      $onex-btn-icon-size-md,
      $onex-btn-size-gap
    );

    padding: $onex-btn-tertiary-padding-y-md $onex-btn-tertiary-padding-x-md;
  }

  &.btn-sm.btn-tertiary {
    @include btn-link-decorator-size(
      $onex-btn-padding-x-sm,
      $onex-btn-padding-y-sm,
      $onex-btn-icon-size-sm,
      $onex-btn-size-gap
    );

    padding: $onex-btn-tertiary-padding-y-sm $onex-btn-tertiary-padding-x-sm;
  }

  &.btn-md {
    @include btn-size($onex-btn-height-md);

    font-size: $onex-btn-font-size-md;
    border-radius: $onex-btn-border-radius-md;
    padding: $onex-btn-padding-y-md $onex-btn-padding-x-md;
  }

  &.btn-sm {
    @include btn-size($onex-btn-height-sm);

    font-size: $onex-btn-font-size-sm;
    border-radius: $onex-btn-border-radius-sm;
    padding: $onex-btn-padding-y-sm $onex-btn-padding-x-sm;
  }

  & svg,
  &.btn-md svg {
    @include icon-size($onex-btn-icon-size-md);
  }

  &.btn-sm svg {
    @include icon-size($onex-btn-icon-size-sm);
  }


  /* only icon child */
  & svg:only-child {
    margin: 0.125rem 0;
  }

  &.onex-btn--icon {
    &.btn-sm {
      padding: $btn-padding-y-sm;
    }
    &.btn-md {
      padding: $btn-padding-y-lg;
    }
  }
}
