@import 'mixins';

.onex-btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: $onex-btn-size-gap;

  .onex-btn__decorator {
    display: none;
  }

  /* primary */
  &.btn-primary {
    svg path {
      fill: $onex-btn-primary-text-color;
    }

    &:disabled,
    &.disabled {
      @include bg-color($onex-btn-primary-disabled-bg-color);
      opacity: 0.4;
    }

    &.focus:hover,
    &:hover {
      @include bg-color($onex-btn-primary-hover-bg-color);
    }
  }

  /* secondary */
  &.btn-secondary {
    @include bg-color($onex-btn-bg-color);
    color: $onex-btn-secondary-text-color;

    svg path {
      fill: $onex-btn-secondary-text-color;
    }

    &:hover {
      @include bg-color($onex-btn-secondary-hover-bg-color);
      color: $onex-btn-secondary-hover-text-color;

      svg path {
        fill: $onex-btn-secondary-hover-text-color;
      }
    }

    &:disabled,
    &.disabled {
      @include bg-color($onex-btn-secondary-disabled-bg-color);
      color: $onex-btn-secondary-disabled-text-color;
      opacity: 0.4;
    }
  }

  /* link */
  &.btn-tertiary {
    font-weight: $btn-font-weight;
    color: $onex-btn-tertiary-color;

    svg path {
      fill: $onex-btn-tertiary-color;
    }

    &.disabled,
    &:disabled {
      opacity: 0.4;
    }

    &:hover,
    &.hover {
      @include bg-color($onex-btn-tertiary-hover-bg-color);
      color: $onex-btn-tertiary-hover-color;

      svg path {
        fill: $onex-btn-tertiary-hover-color;
      }
    }
  }

  &.btn-lg.btn-tertiary {
    @include btn-link-decorator-size(
      $onex-btn-padding-x-lg,
      $onex-btn-padding-y-lg,
      $onex-btn-icon-size-lg,
      $onex-btn-size-gap
    );
  }

  &.btn-sm.btn-tertiary {
    @include btn-link-decorator-size(
      $onex-btn-padding-x-sm,
      $onex-btn-padding-y-sm,
      $onex-btn-icon-size-sm,
      $onex-btn-size-gap
    );
  }


  /* icon-link */
  &.btn-icon-link {
    svg path {
      fill: $onex-btn-icon-link-hover-text-color;
    }
  }

  &.btn-icon-link:hover,
  &.btn-icon-link.hover {
    @include bg-color($onex-btn-icon-link-hover-bg-color);

    svg path {
      fill: $onex-btn-icon-link-hover-text-color;
    }
  }

  &.btn-icon-link:disabled,
  &.btn-icon-link.disabled {
    svg path {
      fill: $onex-btn-icon-link-disabled-text-color;
    }
  }

  &.btn-lg {
    @include btn-size($onex-btn-height-lg);
  }

  &.btn-sm {
    @include btn-size($onex-btn-height-sm);
  }

  & svg,
  &.btn-lg svg {
    @include icon-size($onex-btn-icon-size-lg);
  }

  &.btn-sm svg {
    @include icon-size($onex-btn-icon-size-sm);
  }


  /* only icon child */
  & svg:only-child {
    margin: 0.125rem 0;
  }

  &.onex-btn--icon {
    &.btn-sm {
      padding: $btn-padding-y-sm;
    }
    &.btn-lg {
      padding: $btn-padding-y-lg;
    }
  }
}
