$onex-data-grid-tooltip-icon-info-color: $secondary-500;
$onex-data-grid-tooltip-icon-error-color: $error-500;
$onex-data-grid-tooltip-icon-warning-color: $warning-400;
$onex-data-grid-tooltip-icon-size: 1.25rem;
