$onex-stepper-icon-size: $icon-size-xlg;
$onex-stepper-icon-default-color: $secondary-500;
$onex-stepper-icon-browser-active-color: $secondary-900;
$onex-stepper-icon-active-color: $primary-600;
$onex-stepper-icon-done-color: $success-500;
$onex-stepper-icon-done-disabled-color: $secondary-500;
$onex-stepper-icon-done-browser-active-color: $primary-600;

$onex-stepper-text-color: $secondary-900;
$onex-stepper-text-hover-color: $secondary-900;
$onex-stepper-text-browser-active-color: $primary-600;

$onex-stepper-bg-hover-color: $secondary-500-opacity-01;
$onex-stepper-bg-browser-active-color: $primary-100;

