.onex-step-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0px 0.5rem 0.5rem 0px;
  cursor: pointer;
  color: $onex-stepper-text-color;

  &:hover {
    background-color: $onex-stepper-bg-hover-color;
    color: $onex-stepper-text-hover-color;
  }

  &:active {
    background-color: $onex-stepper-bg-browser-active-color;
    color: $onex-stepper-text-browser-active-color;

    .onex-step-item--done .onex-step-item__icon .onex-material-icon {
      color: $onex-stepper-icon-done-browser-active-color;
    }
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;

    .onex-step-item--done .onex-step-item__icon .onex-material-icon {
      color: $onex-stepper-icon-done-disabled-color;
    }
  }

  .onex-step-item {
    &__icon .onex-material-icon {
      font-size: $onex-stepper-icon-size;
      color: $onex-stepper-icon-default-color;
    }

    &--active &__icon .onex-material-icon {
      color: $onex-stepper-icon-active-color;
    }

    &--done &__icon .onex-material-icon {
      color: $onex-stepper-icon-done-color;
    }
  }
}
