.onex-step-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: $onex-stepper-item-width;
  gap: 0.5rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0px 0.5rem 0.5rem 0px;
  cursor: pointer;
  color: $onex-stepper-text-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__icon .onex-material-icon {
    font-size: $onex-stepper-icon-size;
    color: $onex-stepper-icon-default-color;
  }

  &--active &__icon .onex-material-icon {
    color: $onex-stepper-icon-active-color;
  }

  &--done &__icon .onex-material-icon {
    color: $onex-stepper-icon-done-color;
  }

  &:hover {
    background-color: $onex-stepper-bg-hover-color;
    color: $onex-stepper-text-hover-color;
  }

  &:active {
    background-color: $onex-stepper-bg-browser-active-color;
    color: $onex-stepper-text-browser-active-color;

    .onex-step-item__icon .onex-material-icon {
      color: $onex-stepper-icon-browser-active-color;
    }
  }

  &--active:active &__icon .onex-material-icon {
    color: $onex-stepper-icon-active-color;
  }

  &--done:active .onex-step-item__icon .onex-material-icon {
    color: $onex-stepper-icon-done-browser-active-color;
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;

    .onex-step-item--done .onex-step-item__icon .onex-material-icon {
      color: $onex-stepper-icon-done-disabled-color;
    }
  }
}
