@import 'mixins';

.onex-toast {
  @include toast-color-variant();

  &__block {
    font-family: $font-family;
    font-style: normal;
    line-height: $onex-toast-line-height;
    border: 1px solid $onex-toast-border-color;
    box-shadow: 0 0.25rem 1.5rem $onex-toast-box-shadow-color;
    border-radius: $onex-toast-border-radius;
    padding: $onex-toast-padding;
    background-color: $onex-toast-bg-color!important;
  }

  &__header {
    height: 100%;
    .onex-toast__btn-close {
      min-width: $onex-btn-close-min-width;
      width: $onex-btn-close-width;
      height: $onex-btn-close-height;
      padding: 0!important;
      color: $onex-btn-close-icon-color;
      & > svg {
        margin: 0;
        fill: $onex-btn-close-icon-color;
      }
      &:hover {
        background-color: white;
        border: none;
        color: $onex-btn-close-icon-color;
      }
    }
  }

  &__body {
    padding: 0.5rem 1rem 0 2.25rem;
    font-size: $onex-toast-font-size-body;
  }

  &__icon {
    display: flex;
    align-items: center;
    width: $onex-icon-width;
    height: $onex-icon-height;

    & > svg {
      width: $onex-icon-width;
      height: $onex-icon-height;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-grow: 2;
    font-weight: 600;
    font-size: $onex-toast-font-size-header;
    padding: 0 $onex-message-padding-x;
  }
}
