/* fonts */
/* button */
/* dropdown menu */
.onex-tag {
  box-sizing: border-box;
  padding: 0.375rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: rgba(103, 110, 122, 0.1);
  border: none;
  height: 2rem;
  border-radius: 0.25rem;
  font-family: noto-sans, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(26, 28, 30);
}
.onex-tag--variant-selection:hover {
  background-color: rgb(221, 224, 229);
}
.onex-tag--variant-input {
  cursor: auto !important;
}
.onex-tag--size-sm {
  height: 1.5rem;
  padding: 0.125rem 0.25rem 0.125rem 0.5rem;
}
.onex-tag--size-sm .onex-tag__img {
  display: none;
}
.onex-tag:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
.onex-tag__close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
  padding: 0;
  border: 0;
  background-color: initial;
  color: rgb(103, 110, 122);
}
.onex-tag__close > svg {
  font-size: 1.25rem;
}
.onex-tag__close__icon {
  height: 0.688rem;
  width: 0.688rem;
}
.onex-tag__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  overflow: hidden;
}
.onex-tag__img > img {
  object-fit: cover;
  overflow: hidden;
}

.onex-tag--selected {
  background-color: rgb(198, 227, 252);
}
.onex-tag--selected .onex-tag__close {
  color: rgb(0, 95, 171);
}
.onex-tag--selected:hover {
  background-color: rgb(141, 202, 249);
}