.onex-expansionPanel {
    &.show &-toggle__icon {
        transform: rotateX(-180deg);
        transition: transform ease-in-out 0.15s;
    }

    &-toggle {
        &__children {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__title {
            padding: 0.5rem;
        }

        &__icon {
            color: $btn-toggle-icon-color;
        }

        &:disabled &__icon {
            color: $btn-toggle-icon-disabled-color;
        }
    }
}
