.onex-table-name {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.5rem;
    padding-left: 0.75rem;
    font-family: $font-family;
}

.onex-table-name__h2 {
    margin-bottom: 0;
    font-size: $onex-table-name-font-size;
    line-height: $onex-table-name-line-height;
    color: $black;
    font-weight: $onex-table-name-font-weight;
    font-family: $font-family;
}

.onex-table-wrap--filled {
    .onex-table-name {
        padding-left: 0 !important;
    }
}
