@mixin icon-style($size, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  width: $size;

  svg {
    max-width: 100%;
    max-height: 100%;

    & path {
      fill: $color;
    }
  }

  .onex-material-icon {
    font-size: $size;
    color: $color;
  }
}
