$onex-table-header-icon-size-sm: $icon-size-sm;
$onex-table-header-icon-color: $secondary-500;
$onex-table-header-only-icon-color: $black;
$onex-table-header-icon-size-lg: 1rem;

$onex-table-body-icon-size-sm: 1rem;
$onex-table-body-icon-size-lg: 1.25rem;
$onex-table-body-image-size: 2rem;
$onex-table-body-icon-color: $secondary-500;
$onex-table-body-icon-end-color: $black;
$onex-table-body-subtitle-font-size: $font-size-sm;
$onex-table-body-subtitle-line-height: $line-height-sm;
$onex-table-body-subtitle-text-color: $secondary-600;
