$onex-data-grid-cell-leading-element-max-width: 3rem;
$onex-data-grid-cell-leading-element-max-size: 2rem;
$onex-data-grid-cell-leading-element-margin-x: 0.5rem;
$onex-data-grid-cell-trailing-element-color: $secondary-400;
$onex-data-grid-cell-trailing-element-margin-x: 0.25rem;

$onex-data-grid-cell-caption-color: $secondary-500;

