$table-pagination-lg-font-size: 0.875rem;
$table-pagination-sm-font-size: 0.75rem;
$table-pagination-width: 31.25rem;
$table-pagination-dropdown-padding: 1rem;
$table-pagination-dropdown-color: #0070A8;
$table-pagination-divider-left: 0.5rem;
$table-pagination-divider-top: 0.25rem;
$table-pagination-divider-height: 0.875rem;
$table-pagination-divider-width: 0.063rem;
$table-pagination-divider-bg: #d1d8e0;
$table-pagination-text-color: #002855;
$table-pagination-next-color-hover: #0070A8;
$table-pagination-next-color-disabled: #B0B8BF;
$table-pagination-next-margin-left: 2.188rem;