$c-mi-height: 2.25rem;
$c-mi-width: 10rem;
$c-mi-padding: 0.25rem;
$c-mi-text-color: $black;
$c-mi-font-size: $font-size-sm;
$c-mi-line-height: $line-height-sm;
$c-mi-bg-color: $white;

$c-mi-icon-size: $icon-size-sm;
$c-mi-icon-margin-x: 0.625rem;

$c-mi-link-border-radius: 5px;
$c-mi-link-hover-bg-color: $secondary-200;
$c-mi-link-hover-text-color: $primary-700;
$c-mi-link-selected-text-color: $primary;
$c-mi-link-selected-hover-bg-color: $white;
$c-mi-link-disabled-text-color: $secondary-500;
$c-mi-link-disabled-bg-color: $white;
$c-mi-link-unavailable-text-color: $secondary-500;
$c-mi-link-unavailable-bg-color: $white;

$c-mi-indicator-selected-text-color: $primary;
