@mixin avatar-size($size, $fontSize, $lineHeight, $svgSize, $svgHoverSize) {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    svg {
      width: $svgSize;
      height: $svgSize;
    }
    .material-icons-round {
      font-size: $svgSize;
    }
    & .onex-avatar__children {
        font-size: $fontSize;
        line-height: $lineHeight;
        max-width: calc(#{$size} * (1 - (2 * 0.15)));
    }

    & .onex-avatar__img {
        width: $size;
        height: $size;
    }

    & .onex-avatar__hover svg {
        width: $svgHoverSize;
        height: $svgHoverSize;
    }

    & .onex-avatar__hover .material-icons-round {
      font-size: $svgHoverSize;
    }
}

@mixin avatar-layout() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@function svg-default($size) {
    $svg-size: calc(#{$size} / 2.66);
    @return $svg-size;
}
