$onex-avatar-height-xs: 1.5rem;
$onex-avatar-font-size-xs: 0.5rem;
$onex-avatar-line-height-xs: 0.5rem;
$onex-avatar-size-svg-xs: 0.938rem;
$onex-avatar-size-svg-hover-xs: 0.625rem;

$onex-avatar-height-sm: $component-height-sm;
$onex-avatar-size-svg-sm: 1.25rem;
$onex-avatar-size-svg-hover-sm: 0.938rem;

$onex-avatar-height-md: 2.5rem;
$onex-avatar-font-size-md: $font-size-sm;
$onex-avatar-line-height-md: $line-height-sm;
$onex-avatar-size-svg-md: 1.563rem;
$onex-avatar-size-svg-hover-md: 1.25rem;

$onex-avatar-height-lg: 4rem;
$onex-avatar-font-size-lg: $font-size-lg;
$onex-avatar-line-height-lg: $line-height-lg;
$onex-avatar-size-svg-hover-lg: 2rem;
$onex-avatar-size-svg-lg: 2.5rem;

$onex-avatar-height-xl: 4rem;
$onex-avatar-width-svg-xl: 3rem;
$onex-avatar-height-svg-xl: 2rem;

$onex-avatar-height-xxl: 5rem;
$onex-avatar-font-size-xxl: $font-size-lg;
$onex-avatar-line-height-xxl: $line-height-lg;
$onex-avatar-width-svg-xxl: 4rem;
$onex-avatar-height-svg-xxl: 3rem;

$onex-avatar-border-radius: 50%;
