@import 'mixins';

.onex-avatar {
    @include avatar-layout();
    position: relative;
    border-radius: $onex-avatar-border-radius;
    cursor: pointer;
    color: $secondary-500;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px $secondary;
    background-color: $secondary-100;

    &__img {
        object-fit: cover;
        overflow: hidden;
    }

    &__icon-decorator {
        display: none;
    }

    &:not(.hover-disabled):hover {
        box-shadow: inset 0 0 0 1px transparent;
    }

    &__hover {
        @include avatar-layout();
        border-radius: $onex-avatar-border-radius;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        background-color: $black-opacity-07;
    }

    &:hover &__hover {
        opacity: 1;
    }

    &__children {
        @include avatar-layout();
        font-family: $font-family;
        color: $secondary-500;
        overflow: hidden;
    }

    &--size-xs {
        @include avatar-size(
            $onex-avatar-height-xs,
            $onex-avatar-font-size-sm,
            $onex-avatar-line-height-sm,
            $onex-avatar-width-svg-xs,
            $onex-avatar-height-svg-xs
        );
    }

    &--size-sm {
        @include avatar-size(
            $onex-avatar-height-sm,
            $onex-avatar-font-size-sm,
            $onex-avatar-line-height-sm,
            $onex-avatar-width-svg-sm,
            $onex-avatar-height-svg-sm
        );
    }

    &--size-md {
        @include avatar-size(
            $onex-avatar-height-md,
            $onex-avatar-font-size-lg,
            $onex-avatar-line-height-lg,
            $onex-avatar-width-svg-md,
            $onex-avatar-height-svg-md
        );
    }

    &--size-lg {
        @include avatar-size(
            $onex-avatar-height-lg,
            $onex-avatar-font-size-lg,
            $onex-avatar-line-height-lg,
            $onex-avatar-width-svg-lg,
            $onex-avatar-height-svg-lg
        );
    }

    &--size-xl {
        @include avatar-size(
            $onex-avatar-height-xl,
            $onex-avatar-font-size-xxl,
            $onex-avatar-line-height-xxl,
            $onex-avatar-width-svg-xl,
            $onex-avatar-height-svg-xl
        );
    }

    &--size-xxl {
        @include avatar-size(
            $onex-avatar-height-xxl,
            $onex-avatar-font-size-xxl,
            $onex-avatar-font-size-xxl,
            $onex-avatar-width-svg-xxl,
            $onex-avatar-height-svg-xxl
        );
    }
}
