$onex-mi-height: 2.25rem;
$onex-mi-width: 10rem;
$onex-mi-padding: 0.25rem;
$onex-mi-text-color: $black;
$onex-mi-font-size: $font-size-sm;
$onex-mi-line-height: $line-height-sm;
$onex-mi-bg-color: $white;

$onex-mi-icon-size: $icon-size-sm;
$onex-mi-icon-margin-x: 0.625rem;

$onex-mi-link-border-radius: 5px;
$onex-mi-link-hover-bg-color: $secondary-80;
$onex-mi-link-hover-text-color: $primary-720;
$onex-mi-link-selected-text-color: $primary-500;
$onex-mi-link-selected-hover-bg-color: $white;
$onex-mi-link-disabled-text-color: $secondary-250;
$onex-mi-link-disabled-bg-color: $white;
$onex-mi-link-unavailable-text-color: $secondary-250;
$onex-mi-link-unavailable-bg-color: $white;

$onex-mi-indicator-selected-text-color: $primary-500;
