.onex-menuItem {
    display: flex;
    position: relative;
    width: $onex-mi-width;
    height: $onex-mi-height;
    padding: $onex-mi-padding;
    color: $onex-mi-text-color;
    font-size: $onex-mi-font-size;
    line-height: $onex-mi-line-height;
    font-weight: $font-weight-600;
    background-color: $onex-mi-bg-color;

    & a {
        display: inline-flex;
        align-items: center;
        padding: $onex-mi-padding;
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
    }
    &:hover a {
        background-color: $secondary-200;
        border-radius: $onex-mi-link-border-radius;
        color: $onex-mi-link-hover-text-color;
        cursor: pointer;
      .onex-menuItem__badge {
        background-color: $white!important;
        color: $black;
      }
    }
    &__icon {
        width: $onex-mi-icon-size;
        height: $onex-mi-icon-size;
        display: flex;
        align-items: center;
        margin-right: $onex-mi-icon-margin-x;
        &__leading {
            margin-right: $onex-mi-icon-margin-x;
        }
        &__trailing {
            position: absolute;
            right: $onex-mi-icon-margin-x;
            margin-left: $onex-mi-icon-margin-x;
        }
    }
    &__badge {
        position: absolute;
        right: $onex-mi-icon-margin-x;
        margin-left: $onex-mi-icon-margin-x;
    }
}

.onex-menuItem--selected {
    & a {
        color: $onex-mi-link-selected-text-color;
    }
    &:hover a {
        background-color: $secondary-200;
        //background-color: $onex-mi-link-selected-hover-bg-color;
        color: $onex-mi-link-hover-text-color;
    }
    &__indicator {
        width: 3px;
        height: 100%;
        background-color: $onex-mi-indicator-selected-text-color;
        border-radius: 2px;
        margin-right: 3px;
    }
}

.onex-menuItem--disabled {
    & a {
        background-color: $onex-mi-link-disabled-bg-color;
        color: $onex-mi-link-disabled-text-color;
    }
    &:hover a {
        color: $onex-mi-link-disabled-text-color;
        background-color: $onex-mi-link-disabled-bg-color;
        cursor: initial;
    }
}

.onex-menuItem--unavailable {
    & a {
        background-color: $onex-mi-link-unavailable-bg-color;
    }
    &:hover a {
        background-color: $onex-mi-link-unavailable-bg-color;
        cursor: initial;
    }
    & span {
        color: $onex-mi-link-unavailable-text-color;
    }
}
