/* fonts */
/* button */
/* dropdown menu */
.onex-lozenge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem 0.375rem;
}
.onex-lozenge__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.onex-lozenge__icon svg {
  fill: white;
}
.onex-lozenge__text {
  padding: 0 0.125rem;
}
.onex-lozenge--size-lg {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
}
.onex-lozenge--size-lg .onex-lozenge__icon svg {
  width: 0.75rem;
  height: 0.75rem;
}
.onex-lozenge--size-lg .onex-lozenge__icon svg path {
  fill: white;
}
.onex-lozenge--size-lg .onex-lozenge__icon + .onex-lozenge__text {
  margin-left: 0.25rem;
}
.onex-lozenge--size-sm {
  height: 1.25rem;
  min-width: 1.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.375rem;
}
.onex-lozenge--size-sm .onex-lozenge__icon svg {
  width: 0.5rem;
  height: 0.5rem;
}
.onex-lozenge--size-sm .onex-lozenge__icon svg path {
  fill: white;
}
.onex-lozenge--size-sm .onex-lozenge__icon + .onex-lozenge__text {
  margin-left: 0.125rem;
}
.onex-lozenge--variant-bold.onex-lozenge--type-default {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.onex-lozenge--variant-bold.onex-lozenge--type-success {
  background-color: #007e4c;
  color: white;
}
.onex-lozenge--variant-bold.onex-lozenge--type-warning {
  background-color: #fcb916;
  color: black;
}
.onex-lozenge--variant-bold.onex-lozenge--type-error {
  background-color: #d91522;
  color: white;
}
.onex-lozenge--variant-bold.onex-lozenge--type-info {
  background-color: #0070c0;
  color: white;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-default {
  background-color: #f4f8fc;
  color: black;
  border: 1px solid #d1d8e0;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-default .onex-lozenge__icon svg path {
  fill: #d1d8e0;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-success {
  background-color: #e0f6ea;
  color: black;
  border: 1px solid #007e4c;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-success .onex-lozenge__icon svg path {
  fill: #007e4c;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-warning {
  background-color: #fff1b8;
  color: black;
  border: 1px solid #fcb916;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-warning .onex-lozenge__icon svg path {
  fill: #fcb916;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-error {
  background-color: #ffecee;
  color: black;
  border: 1px solid #d91522;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-error .onex-lozenge__icon svg path {
  fill: #d91522;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-info {
  background-color: white;
  color: black;
  border: 1px solid #0070c0;
}
.onex-lozenge--variant-subtle.onex-lozenge--type-info .onex-lozenge__icon svg path {
  fill: #0070c0;
}
.onex-lozenge--variant-icon {
  border-radius: 100%;
  padding: 0.125rem;
}
.onex-lozenge--variant-icon.onex-lozenge--type-default {
  background-color: #b0b8bf;
}
.onex-lozenge--variant-icon.onex-lozenge--type-success {
  background-color: #007e4c;
}
.onex-lozenge--variant-icon.onex-lozenge--type-warning {
  background-color: #fcb916;
}
.onex-lozenge--variant-icon.onex-lozenge--type-error {
  background-color: #d91522;
}
.onex-lozenge--variant-icon.onex-lozenge--type-info {
  background-color: #0070c0;
}