$onex-select-height-md: $component-height-lg;
$onex-select-height-sm: $component-height-sm;
$onex-select-min-width: 16.625rem;

$onex-select-md-multi-value-height: 1.5rem;
$onex-select-input-container-padding: 0rem;
$onex-select-input-container-margin: 0rem;
$onex-select-sm-multi-value-height: 1.25rem;
$onex-select-max-width: 31.25rem;
$onex-select-control-border: 1px;
$onex-select-control-border-radius: 0.5rem;
$onex-select-multi-value-border-radius: 0.25rem;
$onex-select-menu-border-color: $secondary-900-opacity-10;
$onex-select-option-text-color: $secondary-900;
$onex-select-option-hover-bg-color: $secondary-500-opacity-01;
$onex-select-option-focused-bg-color: $primary-100;
$onex-select-option-focused-hover-bg-color: $primary-200;
$onex-select-option-sub-label-color: $secondary-400;
$onex-select-option-sub-label-size: 0.75rem;

$onex-select-scrollbar-color: $secondary-900-opacity-10;
$onex-select-scrollbar-width: 0.75rem;
$onex-select-scrollbar-border-radius: 0.438rem;
$onex-select-max-height: 25.5rem;
$onex-select-icon-color: $secondary-500;

$onex-select-padding-y-md: 0.625rem;
$onex-select-padding-x-md: 0.75rem;

$onex-select-padding-y-sm: 0.375rem;
$onex-select-padding-x-sm: 0.5rem;
