$select-height-lg: $component-height-lg;
$select-height-sm: $component-height-sm;
$select-min-width: 16.625rem;

$select-lg-multi-value-height: 1.5rem;
$select-input-container-padding: 0rem;
$select-input-container-margin: 0rem;
$select-sm-multi-value-height: 1.25rem;
$select-max-width: 31.25rem;
$select-control-border: 1px;
$select-control-border-radius: 0.5rem;
$select-multi-value-border-radius: 0.375rem;
