@import 'mixins';

.onex-select {
  font-family: $font-family;
  box-sizing: border-box;
  max-width: $select-max-width;
  min-width: $select-min-width;

  /* label */
  &__label.form-label {
    padding: 0 4px;
    font-family: $font-family;
    font-size: $font-size-label;
    line-height: $line-height-label;
    font-weight: 400;
    color: $secondary-900;
  }

  /* help text */
  &__help-text.form-text {
    display: inline-block;
    min-width: 1rem;
    min-height: $line-height-sm;
    padding: 0 4px;
    color: $secondary-400;
    font-family: $font-family;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  .onex-select__single-value {
    color: $secondary-900;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  .onex-select__icon {
    margin-right: -0.25rem;

    & > * {
      width: $component-height-middle-sm;
      height: $component-height-middle-sm;
    }
  }

  &__control {
    max-height: 100%;
    align-items: stretch;
    box-sizing: border-box;
    border: $select-control-border solid $secondary-opacity-20;
    border-radius: $select-control-border-radius!important;

    &:hover {
      border-color: $secondary-opacity-50;
    }

    &.onex-select__control--is-focused,
    &.onex-select__control--is-focused.onex-select__control--menu-is-open {
      border: $select-control-border solid $primary !important;
      box-shadow: $primary 0px 0px 1px, $primary 0px 0px 0px 1px;

      &:hover {
        border-color: $primary !important;
      }
    }
  }

  &__control .onex-select__indicator.onex-select__dropdown-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;

    svg {
      width: 1rem;
      height: 1rem;
    }

    svg > path {
      fill: $secondary-400;
    }
  }

  &--invalid {
    .onex-select__control {
      border-color: $error !important;
    }
  }

  .onex-select__placeholder {
    font-size: $font-size-label;
    line-height: $line-height-label;
    font-weight: 400;
    color: $secondary-400;
  }

  &--is-disabled {
    opacity: 0.4;

    .onex-select__control--is-disabled {
      background-color: $white;
      border-color: $secondary-opacity-20;
    }
  }

  &__value-container {
    max-height: 100%;
    box-sizing: border-box;
  }
    .onex-select__option:hover {
        background-color: $secondary-100;
        color: black;
        cursor: pointer;
    }

    .onex-select__option--is-selected {
        background-color: $secondary-100;
        color: black;
    }

    .onex-select__indicator-separator {
        display: none;
    }

    .onex-select__clear-indicator {
        display: none;
    }

  .onex-select__control--menu-is-open .onex-select__indicator {
    transform: rotate(180deg);
  }

    .onex-select__multi-value {
      background-color: $secondary-400-opacity-01;
      border-radius: $select-multi-value-border-radius;
      align-items: center;
      padding: 2px 2px 2px 8px;

      .onex-select__multi-value__label {
        padding: 0;
        margin-right: 4px;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        color: $secondary-900;
      }

      .onex-select__multi-value__remove {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $component-height-middle-sm;
        height: $component-height-middle-sm;
        padding: 0;
        background-color: transparent;
        color: $secondary-400;

        svg {
          width: $component-height-middle-sm;
          height: $component-height-middle-sm;

          & path {
            fill: $secondary-400;
          }
        }
      }
    }
}

.onex-select--lg {
  @include size-select($select-height-lg, $select-lg-multi-value-height);

  .onex-select__icon {
    padding-left: 0.75rem;
  }
}
.onex-select--sm {
  @include size-select($select-height-sm, $select-sm-multi-value-height);

  .onex-select__icon {
    padding-left: 0.5rem;
  }

  .onex-select__control .onex-select__input-container {
    padding: $select-input-container-padding;
    margin: $select-input-container-margin;
  }
}

.is-disabled {
  .onex-select__label.form-label,
  .onex-select__help-text.form-text {
    opacity: 0.4;
  }
}

.multiselect-check.onex-check > .onex-check__wrapper.form-check-label {
  pointer-events: none;
}
