@import 'mixins';

.onex-select--lg {
   @include size-select($select-height-lg, $select-lg-multi-value-height);
}
.onex-select--sm {
  @include size-select($select-height-sm, $select-sm-multi-value-height);
    height: $select-height-sm;

    .onex-select__control .onex-select__input-container {
      padding: $select-input-container-padding;
      margin: $select-input-container-margin;
    }
}

.onex-select--invalid {
    .onex-select__control {
        border-color: $error !important;
    }
}

.onex-select {
    box-sizing: border-box;
    max-width: $select-max-width;
    min-width: $select-min-width;

    &__value-container {
      max-height: 100%;
      box-sizing: border-box;
    }

    .onex-select__control {
        max-height: 100%;
        box-sizing: border-box;
        border: $select-control-border solid $secondary;
        border-radius: $select-control-border-radius;

        &:hover {
            border-color: $primary-700;
        }
    }
    .onex-select__control--is-focused {
        border: $select-control-border solid $select-control-border-color-focused;
        box-shadow: none;
        &:hover {
            border-color: $select-control-border-color-focused;
        }
    }
    .onex-select__option:hover {
        background-color: $secondary-100;
        color: black;
        cursor: pointer;
    }

    .onex-select__option--is-selected {
        background-color: $secondary-100;
        color: black;
    }

    .onex-select__indicator-separator {
        display: none;
    }

    .onex-select__clear-indicator {
        display: none;
    }

    .onex-select__control--is-focused .onex-select__indicator {
        color: $select-control-border-color-focused;
        transform: rotate(180deg);
    }

    .onex-select__multi-value {
        background-color: $secondary-100;
        border-radius: $select-multi-value-border-radius;
        align-items: center;
        .onex-select__multi-value__remove {
            &:hover {
                background-color: $secondary-100;
                color: black;
            }
        }
    }
}
