$onex-segmented-toggle-wrapper-border-radius: 0.5rem;
$onex-segmented-toggle-segments-border-radius: 0.25rem;
$onex-segmented-toggle-padding: 0.25rem;
$onex-segmented-toggle-icon-width-md: 2rem;
$onex-segmented-toggle-icon-width-sm: 1.5rem;
$onex-segmented-toggle-btn-height-md: 2.125rem;
$onex-segmented-toggle-btn-height-sm: 1.625rem;

$icon-size-xlg-sm: 1rem;

$onex-segmented-toggle-color: $secondary-900;
$onex-segmented-toggle-hover-color: $secondary-900;
$onex-segmented-toggle-hover-bg-color: $secondary-500-opacity-01;
$onex-segmented-toggle-active-color: $secondary-900;
$onex-segmented-toggle-active-bg-color: $white;
$onex-segmented-toggle-active-hover-color: $secondary-900;
$onex-segmented-toggle-active-hover-bg-color: $white;
$onex-segmented-toggle-bg-wrapper-color: $secondary-500-opacity-01;
