.onex-segmentedToggle {
    width: 100%;
    border-radius: $onex-segmented-toggle-wrapper-border-radius;
    padding: $onex-segmented-toggle-padding;
    font-family: $font-family;
    background-color: $onex-segmented-toggle-bg-wrapper-color;
    gap: $onex-segmented-toggle-padding;

    .onex-toggle-btn-wrapper {
        padding: 0;

        .btn-toggle {
            height: 100%;
            border-radius: $onex-segmented-toggle-segments-border-radius;
            padding-top: $onex-segmented-toggle-padding;
            padding-bottom: $onex-segmented-toggle-padding;
        }

        .btn-check[disabled] + .onex-toggle__btn.btn-toggle,
        .btn-check:disabled + .onex-toggle__btn.btn-toggle {
          pointer-events: none;
          opacity: 0.4;
          background-color: transparent;
          color: $onex-segmented-toggle-disabled-color;
        }
    }

    &.icons {
        width: min-content;

        & > div.onex-toggle-btn-wrapper {
            label {
                width: $onex-segmented-toggle-icon-width-md;
            }
        }

        .onex-material-icon,
        .material-icons-round {
            font-size: $icon-size-xlg;
        }
    }

    & > div.onex-toggle-btn-wrapper {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        border: none;
        height: $onex-segmented-toggle-btn-height-md;

        label {
            width: 100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            color: $onex-segmented-toggle-color;

            &:hover:not(:disabled),
            &:hover:not([disabled]),
            &:focus:not(:disabled),
            &:focus:not([disabled]) {
                color: $onex-segmented-toggle-hover-color;
                background-color: $onex-segmented-toggle-hover-bg-color;
            }
        }

        .btn-check:checked + .onex-toggle__btn.btn {
            color: $onex-segmented-toggle-active-color;
            background-color: $onex-segmented-toggle-active-bg-color;
            &:hover:not(:disabled),
            &:hover:not([disabled]),
            &:focus:not(:disabled),
            &:focus:not([disabled]) {
                color: $onex-segmented-toggle-active-hover-color;
                background-color: $onex-segmented-toggle-active-hover-bg-color;
            }
        }

        &:last-child {
            border-right: none;
            padding-right: 0;
        }
        &:first-child {
            border-left: none;
            padding-left: 0;
        }
    }

    &-size-sm {
        & > div.onex-toggle-btn-wrapper {
            height: $onex-segmented-toggle-btn-height-sm;
        }

        &.icons {
            & > div.onex-toggle-btn-wrapper {
                label {
                    width: $onex-segmented-toggle-icon-width-sm;
                }
            }

            .onex-material-icon,
            .material-icons-round {
               font-size: $icon-size-xlg;
            }
        }
    }
}
