$tf-icon-color: $secondary-400;
$tf-icon-disabled-color: $secondary-500;
$tf-invalid-border-color: $error;
$tf-focus-text-color: $primary;
$tf-border-hover-color: $secondary-opacity-50;

$tf-font-family: $font-family;

$tf-padding-y-lg: 0.625rem;
$tf-padding-x-lg: 0.75rem;
$tf-padding-icon-x-lg: 2.25rem;
$tf-font-size-lg: $icon-size-lg;
$tf-line-height-lg: $line-height-lg;
$tf-border-radius-lg: $component-border-radius-lg;
$tf-height-lg: $component-height-lg;
$tf-icon-size-lg: $icon-size-lg;

$tf-padding-y-sm: 0.375rem;
$tf-padding-x-sm: 0.5rem;
$tf-padding-icon-x-sm: 2rem;
$tf-font-size-sm: $font-size-sm;
$tf-line-height-sm: $line-height-lg;
$tf-border-radius-sm: $component-border-radius-sm;
$tf-height-sm: $component-height-md;
$tf-icon-size-sm: $icon-size-sm;

$tf-max-width: 31.25rem;
$tf-min-width: 16.625rem;

$fl-line-height: $line-height-lg;

$em-background-image: url("data:image/svg+xml,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 6C12 7.5913 11.3679 9.11742 10.2426 10.2426C9.11742 11.3679 7.5913 12 6 12C4.4087 12 2.88258 11.3679 1.75736 10.2426C0.632141 9.11742 0 7.5913 0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0C7.5913 0 9.11742 0.632141 10.2426 1.75736C11.3679 2.88258 12 4.4087 12 6ZM6 3C5.90521 3.00005 5.81147 3.01996 5.72484 3.05845C5.63821 3.09693 5.5606 3.15313 5.49701 3.22343C5.43342 3.29374 5.38526 3.37658 5.35563 3.46662C5.32601 3.55667 5.31557 3.65193 5.325 3.74625L5.5875 6.3765C5.59632 6.47983 5.6436 6.57608 5.71998 6.64623C5.79637 6.71637 5.8963 6.75529 6 6.75529C6.1037 6.75529 6.20363 6.71637 6.28002 6.64623C6.3564 6.57608 6.40368 6.47983 6.4125 6.3765L6.675 3.74625C6.68443 3.65193 6.67399 3.55667 6.64437 3.46662C6.61474 3.37658 6.56658 3.29374 6.50299 3.22343C6.4394 3.15313 6.36179 3.09693 6.27516 3.05845C6.18853 3.01996 6.09479 3.00005 6 3ZM6.0015 7.5C5.80259 7.5 5.61182 7.57902 5.47117 7.71967C5.33052 7.86032 5.2515 8.05109 5.2515 8.25C5.2515 8.44891 5.33052 8.63968 5.47117 8.78033C5.61182 8.92098 5.80259 9 6.0015 9C6.20041 9 6.39118 8.92098 6.53183 8.78033C6.67248 8.63968 6.7515 8.44891 6.7515 8.25C6.7515 8.05109 6.67248 7.86032 6.53183 7.71967C6.39118 7.57902 6.20041 7.5 6.0015 7.5Z' fill='#{$error}'/></svg>");

/* bootstrap variables*/
$form-label-margin-bottom: 0.25rem;
$form-label-font-size: $font-size-sm;
$form-label-font-weight: $font-weight-600;
$form-label-color: $black;

$form-text-font-size: $font-size-sm;
$form-text-color: $black;

$input-padding-y: $tf-padding-y-sm;
$input-padding-x: $tf-padding-x-sm;
$input-font-family: $tf-font-family;
$input-font-size: $tf-font-size-sm;

$input-padding-y-sm: $tf-padding-y-sm;
$input-padding-x-sm: $tf-padding-x-sm;
$input-font-size-sm: $tf-font-size-sm;

$input-padding-y-lg: $tf-padding-y-lg;
$input-padding-x-lg: $tf-padding-x-lg;
$input-font-size-lg: $tf-font-size-lg;

$input-border-radius: $tf-border-radius-sm;
$input-border-radius-sm: $tf-border-radius-sm;
$input-border-radius-lg: $tf-border-radius-lg;

$input-height: $tf-height-sm;
$input-height-sm: $tf-height-sm;
$input-height-lg: $tf-height-lg;

$input-focus-box-shadow: none;

$input-disabled-border-color: $secondary;
$input-disabled-bg: transparent;

$input-color: $secondary-900;
$input-border-color: $secondary-opacity-20;

$input-focus-border-color: $primary;
$input-focus-color: $secondary-900;

$input-placeholder-color: $secondary-400;
