$tf-icon-color: $secondary-500;
$tf-icon-disabled-color: $secondary-250;
$tf-invalid-border-color: $error-500;
$tf-focus-text-color: $primary-500;
$tf-border-hover-color: $secondary-900-opacity-50;

$pf-pass-weak-color: $error-500;
$pf-pass-weak-background-image: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0a.9959.9959 0 0 1 0-1.41L10.59 12 7.7 9.11a.9959.9959 0 0 1 0-1.41c.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z' fill='#{$error-500}'></path></svg>");
$pf-pass-medium-color: $warning-500;
$pf-pass-medium-background-image: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z' fill='#{$warning-500}'></path></svg>");
$pf-pass-strong-color: $success-500;
$pf-pass-strong-background-image: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29 5.7 12.7a.9959.9959 0 0 1 0-1.41c.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z' fill='#{$success-500}'></path></svg>");

$tf-font-family: $font-family;

$tf-padding-y-lg: 0.625rem;
$tf-padding-x-lg: 0.75rem;
$tf-padding-icon-x-lg: 2.25rem;
$tf-font-size-lg: $font-size-lg;
$tf-line-height-lg: $line-height-lg;
$tf-border-radius-lg: $component-border-radius-lg;
$tf-height-lg: $component-height-lg;
$tf-icon-size-lg: $icon-size-lg;
$tf-padding-trailing-icon-lg: 0.75rem;

$tf-padding-y-sm: 0.375rem;
$tf-padding-x-sm: 0.5rem;
$tf-padding-icon-x-sm: 2rem;
$tf-font-size-sm: $font-size-lg;
$tf-line-height-sm: $line-height-lg;
$tf-border-radius-sm: $component-border-radius-sm;
$tf-height-sm: $component-height-sm;
$tf-icon-size-sm: $icon-size-sm;
$tf-padding-trailing-icon-sm: 0.5rem;

$tf-max-width: 31.25rem;
$tf-min-width: 16.625rem;

$fl-line-height: $line-height-lg;

$em-background-image: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z' fill='#{$error-500}'></path></svg>");

/* bootstrap variables*/
$form-label-margin-bottom: 0.25rem;
$form-label-font-size: $font-size-lg;
$form-label-font-weight: $font-weight-600;
$form-label-color: $black;

$form-text-font-size: $font-size-lg;
$form-text-color: $black;

$input-padding-y: $tf-padding-y-sm;
$input-padding-x: $tf-padding-x-sm;
$input-font-family: $tf-font-family;
$input-font-size: $tf-font-size-sm;

$input-padding-y-sm: $tf-padding-y-sm;
$input-padding-x-sm: $tf-padding-x-sm;
$input-font-size-sm: $tf-font-size-sm;

$input-padding-y-lg: $tf-padding-y-lg;
$input-padding-x-lg: $tf-padding-x-lg;
$input-font-size-lg: $tf-font-size-lg;

$input-border-radius: $tf-border-radius-sm;
$input-border-radius-sm: $tf-border-radius-sm;
$input-border-radius-lg: $tf-border-radius-lg;

$input-height: $tf-height-sm;
$input-height-sm: $tf-height-sm;
$input-height-lg: $tf-height-lg;

$input-focus-box-shadow: none;

$input-disabled-border-color: $secondary;
$input-disabled-bg: transparent;

$input-color: $secondary-900;
$input-border-color: $secondary-900-opacity-20;

$input-focus-border-color: $primary-500;
$input-focus-color: $secondary-900;

$input-placeholder-color: $secondary-500;
