$onex-offcanvas-action-link-color: $primary-500;
$onex-offcanvas-badge-background-color: $secondary-500-opacity-01;

$onex-offcanvas-title-font-weight: $font-weight-600;
$onex-offcanvas-action-link-font-weight: $font-weight-600;
$onex-offcanvas-title-badge-font-weight: $font-weight-400;

$link-font-size: $font-size-label;
