.onex-offcanvas {

    .offcanvas-header {
        position: relative;
        & > button {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }
    }

    .offcanvas-title {
        h5 {
            font-weight: $font-weight-600;
            display: flex;
            align-items: center;

            .badge {
                font-size: $font-size-sm;
                font-weight: $font-weight-400;
                margin-left: 0.5rem;
                background-color: $secondary-550-opacity-01 !important;
            }
        }
    }

    .offcanvas-footer {
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 1rem;

        .primary {
            margin-left: 0.5rem;
        }
        
        .action-link {
            width: 100%;
            color: $primary;
            font-weight: $font-weight-600;
            text-decoration: none;
            text-align: center;
            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}