.onex-offcanvas {

    .offcanvas-header {
        position: relative;
        & > button {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }
    }

    .offcanvas-title {
        h5 {
            font-weight: $onex-offcanvas-title-font-weight;
            display: flex;
            align-items: center;

            .badge {
                font-size: $font-size-sm;
                font-weight: $onex-offcanvas-title-badge-font-weight;
                margin-left: 0.5rem;
                background-color: $onex-offcanvas-badge-background-color!important;
            }
        }
    }

    .offcanvas-footer {
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 1rem;

        .primary {
            margin-left: 0.5rem;
        }

        .action-link {
            width: 100%;
            color: $onex-offcanvas-action-link-color;
            font-weight: $onex-offcanvas-action-link-font-weight;
            text-decoration: none;
            text-align: center;
            &:hover {
                color: $onex-offcanvas-action-link-color;
                text-decoration: underline;
            }
        }
    }
}
