$onex-data-grid-date-cell-padding-x: 0.75rem;
$onex-data-grid-date-cell-padding-y: 0.875rem;

$onex-data-grid-date-cell-font-size: $font-size-label;
$onex-data-grid-date-cell-line-height: $line-height-label;

$onex-data-grid-date-cell-hover-border-color: $secondary-900-opacity-50;
$onex-data-grid-date-cell-focus-border-color: $primary-500;
$onex-data-grid-date-icon: $icon-size-xlg;
$onex-data-grid-date-icon-color: $secondary-500;
