.onex-data-grid-date-cell {
  &__input.form-control {
    border: none;
    padding: $onex-data-grid-date-cell-padding-y $onex-data-grid-date-cell-padding-x;
    font-size: $onex-data-grid-date-cell-font-size;
    line-height: $onex-data-grid-date-cell-line-height;
    background-color: inherit;
    &:focus {
      background-color: inherit;
    }
  }

  &.onex-data-grid-date-cell__text-align-left {
    .onex-data-grid-date-cell__input.form-control {
      text-align: left;
    }
  }
  &.onex-data-grid-date-cell__text-align-right {
    .onex-data-grid-date-cell__input.form-control {
      text-align: right;
    }
  }

  &.onex-data-grid-date-cell__text-variant-regular {
    .onex-data-grid-date-cell__input.form-control {
      font-weight: 400;
    }
  }
  &.onex-data-grid-date-cell__text-variant-semibold {
    .onex-data-grid-date-cell__input.form-control {
      font-weight: 600;
    }
  }

}

td.onex-data-grid-date-cell {
  padding: 0;

  &:hover {
    border: none;
    outline: solid 1px $onex-data-grid-date-cell-hover-border-color;
    outline-offset: -0.063rem;
  }


  &:focus-within {
    border: none;
    background-color: white;
    outline: solid 2px $onex-data-grid-date-cell-focus-border-color;
    outline-offset: -0.125rem;
  }

  .onex-data-grid-date-cell__input {
    position: relative;

    &--disabled {
      opacity: 0.4;
    }

    &__toggle-calendar {
      & > svg {
        width: $onex-data-grid-date-icon;
        height: $onex-data-grid-date-icon;
      }

      & > .onex-material-icon,
      & > .material-icons-round {
        font-size: $onex-data-grid-date-icon;
      }

      position: absolute;
      display: inline-flex;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      color: $onex-data-grid-date-icon-color;
      background: none;
      border: none;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
