$onex-filter-select-max-width: 31.25rem;
$onex-filter-select-min-width: 12.5rem;

$onex-filter-select-font-weight-600: 600;
$onex-filter-select-font-weight-400: 400;
$onex-filter-select-line-height: $line-height-label;
$onex-filter-select-opacity: .4;

$onex-filter-select-dropdown-button-md-padding-x: 0.75rem;
$onex-filter-select-dropdown-button-md-padding-y: 0.625rem;
$onex-filter-select-dropdown-button-md-height: 2.5rem;

$onex-filter-select-dropdown-button-sm-padding-x: 0.5rem;
$onex-filter-select-dropdown-button-sm-padding-y: 0.375rem;
$onex-filter-select-dropdown-button-sm-height: 2rem;

$onex-filter-select-dropdown-button-min-width: 5rem;
$onex-filter-select-dropdown-button-font-style: normal;
$onex-filter-select-dropdown-button-font-size: $font-size-label;
$onex-filter-select-dropdown-button-border-radius: 1.5rem;
$onex-filter-select-dropdown-button-background-color: $secondary-500-opacity-01;
$onex-filter-select-dropdown-button-color: $secondary-900;

$onex-filter-select-dropdown-button-content-padding-y: 0.25rem;
$onex-filter-select-dropdown-button-content-color: $primary-600;
$onex-filter-select-dropdown-button-content-icon-font-size: $font-size-body;
$onex-filter-select-dropdown-button-content-icon-margin-y: 0.25rem;


$onex-filter-select-dropdown-button-hover-background-color: $secondary-500-opacity-25;
$onex-filter-select-dropdown-button-hover-color: $secondary-900;

$onex-filter-select-dropdown-button-menu-open-background-color: $secondary-500-opacity-25;
$onex-filter-select-dropdown-button-value-selected-background-color: $primary-100;
$onex-filter-select-dropdown-button-value-selected-color: $primary-900;
$onex-filter-select-dropdown-button-value-selected-hover-background-color: $primary-200;


$onex-filter-select-menu-wrapper-background-color: $white;
$onex-filter-select-menu-wrapper-border-radius: 0.5rem;
$onex-filter-select-menu-wrapper-border-color: $secondary-900-opacity-10;
$onex-filter-select-menu-wrapper-box-shadow-color: $primary-900-opacity-12;

$onex-filter-select-control-padding-y: 0.375rem;
$onex-filter-select-control-padding-x: 0.5rem;
$onex-filter-select-control-height: $component-height-sm;
$onex-filter-select-control-min-height: $component-height-sm;
$onex-filter-select-control-border-color: $secondary-900-opacity-20;
$onex-filter-select-control-min-width: 11.5rem;
$onex-filter-select-control-margin: 0.5rem;
$onex-filter-select-control-margin-bottom: 0.25rem;

$onex-filter-select-control-hover-border-color: $secondary-900-opacity-50;
$onex-filter-select-control-focused-border-color: $primary-500;

$onex-filter-select-value-padding-x: 1.75rem;
$onex-filter-select-value-font-size: $font-size-label;
$onex-filter-select-value-color: $secondary-900;

$onex-filter-select-placeholder-font-size: $font-size-label;
$onex-filter-select-placeholder-color: $secondary-500;

$onex-filter-select-search-icon-color: $secondary-500;
$onex-filter-select-search-icon-font-size: $font-size-h4;

$onex-filter-select-menu-box-shadow-color: $black-opacity-01;

$onex-filter-select-menu-action-padding: 0.75rem;

$onex-filter-select-menu-list-max-height: 32rem;

$onex-filter-select-scrollbar-color: $secondary-900-opacity-10;
$onex-filter-select-scrollbar-width: 0.75rem;
$onex-filter-select-scrollbar-border-radius: 0.438rem;
$onex-filter-select-scrollbar-border-color: rgba(0, 0, 0, 0);

$onex-filter-select-option-padding-y: 0.625rem;
$onex-filter-select-option-padding-x: 0.75rem;
$onex-filter-select-option-font-size: $font-size-label;
$onex-filter-select-option-color: $secondary-900;

$onex-filter-select-option-focused-background-color: $secondary-500-opacity-01;
$onex-filter-select-option-selected-background-color: $secondary-100;

$onex-filter-select-group-padding-y: 0.25rem;
$onex-filter-select-group-heading-padding: 0.75rem;
$onex-filter-select-group-heading-padding-bottom: 0.25rem;
$onex-filter-select-group-heading-font-size: $font-size-caption;
$onex-filter-select-group-heading-line-height: $line-height-caption;
$onex-filter-select-group-heading-color: $primary-500;
