$onex-card-border-radius: 1rem;
$onex-card-inner-border-radius: 1rem;
$onex-card-border-width: 0rem;
$onex-card-default-bg-color: $white;
$onex-card-support-bg-color: $primary-50;
$onex-card-min-action-height: 1rem;
$onex-card-border-radius: 1rem;
