.onex-card {
    &.onex-card--info {
        .card-header {
            background: $tertiary-200;
        }
        .card-footer {
            background: $tertiary-200;
        }
        border: 1px solid $secondary-900-opacity-10;
    }
    display: inline-block!important;
    border-radius: 1rem;
    .card-body {
        border: 0rem;
        padding: 0rem;
    }
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: content-box;
        padding: 1rem;
        color: $black;
        background: white;
        border: 0rem;
        .title-block {
            display: inline-flex;
            .onex-badge {
                margin-left: 0.5rem;
            }
        }
    }
    .card-footer {
        box-sizing: content-box;
        padding: 0.5rem 0.5rem;
        color: $black;
        background: white;
        border: 0rem;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}