$onex-typography-heading-font-weight: $font-weight-600;

//h1
$onex-typography-h1-font-size: $font-size-h1;
$onex-typography-h1-line-height: $line-height-h1;

//h2
$onex-typography-h2-font-size: $font-size-h2;
$onex-typography-h2-line-height: $line-height-h2;

//h3
$onex-typography-h3-font-size: $font-size-h3;
$onex-typography-h3-line-height: $line-height-h3;

//h4
$onex-typography-h4-font-weight: $font-weight-600;
$onex-typography-h4-font-size: $font-size-h4;
$onex-typography-h4-line-height: $line-height-h4;

//h5
$onex-typography-h5-font-weight: $font-weight-600;
$onex-typography-h5-font-size: $font-size-h5;
$onex-typography-h5-line-height: $line-height-h5;

//body
$onex-typography-body-font-size: $font-size-body;
$onex-typography-body-line-height: $line-height-body;

//label
$onex-typography-label-font-size: $font-size-label;
$onex-typography-label-line-height: $line-height-label;

//caption
$onex-typography-caption-font-size: $font-size-caption;
$onex-typography-caption-line-height: $line-height-caption;
