@import 'mixins';

.onex-typography {
  display: inline-block;
  font-family: $font-family;
  font-style: normal;
  margin: 0;
  color: $secondary-900;
  @include text-align();

  &--link {
    cursor: pointer;
    @include text-link();
    &:hover {
      color: $primary-700;
    }
    &:active {
      color: $primary-800;
    }
  }

  &--margin-bottom {
    margin-bottom: 0.5rem;
  }

  &--no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--semi-bold {
    @include semi-bold();
  }

  &--uppercase {
    @include uppercase();
  }

  &--title,
  &--h1,
  &--h2,
  &--h3,
  &--h4,
  &--h5 {
    font-weight: $onex-typography-heading-font-weight;
  }

  &--h1 {
    @include font-style($onex-typography-h1-font-size, $onex-typography-h1-line-height);
  }

  &--h2 {
    @include font-style($onex-typography-h2-font-size, $onex-typography-h2-line-height);
  }

  &--h3 {
    @include font-style($onex-typography-h3-font-size, $onex-typography-h3-line-height);
  }

  &--h4 {
    @include font-style($onex-typography-h4-font-size, $onex-typography-h4-line-height);
  }

  &--h5 {
    @include font-style($onex-typography-h5-font-size, $onex-typography-h5-line-height);
  }

  &--body {
    @include font-style(
        $onex-typography-body-font-size,
        $onex-typography-body-line-height
    );
  }

  &--label {
    @include font-style(
        $onex-typography-label-font-size,
        $onex-typography-label-line-height
    );
  }

  &--caption {
    @include font-style(
        $onex-typography-caption-font-size,
        $onex-typography-caption-line-height
    );
  }
}
