@import 'mixins';

.c-lozenge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $c-lozenge-padding-y $c-lozenge-padding-x;

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    & svg {
      fill: $c-lozenge-icon-color;
    }
  }

  &__text {
    padding: 0 $c-lozenge-text-padding-x;
  }

  &--size-lg {
    @include size($c-lozenge-font-size-lg, $c-lozenge-line-height-lg, $c-lozenge-size-lg, $c-lozenge-icon-size-lg, $c-lozenge-border-radius-lg, $c-lozenge-icon-color);

    .c-lozenge__icon + .c-lozenge__text {
      margin-left: 0.25rem;
    }
  }

  &--size-sm {
    @include size($c-lozenge-font-size-sm, $c-lozenge-line-height-sm, $c-lozenge-size-sm, $c-lozenge-icon-size-sm, $c-lozenge-border-radius-sm, $c-lozenge-icon-color);

    .c-lozenge__icon + .c-lozenge__text {
      margin-left: 0.125rem;
    }
  }

  &--variant-bold {
    @include lozenge-bold-color();
  }

  &--variant-subtle {
    @include lozenge-subtle-color();
  }

  &--variant-icon {
    @include lozenge-icon-color();

    border-radius: 100%;
    padding: $c-lozenge-padding-y;
  }
}
