$onex-dropzone-bg-color: $secondary-500-opacity-01;
$onex-dropzone-bg-hover-color: $secondary-500-opacity-25;
$onex-dropzone-bg-error-color: $error-50;
$onex-dropzone-border-color: $secondary-900-opacity-20;
$onex-dropzone-border-hover-color: $secondary-900-opacity-50;
$onex-dropzone-border-error-color: $error;
$onex-dropzone-icon-bg-color: $secondary-500-opacity-01;
$onex-dropzone-icon-color: $secondary-400;
$onex-dropzone-title-color: $secondary-900;
$onex-dropzone-info-color: $secondary-500;
$onex-dropzone-title-error-color: $error;
$onex-dropzone-error-icon-bg-color: transparent;
$onex-dropzone-error-icon-color: $error;
$onex-dropzone-width: 30rem;
$onex-dropzone-height: 15rem;

$onex-dropzone-icon-width: 4rem;
$onex-dropzone-icon-height: 4rem;
$onex-dropzone-icon-size: 2rem;

$onex-dropzone-file-title-color: $secondary-900;
$onex-dropzone-file-subtitle-color: $secondary-500;
$onex-dropzone-file-icon-color: $secondary-500;
$onex-dropzone-file-icon-size: 1rem;
$onex-dropzone-file-success-color: $success;
$onex-dropzone-file-error-color: $error;
$onex-dropzone-file-border-color: $secondary-900-opacity-20;
$onex-dropzone-file-width: 30rem;
$onex-dropzone-file-height: 3.5rem;

