.onex-dropzone {
  display: inline-flex;
  flex-direction: column;

  &__area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $onex-dropzone-width;
    min-height: $onex-dropzone-height;
    padding: 3.25rem 1rem;
    border-radius: 0.5rem;
    border: 1px dashed $onex-dropzone-border-color;
    background-color: $onex-dropzone-bg-color;

    &:hover:not(.onex-dropzone__area--error) {
      cursor: pointer;
      border-color: $onex-dropzone-border-hover-color;
      background-color: $onex-dropzone-bg-hover-color;

      .onex-dropzone__icon {
        color: $onex-dropzone-icon-hover-color;
      }

      .onex-dropzone__title {
        color: $onex-dropzone-title-hover-color;
      }
    }
  }

  .onex-dropzone__icon {
    font-size: $onex-dropzone-icon-size;
    color: $onex-dropzone-icon-color;
    padding-bottom: 1rem;
  }

  .onex-dropzone__title {
    font-size: $font-size-label;
    line-height: $line-height-label;
    font-weight: $font-weight-600;
    text-align: center;
    margin-bottom: .25rem;
  }

  .onex-dropzone__title {
    color: $onex-dropzone-title-color;
  }

  .onex-dropzone__info {
    font-size: $font-size-caption;
    line-height: $line-height-caption;
    text-align: center;
  }

  .onex-dropzone__info {
    color: $onex-dropzone-info-color;
  }

  &__area--error {
    border-color: $onex-dropzone-border-error-color;
    background-color: $onex-dropzone-bg-error-color;

    &:hover {
      cursor: pointer;
    }

    .onex-dropzone__title {
      color: $onex-dropzone-title-error-color;
    }

    .onex-dropzone__icon {
      color: $onex-dropzone-error-icon-color;
    }
  }
}

// file's styles

.onex-dropzone {
  &__files-area {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .onex-dropzone {
      &__file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $onex-dropzone-file-width;
        height: $onex-dropzone-file-height;
        border: 1px solid $onex-dropzone-file-border-color;
        background-color: $white;
        border-radius: 0.5rem;
        padding: 0.25rem 0.75rem;
      }

      &__file-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.75rem;
        color: $onex-dropzone-file-icon-color;
      }

      &__file-body {
        width: 100%;
      }

      &__file-title {
        font-size: $font-size-label;
        line-height: $line-height-label;
        font-weight: $font-weight-600;
        color: $onex-dropzone-file-title-color;
      }

      &__file-size {
        font-size: $font-size-caption;
        line-height: $line-height-caption;
        color: $onex-dropzone-file-subtitle-color;
      }

      &__file-status-block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.75rem;
      }

      &__file-status {
        display: inline-flex;
        align-items: center;
        gap: 4px;
      }

      &__file-status-message {
        font-size: $font-size-caption;
        line-height: $line-height-caption;
      }

      &__file-status-icon {
        font-size: $onex-dropzone-file-icon-size;
      }

      &__file-status--error {
        color: $onex-dropzone-file-error-color;
      }

      &__file-status--success {
        color: $onex-dropzone-file-success-color;
      }

      &__file-action {
        margin-left: 0.75rem;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.25rem;
      }

      &__file-progress-block {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;
        flex-grow: 1;
      }

      &__file-progress {
        &-info {
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: $font-weight-600;
          font-size: $font-size-caption;
          line-height: $line-height-caption;
          color: $onex-dropzone-file-progress-info-color;
        }

        &-bar {
          width: 100%;
        }
      }
    }
  }
}
