$c-tag-height-lg: 1.75rem;
$c-tag-height-md: $component-height-middle-lg;
$c-tag-height-sm: $component-height-middle-sm;

$c-tag-close-icon-size: 0.5rem;
$c-tag-btn-size-sm: $icon-size-sm;
$c-tag-btn-size-lg: $icon-size-lg;

$c-tag-img-size: 1.25rem;
