/* fonts */
/* button */
/* dropdown menu */
/* sizes variables */
.onex-check {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.onex-check .form-check-input {
  border: 1px solid #d1d8e0;
}
.onex-check .form-check-input:focus {
  border-color: #d1d8e0;
  box-shadow: none;
}
.onex-check .form-check-input:disabled {
  opacity: 1;
}
.onex-check .form-check-input:checked {
  border-color: #0070c0;
}
.onex-check .form-check-input[type=checkbox]:indeterminate {
  background-color: white;
  border-color: #0070c0;
  background-image: url("data:image/svg+xml,%3csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='%230070c0'/%3e%3c/svg%3e");
}
.onex-check .form-check-label {
  color: black;
  cursor: pointer;
}
.onex-check .form-check-label {
  padding-right: 2px;
}
.onex-check .form-check-input {
  margin-top: 0;
  cursor: pointer;
}
.onex-check .form-check-input:not(:checked) {
  background-color: white;
}
.onex-check:not(.disabled):hover {
  box-shadow: 0 0 0 0.25rem #e6f1f6;
  background-color: #e6f1f6;
  border-radius: 0.125rem;
}
.onex-check:not(.disabled):hover > .form-check-input {
  border-color: #002855;
  background-color: white;
}
.onex-check:not(.disabled):hover > .form-check-input:checked {
  background-color: #002855;
}
.onex-check:not(.disabled):hover > .form-check-input[type=checkbox]:indeterminate, .onex-check:not(.disabled):hover > .form-check-input.indeterminate {
  background-image: url("data:image/svg+xml,%3csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='%23002855'/%3e%3c/svg%3e");
}
.onex-check:not(.disabled):hover > .form-check-label {
  color: #002855;
}
.onex-check.disabled > .form-check-label {
  pointer-events: none;
}
.onex-check.onex-check--size-lg:hover {
  border-radius: 0.25rem;
}
.onex-check .form-check-input:disabled + .form-check-label {
  color: #b0b8bf;
}
.onex-check .form-check-input:checked:disabled,
.onex-check .form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 1;
  border-color: #d1d8e0;
}
.onex-check .form-check-input:checked:disabled {
  background-color: #d1d8e0;
}
.onex-check .form-check-input:disabled {
  background-color: transparent;
}
.onex-check .form-check-input[type=checkbox]:indeterminate:disabled,
.onex-check .form-check-input.indeterminate:disabled {
  background-image: url("data:image/svg+xml,%3csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='%23d1d8e0'/%3e%3c/svg%3e");
  border-color: #d1d8e0;
}
.onex-check.onex-check--size-lg .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-check.onex-check--size-lg .form-check-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.onex-check.onex-check--size-lg .form-check-input[type=checkbox]:indeterminate,
.onex-check.onex-check--size-lg .form-check-input.indeterminate {
  background-size: 0.625rem;
}
.onex-check.onex-check--size-sm .form-check-input {
  width: 1rem;
  height: 1rem;
}
.onex-check.onex-check--size-sm .form-check-label {
  font-size: 0.75rem;
  line-height: 1rem;
}
.onex-check.onex-check--size-sm .form-check-input[type=checkbox]:indeterminate,
.onex-check.onex-check--size-sm .form-check-input.indeterminate {
  background-size: 0.5rem;
}