/* fonts */
/* button */
/* dropdown menu */
.onex-tab .onex-nav__item {
  padding-left: 1.5rem;
}
.onex-tab .onex-nav__item:first-child {
  padding-left: 0;
}
.onex-tab .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #626b78;
}
.onex-tab--size-sm .nav-link {
  height: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 0;
}
.onex-tab--size-sm .nav-link::before {
  height: 0.125rem;
  border-radius: 0.125rem;
}
.onex-tab--size-sm .dropdown-menu {
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.625rem 0.375rem;
  min-width: 8rem;
}
.onex-tab--size-sm .dropdown-menu .dropdown-item {
  padding: 0.25rem 0.375rem;
  border-radius: 0.375rem;
}
.onex-tab--size-lg .nav-link {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.375rem 0;
}
.onex-tab--size-lg .nav-link::before {
  height: 0.25rem;
  border-radius: 0.25rem;
}
.onex-tab--size-lg .dropdown-menu {
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem 0.625rem;
  min-width: 10rem;
}
.onex-tab--size-lg .dropdown-menu .dropdown-item {
  padding: 0.375rem 0.625rem;
  border-radius: 0.5rem;
}