// size variables
$btn-min-width: 5rem;
$btn-height-md: $component-height-lg;
$btn-icon-type-padding-md: 0.625rem;
$btn-icon-type-icon-size-md: $icon-size-xlg;

$btn-height-sm: 2rem;
$btn-icon-type-padding-sm: 0.375rem;
$btn-icon-type-icon-size-sm: $icon-size-xlg;

$scrollbar-thumb-border-radius: 0.125rem;
$scrollbar-thumb-color: $secondary-900-opacity-10;
$scrollbar-width: 0.25rem;

$menu-max-height: 15.5rem;
$menu-list-margin-y: 0.75rem;
$menu-list-max-height: 10rem;
$menu-border-radius: $component-border-radius-lg;
$menu-font-size: $font-size-lg;
$menu-line-height: $line-height-lg;
$menu-padding-x: 0;
$menu-padding-y: 0.25rem;
$menu-search-padding-x: 0.75rem;
$menu-search-padding-y: 0.5rem;
$menu-search-min-width: 13.5rem;
$menu-item-padding-y: $dropdown-menu-item-padding-x-lg;
$menu-item-padding-x: 0.75rem;
$menu-item-color: $tertiary-600;
$menu-item-opacity: 0.4;
$menu-item-min-width: 13.5rem;

$menu-item-hover-background-color: $secondary-400-opacity-01;
$menu-item-active-background-color: $tertiary-500;
$menu-item-active-hover-background-color: $tertiary-300;

$menu-font-size-sm: $font-size-sm;
$menu-border-radius-sm: $component-border-radius-sm;
$menu-padding-x-sm: $dropdown-menu-padding-x-sm;
$menu-padding-y-sm: $dropdown-menu-padding-y-sm;
$menu-min-width-sm: $dropdown-menu-min-width-sm;

$menu-item-text-color: $black;
$menu-dropdown-border-color: $secondary;
$menu-dropdown-disabled-text-color: $secondary-500;
$menu-dropdown-hover-bg-color: $secondary-200;

$btn-primary-hover-bg-color: $primary-400;
$btn-primary-active-bg-color: $primary-600;

$btn-secondary-text-color: $secondary-400;
$btn-secondary-border-color: $interactive-border-default;
$btn-secondary-bg-color: $white;
$btn-secondary-hover-bg-color: $secondary-400-opacity-01;
$btn-secondary-hover-border-color: $interactive-border-hover;
$btn-secondary-hover-text-color: $white;
$btn-secondary-active-text-color: $tertiary-600;
$btn-secondary-active-bg-color: $secondary-350;
$btn-secondary-active-border-color: $interactive-border-hover;
$btn-secondary-disabled-bg-color: $secondary-200;
$btn-secondary-disabled-text-color: $tertiary-600;

$btn-dropdown-toggle-icon-size: 1.25rem;
$btn-dropdown-toggle-icon-margin-y: 0.25rem;
$btn-dropdown-disabled-opacity: 0.4;
$btn-dropdown-border-color: $secondary;
$btn-dropdown-text-color: $primary-700;
$btn-dropdown-hover-color: $secondary-200;
$btn-dropdown-focus-color: $primary;

$onex-dropdown-link-active-color: $primary;
$onex-dropdown-link-active-bg-color: $transparent;

// sm
$btn-padding-y-sm: 0.375rem;
$btn-padding-x-sm: 0.75rem;
$btn-border-radius-sm: 0.5rem;

//lg
$btn-padding-y-md: 0.625rem;
$btn-padding-x-md: 0.75rem;
$btn-border-radius-md: $component-border-radius-lg;

// bootstrap variables
$btn-padding-y: $onex-btn-padding-y;
$btn-padding-x: $onex-btn-padding-x;
$btn-font-family: $font-family;
$btn-font-size: $font-size-lg;
$btn-line-height: $line-height-lg;
$btn-font-weight: $font-weight-600;
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 1;
$btn-active-box-shadow: none;
$btn-border-radius: $component-border-radius-lg;
$btn-border-width: 0;

$dropdown-min-width: $menu-min-width-sm;
$dropdown-padding-x: $menu-padding-x-sm;
$dropdown-padding-y: $menu-padding-y-sm;
$dropdown-font-size: $menu-font-size-sm;
$dropdown-color: $menu-item-text-color;
$dropdown-border-color: $menu-dropdown-border-color;
$dropdown-border-radius: $menu-border-radius-sm;
//$dropdown-item-padding-y: $menu-item-padding-x-sm;
//$dropdown-item-padding-x: $menu-item-padding-x-sm;


$onex-dropdown-btn-font-size: 0.875rem;
$onex-dropdown-btn-line-height: 1.25rem;
