@import 'mixins';

.onex-dropdown {
  position: relative;
  & > .btn {
    position: relative;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $onex-dropdown-btn-font-size;
    line-height: $onex-dropdown-btn-line-height;
    border-radius: $btn-border-radius;


    /* primary */
    &.btn-primary {
      &.dropdown-toggle::after {
        @include dropdown-after-image($white);
      }
    }

    &.btn-primary:disabled,
    &.btn-primary.disabled {
      opacity: $btn-dropdown-disabled-opacity;
    }

    &.btn-primary:focus,
    &.btn-primary.onex-btn-selected:focus,
    &.btn-primary:focus {
      @include bg-color($btn-dropdown-focus-color);
    }

    &.btn-primary.focus:hover,
    &.btn-primary.onex-btn-selected:hover,
    &.btn-primary:hover {
      @include bg-color($btn-primary-hover-bg-color);
    }

    /* secondary, tertiary */
    &.btn-secondary {
      border: 1px solid $btn-secondary-border-color;
    }

    &.btn-tertiary {
      border: none;
    }

    &.btn-secondary,
    &.btn-tertiary {
      color: $btn-secondary-text-color;
      background-color: $btn-secondary-bg-color;

      &.dropdown-toggle::after {
        @include dropdown-after-image($btn-secondary-text-color);
      }
    }

    &.btn-secondary:hover {
      border-color: $btn-secondary-hover-border-color;
    }

    &.btn-secondary:hover,
    &.btn-tertiary:hover {
      background-color: $btn-secondary-hover-bg-color;
    }

    &.btn-secondary:disabled,
    &.btn-secondary.disabled,
    &.btn-tertiary:disabled,
    &.btn-tertiary.disabled {
      opacity: $btn-dropdown-disabled-opacity;
      color: $btn-secondary-disabled-text-color;
    }

    &.btn-md {
      @include btn-size($btn-min-width, $btn-height-md);
      padding: $btn-padding-y-md 0.5rem $btn-padding-y-md $btn-padding-x-md;
    }

    &.btn-sm {
      @include btn-size($btn-min-width, $btn-height-sm);
      padding: $btn-padding-y-sm 0.5rem $btn-padding-y-sm $btn-padding-x-sm;
    }
  }

  /* buttonStyle (text, icon) */
  &--text > .dropdown-toggle::after,
  &--default-icon > .dropdown-toggle::after {
    content: "";
    display: inline-block;
    height: $btn-dropdown-toggle-icon-size;
    width: $btn-dropdown-toggle-icon-size;
    background-size: $btn-dropdown-toggle-icon-size $btn-dropdown-toggle-icon-size;
    background-repeat: no-repeat;
    border: none;
    margin-left: $btn-dropdown-toggle-icon-margin-y;
    vertical-align: middle;
  }

  &--icon {
    &.onex-dropdown--default-icon > .dropdown-toggle::after {
      display: inline-block;
      margin-left: 0;
    }

    & > .dropdown-toggle::after {
      display: none;
    }

    & > .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.btn-md {
        @include btn-icon-size($btn-height-md);
        padding: $btn-icon-type-padding-md;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-md);
        }
      }

      &.btn-sm {
        @include btn-icon-size($btn-height-sm);
        padding: $btn-icon-type-padding-sm;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-sm);
        }
      }
    }
  }

  &.show > .dropdown-toggle {
    &::after {
      transform: rotateX(-180deg);
      transition: transform ease-in-out 0.15s;
    }

    &.btn-primary {
      @include bg-color($btn-primary-active-bg-color);

    }

    &.btn-secondary,
    &.btn-tertiary {
      color: $btn-secondary-active-text-color;
      background-color: $btn-secondary-active-bg-color;
      border-color: $btn-secondary-active-border-color;

      &.dropdown-toggle::after {
        @include dropdown-after-image($btn-secondary-active-text-color);
      }
    }
  }

  .dropdown-menu {
    font-family: $font-family;
    border-radius: $menu-border-radius;
    font-size: $menu-font-size;
    line-height: $menu-line-height;
    padding: $menu-padding-y $menu-padding-x;

    &--search {
      margin: $menu-search-padding-y $menu-search-padding-x $menu-item-padding-y $menu-search-padding-x;
      min-width: $menu-search-min-width;
    }

    &--list {
      padding-left: 0;
      list-style: none;
      margin: 0;
    }

    .dropdown-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      text-decoration: none;
      color: $menu-item-color;
      min-width: $menu-item-min-width;

      & > span {
        padding-right: 0.5rem;
      }

      &:hover {
        background-color: $menu-item-hover-background-color;
      }

      &.active, &:active {
        background-color: $menu-item-active-background-color;

        &:hover {
          background-color: $menu-item-active-hover-background-color;
        }

        &.disabled, &:disabled {
          background-color: transparent;
        }
      }

      &.disabled, &:disabled {
        opacity: $menu-item-opacity;
      }
    }
  }
}
