@import 'mixins';

.onex-dropdown {
  position: relative;
  font-family: $font-family;

  & > .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $onex-dropdown-btn-font-size;
    line-height: $onex-dropdown-btn-line-height;
    border-radius: $btn-border-radius;

    & > svg {
      @include icon-size($btn-icon-type-icon-size-sm);
    }

    & > .onex-material-icon,
    & > .material-icons-round {
      font-size: $btn-icon-type-icon-size-sm;
    }

    & > .onex-dropdown__chevron-icon {
      @include icon-size($btn-icon-type-icon-size-sm);
      margin-right: 0;
      margin-left: 0.25rem;
    }

    /* primary */
    &.btn-primary {
      & > .onex-dropdown__chevron-icon {
        color: $white;
      }
    }

    &.btn-primary:disabled,
    &.btn-primary.disabled {
      opacity: $btn-dropdown-disabled-opacity;
    }

    &.btn-primary:focus,
    &.btn-primary.onex-btn-selected:focus,
    &.btn-primary:focus {
      @include bg-color($btn-dropdown-focus-color);
    }

    &.btn-primary.focus:hover,
    &.btn-primary.onex-btn-selected:hover,
    &.btn-primary:hover {
      @include bg-color($btn-primary-hover-bg-color);
    }

    &.btn-primary.active,
    &.btn-primary:active {
      @include bg-color($btn-primary-active-bg-color);
    }

    /* secondary, tertiary */
    &.btn-secondary {
      border: 1px solid $btn-secondary-border-color;
      background-color: $btn-secondary-bg-color;
    }

    &.btn-tertiary {
      border: none;
      background-color: transparent;
    }

    &.btn-secondary,
    &.btn-tertiary {
      color: $btn-secondary-text-color;

      & > .onex-dropdown__chevron-icon {
        color: $btn-secondary-text-color;
      }
    }

    &.btn-secondary:hover {
      border-color: $btn-secondary-hover-border-color;
    }

    &.btn-secondary:hover,
    &.btn-tertiary:hover {
      background-color: $btn-secondary-hover-bg-color;
    }

    &.btn-secondary:disabled,
    &.btn-secondary.disabled,
    &.btn-tertiary:disabled,
    &.btn-tertiary.disabled {
      opacity: $btn-dropdown-disabled-opacity;
      color: $btn-secondary-disabled-text-color;
    }

    &.btn-secondary.active,
    &.btn-secondary:active,
    &.btn-tertiary.active,
    &.btn-tertiary:active {
      color: $btn-secondary-active-text-color;
      background-color: $btn-secondary-active-bg-color;
      border-color: $btn-secondary-active-border-color;

      & > .onex-dropdown__chevron-icon {
        color: $btn-secondary-active-text-color;
      }
    }

    &.btn-md {
      @include btn-size($btn-min-width, $btn-height-md);
      padding: $btn-padding-y-md 0.5rem $btn-padding-y-md $btn-padding-x-md;
    }

    &.btn-sm {
      @include btn-size($btn-min-width, $btn-height-sm);
      padding: $btn-padding-y-sm $btn-padding-x-sm $btn-padding-y-sm $btn-padding-x-sm;
    }
  }

  &--text > .btn {
    &.btn-sm.btn-tertiary {
      padding: $btn-padding-y-sm $btn-padding-x-sm $btn-padding-y-sm $btn-padding-x-sm;
    }

    &.btn-md.btn-tertiary {
      padding: $btn-padding-y-md $btn-tertiary-padding-x-md $btn-padding-y-md $btn-tertiary-padding-x-md;
    }

    & > svg {
      margin-right: 0.25rem;
    }

    & > .onex-material-icon,
    & > .material-icons-round {
      margin-right: 0.25rem;
    }
  }

  /* buttonStyle (text, icon) */
  &--text > .dropdown-toggle::after,
  &--icon > .dropdown-toggle::after {
    display: none;
  }

  &--icon {
    &.onex-dropdown--default-icon > .btn {
      & > .onex-dropdown__chevron-icon {
        display: inline-block;
        margin-left: 0;
      }
    }

    & > .btn {
      & > .onex-dropdown__chevron-icon {
        display: none;
      }

    }

    //& > .onex-dropdown__chevron-icon {
    //  display: none;
    //}

    & > .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.btn-md {
        @include btn-icon-size($btn-height-md);
        padding: $btn-icon-type-padding-md;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-md);
          margin-right: 0;
        }

        & > .onex-material-icon,
        & > .material-icons-round {
          font-size: $btn-icon-type-icon-size-md;
          margin-right: 0;
        }
      }

      &.btn-sm {
        @include btn-icon-size($btn-height-sm);
        padding: $btn-icon-type-padding-sm;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-sm);
          margin-right: 0;
        }

        & > .onex-material-icon,
        & > .material-icons-round {
          font-size: $btn-icon-type-icon-size-sm;
          margin-right: 0;
        }
      }
    }
  }

  &.show > .dropdown-toggle {
    & > .onex-dropdown__chevron-icon {
      transform: rotateX(-180deg);
      transition: transform ease-in-out 0.15s;
    }

    &.btn-primary {
      @include bg-color($btn-primary-active-bg-color);

      &:focus {
        box-shadow: none;
      }
    }

    &.btn-secondary,
    &.btn-tertiary {
      color: $btn-secondary-active-text-color;
      background-color: $btn-secondary-active-bg-color;
      border-color: $btn-secondary-active-border-color;

      &:focus {
        box-shadow: none;
      }

      & > .onex-dropdown__chevron-icon {
        color: $btn-secondary-active-text-color;
      }
    }
  }

  .dropdown-menu {
    font-family: $font-family;
    border-radius: $menu-border-radius;
    font-size: $menu-font-size;
    line-height: $menu-line-height;
    padding: $menu-padding-y $menu-padding-x;
    border-color: $menu-border-color;
    box-shadow: 0 0.25rem 1.5rem $menu-box-shadow-color;
    min-width: 8rem;
    width: fit-content;

    &.dropdown-menu-end {
      left: auto !important;
      right: 0 !important;
    }

    &--list {
      padding-left: 0;
      list-style: none;
      margin: 0;
    }

    .dropdown-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      text-decoration: none;
      color: $menu-item-color;
      min-width: fit-content;
      max-width: 100%;

      & > span {
        padding-right: 0.5rem;
      }

      &:hover {
        background-color: $menu-item-hover-background-color;
      }

      &.active, &:active {
        background-color: $menu-item-active-background-color;

        &:hover {
          background-color: $menu-item-active-hover-background-color;
        }

        &.disabled, &:disabled {
          background-color: transparent;
        }
      }

      &.disabled, &:disabled {
        opacity: $menu-item-opacity;
      }
    }

    .dropdown-divider {
      margin: 0;
      border-top: 1px solid $divider-color;
      color: $divider-color;
      background-color: $divider-color;
      opacity: 1;
    }
  }
}
