$form-switch-input-bg: $secondary-500;
$form-switch-input-border: none;
$form-switch-height: $component-height-middle-sm;
$form-switch-focus-border: $secondary-500;
$form-switch-focus-box-shadow: none;

$form-switch-checked-input-bg: $primary;

$switch-check-input-hover-bg-color: $primary-700;
$switch-check-input-disabled-bg-color: $secondary;

/* Bootstrap variables */
$form-switch-color: $white;
$form-switch-width: 2.25rem;
$form-switch-padding-start: $form-switch-width + .5rem;
$form-switch-focus-color: $white;
