$onex-inline-edit-hover-bg-color: $secondary-20;
$onex-inline-edit-active-border-color: $primary-550;
$onex-inline-edit-disabled-text-color: $secondary-250;
$onex-inline-edit-hover-svg-color: $white;
$onex-inline-edit-status-button-width: 1.75rem;
$onex-inline-edit-status-button-height: 1.75rem;
$onex-inline-edit-icon-color: $secondary-550;
$onex-inline-edit-min-width: 16.625rem;
$onex-inline-edit-max-width: 31.25rem;

$onex-inline-edit-font-weight-600: $font-weight-600;
$onex-inline-edit-font-weight-400: $font-weight-400;
$onex-inline-edit-font-size-sm: $font-size-caption;
$onex-inline-edit-font-size-lg: $font-size-lg;
$onex-inline-edit-line-height-field: $font-size-label;
$onex-inline-edit-line-height-sm: $line-height-caption;
$onex-inline-edit-line-height-lg: $line-height-label;
