$onex-inline-edit-hover-bg-color: $secondary-100;
$onex-inline-edit-active-border-color: $primary-550;
$onex-inline-edit-disabled-text-color: $secondary-500;
$onex-inline-edit-hover-svg-color: $white;
$onex-inline-edit-status-button-width: 1.75rem;
$onex-inline-edit-status-button-height: 1.75rem;
$onex-inline-edit-icon-color: $secondary-600;
$onex-inline-edit-min-width: 16.625rem;
$onex-inline-edit-max-width: 31.25rem;
