$onex-avatar-height-xs: $component-height-middle-sm;
$onex-avatar-width-svg-xs: 0.9rem;
$onex-avatar-height-svg-xs: 0.75rem;

$onex-avatar-height-sm: $component-height-middle-lg;
$onex-avatar-font-size-sm: 0.5rem;
$onex-avatar-line-height-sm: 0.5rem;
$onex-avatar-width-svg-sm: 1rem;
$onex-avatar-height-svg-sm: 0.8rem;

$onex-avatar-height-md: 2rem;
$onex-avatar-width-svg-md: 1.2rem;
$onex-avatar-height-svg-md: 1rem;

$onex-avatar-height-lg: 2.5rem;
$onex-avatar-font-size-lg: $font-size-sm;
$onex-avatar-line-height-lg: $line-height-sm;
$onex-avatar-width-svg-lg: 1.5rem;
$onex-avatar-height-svg-lg: 1.3rem;

$onex-avatar-height-xl: 4rem;
$onex-avatar-width-svg-xl: 3rem;
$onex-avatar-height-svg-xl: 2rem;

$onex-avatar-height-xxl: 5rem;
$onex-avatar-font-size-xxl: $font-size-lg;
$onex-avatar-line-height-xxl: $line-height-lg;
$onex-avatar-width-svg-xxl: 4rem;
$onex-avatar-height-svg-xxl: 3rem;

$onex-avatar-border-radius: 50%;
