.onex-data-grid-filters {
  display: flex;
  justify-content: space-between;
  padding: $onex-data-grid-filters-padding;

  &-container {
    display: flex;
  }

  &-wrapper {
    margin-right: $onex-data-grid-filters-wrapper-margin;
  }
}
