$pagination-item-border-radius: 0.375rem;
$pagination-item-margin-right: 0.5rem;
$pagination-item-hover-background: $primary-700;
$pagination-active-item-hover-background: $primary;
$pagination-item-sm-size: 1.75rem;
$pagination-item-lg-size: 2.5rem;
$pagination-item-sm-font-size: 0.75rem;
$pagination-item-lg-font-size: 0.875rem;
$pagination-arrow-color: $primary;
$pagination-arrow-color-disabled: $secondary-500;
$pagination-button-margin: 1.5rem;
$pagination-button-margin-last-child: 1rem;
