$table-pagination-width: 23rem;
$table-pagination-font-family: $font-family;
$table-pagination-rows-text-font-size: $font-size-label;
$table-pagination-rows-text-line-height: $line-height-label;
$table-pagination-rows-color: $secondary-900;
$table-pagination-rows-select-min-width: 4.5rem;
$table-pagination-rows-select-margin-left: 0.5rem;

$table-pagination-text-color: $primary-720;
$table-pagination-next-color-hover: $primary-500;
$table-pagination-next-color-disabled: $secondary-250;
$table-pagination-next-margin-left: 0.5rem;
