.onex-table-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $table-pagination-width;
  font-family: $table-pagination-font-family;
  &__rows-per-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $table-pagination-rows-text-font-size;
    line-height: $table-pagination-rows-text-line-height;
    color: $table-pagination-rows-color;
  }

  &__rows-text {
    display: inline-block;
    &-info {
      display: inline-block;
      font-weight: 600;
      font-size: $table-pagination-rows-text-font-size;
      line-height: $table-pagination-rows-text-line-height;
    }
  }

  .onex-table-pagination__rows-select{
    min-width: $table-pagination-rows-select-min-width;
    margin-left: $table-pagination-rows-select-margin-left;
  }

  .page-arrows {
    display: flex;
    flex-direction: row;
    &___button-next {
      margin-left: $table-pagination-next-margin-left;
    }
  }
}
