@mixin badge-size($height, $line-height, $font-size, $svg-size, $border-radius) {
  height: $height;
  line-height: $line-height;
  font-size: $font-size;
  border-radius: $border-radius;

  & .c-badge__icon svg {
    width: $svg-size;
    height: $svg-size;
  }
}

@mixin bg-text-color($bg-color, $text-color: false) {
  background-color: $bg-color;

  @if $text-color {
    color: $text-color;
  }
}

@mixin badge-type-color() {
  $types: 'default' $c-badge-default-bg-color,
  'default-invert' $c-badge-default-inverted-bg-color,
  'important' $c-badge-important-bg-color $c-badge-color-text,
  'primary' $c-badge-primary-bg-color $c-badge-color-text,
  'added' $c-badge-added-bg-color $c-badge-added-text-color,
  'removed' $c-badge-removed-bg-color $c-badge-removed-text-color;

  @each $type, $bg-color, $text-color in $types {
    &.bg-#{$type} {
      @include bg-text-color(#{$bg-color}, #{$text-color});
    }
  }
}
