@mixin badge-size($height, $line-height, $font-size, $svg-size, $border-radius) {
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    border-radius: $border-radius;

    & .onex-badge__icon svg {
        width: $svg-size;
        height: $svg-size;
    }
}

@mixin bg-text-color($bg-color, $text-color: false) {
    background-color: $bg-color;

    @if $text-color {
        color: $text-color;
    }
}

@mixin badge-type-color() {
    $types: 'default' $onex-badge-default-bg-color,
        'default-invert' $onex-badge-default-inverted-bg-color,
        'important' $onex-badge-important-bg-color $onex-badge-color-text,
        'primary' $onex-badge-primary-bg-color $onex-badge-color-text,
        'added' $onex-badge-added-bg-color $onex-badge-added-text-color,
        'removed' $onex-badge-removed-bg-color $onex-badge-removed-text-color;

    @each $type, $bg-color, $text-color in $types {
        &.bg-#{$type} {
            @include bg-text-color(#{$bg-color}, #{$text-color});
        }
    }
}
