$c-badge-height-sm: $component-height-middle-sm;
$c-badge-font-size-sm: $font-size-sm;
$c-badge-icon-size-sm: $icon-size-small-sm;
$c-badge-line-height-sm: $line-height-sm;
$c-badge-border-radius-sm: $component-border-radius-sm;

$c-badge-height-lg: $component-height-middle-lg;
$c-badge-font-size-lg: $font-size-lg;
$c-badge-icon-size-lg: $icon-size-small-lg;
$c-badge-line-height-lg: $line-height-lg;
$c-badge-border-radius-lg: 1.25rem;

$c-badge-font-weight: 400;
$c-badge-text-color: $black;
$c-badge-padding-y: 0.125rem;
$c-badge-padding-x: 0.375rem;

$c-badge-default-bg-color: $secondary-200;
$c-badge-default-inverted-bg-color: $white;
$c-badge-important-bg-color: $error;
$c-badge-primary-bg-color: $primary;
$c-badge-color-text: $white;
$c-badge-added-bg-color: $success-100;
$c-badge-added-text-color: $success-500;
$c-badge-removed-bg-color: $error-100;
$c-badge-removed-text-color: $error-500;

/* bootstrap variables */
$badge-font-size: $c-badge-font-size-sm;
$badge-font-weight: $c-badge-font-weight;
$badge-color: $c-badge-text-color;
$badge-padding-y: $c-badge-padding-y;
$badge-padding-x: $c-badge-padding-x;
$badge-border-radius: $c-badge-border-radius-sm;
