@import 'mixins';

.c-badge {
  @include badge-type-color();

  display: inline-flex;
  align-items: center;

  & .c-badge__icon {
    display: inline-flex;
    margin-left: 2px;
  }

  &--size-sm {
    @include badge-size($c-badge-height-sm, $c-badge-line-height-sm, $c-badge-font-size-sm, $c-badge-icon-size-sm, $c-badge-border-radius-sm);
  }

  &--size-lg {
    @include badge-size($c-badge-height-lg, $c-badge-line-height-lg, $c-badge-font-size-lg, $c-badge-icon-size-lg, $c-badge-border-radius-lg);
  }
}
