$inline-edit-select-width: 31.25rem;
$inline-edit-select-min-width: 15.625rem;
$inline-edit-select-background-hover: $secondary-20;
$onex-inline-edit-status-button-width: 1.75rem;
$onex-inline-edit-status-button-height: 1.75rem;
