.inline-edit-select-wrapper {
    max-width: $inline-edit-select-width;
    min-width: $inline-edit-select-min-width;
    .inline-edit-select {
        .onex-select__control {
            background-color: white;
            border: none;
            .onex-select__indicators {
                display: none;
            }
            &:hover {
                background-color: $inline-edit-select-background-hover;
                cursor: pointer;
                .onex-select__indicators {
                    display: flex;
                }
            }
        }
    }
}

.status-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;

  &__complete, &__cancel {
    min-width: $onex-inline-edit-status-button-width !important;
    width: $onex-inline-edit-status-button-width;
    height: $onex-inline-edit-status-button-height !important;
  }

  &__complete {
    margin-right: 5px;
    padding: 0.375rem;
    justify-content: center;
    background-color: rgba(0, 112, 168, 1) !important;
    border-color: rgba(0, 112, 168, 1) !important;
  }

  &__cancel {
    padding: 0.375rem;
    justify-content: center;
    background-color: rgba(209, 216, 224, 1) !important;
    border-color: rgba(209, 216, 224, 1) !important;

    & svg path {
      fill: $primary-800 !important;
    }
  }
}
