@import 'mixins';

.onex-switch {
  @include default-switch-styles();
  font-family: $font-family;
  font-size: $form-switch-font-size;
  line-height: $form-switch-line-height;

  .form-check-input {
    height: $form-switch-height;
    background-color: $form-switch-input-bg;
    border: 1px solid $form-switch-input-border;
    box-sizing: border-box;
    margin-top: ($line-height-base - $form-switch-height) * 0.5;
    -webkit-appearance: none;
    float: left;

    &:hover,
    &:focus {
      @include switch-background-image($onex-form-switch-hover-color);
      border-color: $onex-form-switch-hover-border;
      cursor: pointer;
      box-shadow: none;
    }

    &:checked {
      background-color: $form-switch-checked-input-bg;
      border-color: $form-switch-checked-input-bg;

      &:hover,
      &:focus {
        @include switch-background-image($onex-form-switch-checked-hover-color);
        background-color: $onex-form-switch-hover-checked-input-bg;
        border-color: $onex-form-switch-hover-checked-input-bg;
        box-shadow: none;
      }

      &:disabled {
        border-color: $form-switch-checked-input-bg;
      }
    }
  }

  .form-check-input:active {
    filter: none;
  }

  .form-check-input:disabled {
    @include switch-background-image($onex-form-switch-disabled-color);
    border-color: $onex-form-switch-input-disabled-border-color;
    opacity: $onex-form-switch-disabled-opacity;
  }
}
