/* fonts */
/* button */
/* dropdown menu */
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.onex-badge {
  height: 1.25rem;
  line-height: 1rem;
  font-size: 0.75rem;
  border-radius: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.onex-badge.badge {
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: noto-sans, sans-serif;
  color: black;
  border-radius: 1.25rem;
}
.onex-badge .onex-badge__icon svg,
.onex-badge svg {
  width: 1rem;
  height: 1rem;
}
.onex-badge .onex-badge__icon {
  display: inline-flex;
}
.onex-badge.onex-badge--variant-counter.bg-default {
  background-color: #e7eef5 !important;
}
.onex-badge.onex-badge--variant-counter.bg-default-invert {
  background-color: #585f68 !important;
  color: white;
}
.onex-badge.onex-badge--variant-counter.bg-default-invert svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-counter.bg-important {
  background-color: #d91522 !important;
  color: white;
}
.onex-badge.onex-badge--variant-counter.bg-important svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-counter.bg-primary {
  background-color: #0070c0 !important;
  color: white;
}
.onex-badge.onex-badge--variant-counter.bg-primary svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-counter.bg-added {
  background-color: #e0f6ea !important;
  color: #2f8336;
}
.onex-badge.onex-badge--variant-counter.bg-added svg path {
  fill: #2f8336;
}
.onex-badge.onex-badge--variant-counter.bg-removed {
  background-color: #ffecee !important;
  color: #e40707;
}
.onex-badge.onex-badge--variant-counter.bg-removed svg path {
  fill: #e40707;
}
.onex-badge.onex-badge--variant-status {
  border-radius: 0.25rem !important;
  text-transform: uppercase;
}
.onex-badge.onex-badge--variant-status.bg-default {
  background-color: rgba(103, 110, 122, 0.1) !important;
  color: #676e7a;
  border: 1px solid rgba(26, 28, 30, 0.1) !important;
}
.onex-badge.onex-badge--variant-status.bg-default svg path {
  fill: #676e7a;
}
.onex-badge.onex-badge--variant-status.bg-info {
  background-color: #e7f2fe !important;
  color: #0070c0;
  border: 1px solid #c6e3fc !important;
}
.onex-badge.onex-badge--variant-status.bg-info svg path {
  fill: #0070c0;
}
.onex-badge.onex-badge--variant-status.bg-success {
  background-color: #e0f6ea !important;
  color: #007e4c;
  border: 1px solid #b5ebd4 !important;
}
.onex-badge.onex-badge--variant-status.bg-success svg path {
  fill: #007e4c;
}
.onex-badge.onex-badge--variant-status.bg-warning {
  background-color: #fff1b8 !important;
  color: #c44000;
  border: 1px solid #fdde68 !important;
}
.onex-badge.onex-badge--variant-status.bg-warning svg path {
  fill: #c44000;
}
.onex-badge.onex-badge--variant-status.bg-important {
  background-color: #ffecee !important;
  color: #d91522;
  border: 1px solid #fdd7d9 !important;
}
.onex-badge.onex-badge--variant-status.bg-important svg path {
  fill: #d91522;
}
.onex-badge.onex-badge--variant-status-bold {
  border-radius: 0.25rem !important;
  text-transform: uppercase;
}
.onex-badge.onex-badge--variant-status-bold.bg-default {
  background-color: #585f68 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-default svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-info {
  background-color: #0070c0 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-info svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-success {
  background-color: #007e4c !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-success svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-warning {
  background-color: #fcb916 !important;
  color: black;
}
.onex-badge.onex-badge--variant-status-bold.bg-warning svg path {
  fill: black;
}
.onex-badge.onex-badge--variant-status-bold.bg-important {
  background-color: #d91522 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-bold.bg-important svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem !important;
  padding: 0.125rem 0.125rem;
  width: 1.25rem;
}
.onex-badge.onex-badge--variant-status-icon.bg-default {
  background-color: #585f68 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-default svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-info {
  background-color: #0070c0 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-info svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-success {
  background-color: #007e4c !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-success svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-warning {
  background-color: #fcb916 !important;
  color: black;
}
.onex-badge.onex-badge--variant-status-icon.bg-warning svg path {
  fill: black;
}
.onex-badge.onex-badge--variant-status-icon.bg-important {
  background-color: #d91522 !important;
  color: white;
}
.onex-badge.onex-badge--variant-status-icon.bg-important svg path {
  fill: white;
}
.onex-badge.onex-badge--variant-status-icon .onex-badge__icon svg,
.onex-badge.onex-badge--variant-status-icon svg {
  width: 1rem;
  height: 1rem;
}