@use "sass:map";

$custom-colors: (
  'green': #c3d500,
  'blue': #002855,
  'ocean': #0055b7,
  'turquoise': #057da5,
  'turquoise-brand': #008fbe,
  'teal': #007f7b,
  'fuschia': #d7006d,
);
//$theme-colors: map-merge($theme-colors, $custom-colors);

$inclusive-colors: (
  'tone-1': #eacbc6,
  'tone-2': #f7dfc4,
  'tone-3': #b8906e,
  'tone-4': #966744,
  'tone-5': #57463a,
  'tone-6': #d9b997,
);

$action-colors: (
  'standard': #057da5,
  'reversed': #2ee6e5,
  'critical': #f66662,
);

$action-colors: (
  'positive': #007f7b,
  'pending': #f1be4b,
  'negative': #f66662,
);

$cool-grays: (
  'cool-gray-1': #3e454d,
  'cool-gray-2': #66707d,
  'cool-gray-3': #d1d8e0,
  'cool-gray-4': #eaedf0,
  'cool-gray-5': #f0f2f4,
  'cool-gray-6': #f7f8f9,
);

$white: #fff;
$gray-100: map.get($cool-grays, 'cool-gray-6');
$gray-200: map.get($cool-grays, 'cool-gray-5');
$gray-300: map.get($cool-grays, 'cool-gray-4');
$gray-400: map.get($cool-grays, 'cool-gray-3');
$gray-500: map.get($cool-grays, 'cool-gray-2');
$gray-600: map.get($cool-grays, 'cool-gray-1');
// colors not defined in PCD
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: map.get($custom-colors, 'blue');
$pink: map.get($custom-colors, 'fuschia');
$red: map.get($custom-colors, 'fuschia');
$yellow: map.get($custom-colors, 'pending');
$green: map.get($custom-colors, 'positive');
$teal: map.get($custom-colors, 'teal');
$cyan: map.get($custom-colors, 'turquoise');
// colors not defined in PCD
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$orange: #fd7e14 !default;

$primary: map.get($custom-colors, 'turquoise');
$secondary: map.get($custom-colors, 'fuschia');
$success: map.get($action-colors, 'positive');
$info: map.get($custom-colors, 'turquoise');
$warning: map.get($action-colors, 'pending');
$danger: map.get($action-colors, 'negative');
$light: $gray-100 !default;
$dark: $gray-600 !default;
