// Modal
.modal {
  min-width: 320px;
  position: fixed;
  overflow-y: hidden !important;
  height: 100%;
  width: 100vw;
  padding-left: 0 !important;
  .modal-full {
    display: flex;
    max-width: 100%;
    margin: 0;
    height: 100%;
  }
  .modal-container {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .modal-header {
    border-bottom: none;
    .button-back {
      span {
        display: none;
      }
    }
    .modal-title {
      text-align: center;
      font-size: 1.3125rem;
      font-weight: bold;
      line-height: 1.5rem;
      margin: 0;
    }
  }
  .modal-content {
    color: inherit;
    border: none;
    border-radius: 0;
  }

  &.custom-close .modal-header {
    button.close {
      display: none;
      &.custom-close {
        display: block;
      }
    }
  }
}

@include media-breakpoint-up('md') {
  .modal .modal-header .button-back span {
    display: flex;
  }
}
