h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}
h1,
.h1 {
  line-height: 3rem;
}
h2,
.h2 {
  line-height: 2rem;
}

sub {
  font-size: 0.66rem;
  line-height: 1.055rem;
}

small,
.small {
  font-size: 1rem;
  line-height: 1.1875rem;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
  &.small {
    font-size: 1rem;
    line-height: 1.1875rem;
  }
  &.large {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@include media-breakpoint-up(sm) {
  h1,
  .h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h3,
  .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  h4,
  .h4 {
    font-size: 1.3125rem;
  }
  h5,
  .h5 {
    font-size: 1.125rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
}
@include media-breakpoint-up(md) {
  p.large {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}
@include media-breakpoint-up(lg) {
  p.large {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}
