@import 'mixins';

.onex-nav__item-dropdown {
    @include default-nav-item-dropdown();

    &.active {
        .nav-link {
            color: $onex-nav-item-active-text-color;

            &:hover {
                color: $onex-nav-item-hover-text-color;
            }

            &:hover::before {
                content: '';
                background-color: $onex-nav-item-hover-text-color;
            }

            &::before {
                content: '';
                background-color: $onex-nav-item-active-text-color;
            }
        }
    }

    &.nav-item.show .nav-link {
        &:hover {
            color: $onex-nav-item-hover-text-color;
        }
    }

    &.show > .dropdown-toggle {
        &::after {
            transform: rotateX(-180deg);
            transition: transform ease-in-out 0.15s;
        }
    }

    .dropdown-menu {
        border-radius: $onex-nav-dropdown-menu-border-radius;
        font-size: $onex-nav-dropdown-menu-font-size;
        line-height: $onex-nav-dropdown-menu-line-height;
        padding: $onex-nav-dropdown-menu-padding-y $onex-nav-dropdown-menu-padding-x;
        min-width: $onex-nav-dropdown-menu-min-width;
        border-color: $onex-nav-dropdown-border-color;
    }

    .dropdown-item {
        padding: $onex-nav-dropdown-menu-item-padding-y $onex-nav-dropdown-menu-item-padding-x;
        border-radius: $onex-nav-dropdown-menu-border-radius;
        color: $onex-nav-dropdown-text-color;

        &:hover {
            background-color: $onex-nav-dropdown-hover-color;
        }

        &.active {
            position: relative;
            color: $onex-dropdown-link-active-color;

            &::before {
                content: '';
                position: absolute;
                left: -#{$onex-nav-dropdown-menu-padding-x};
                top: $onex-nav-dropdown-menu-item-padding-y;
                height: calc(100% - 2 * #{$onex-nav-dropdown-menu-item-padding-y});
                width: $onex-nav-dropdown-active-border-width;
                border-radius: $onex-nav-dropdown-active-border-radius;
                background-color: $onex-dropdown-link-active-color;
            }
        }
    }
}
