.onex-dataGrid > .onex-dataGrid__rowsSection {
    width: 100%;
    thead {
      .onex-dataGrid__sectionHeader {
        position: relative;
        th {
          font-size: 16px;
          font-weight: bold;
          padding-left: 12px;
        }
        .isShown {
            transform: rotate(180deg);
        }
        .onex-dataGrid__showRowsIndicator {
          position: absolute;
          top: 20px;
          right: 21px;
        }
        &:hover {
            cursor: pointer;
        }
      }
      .onex-dataGrid__sectionHeaders {
        background-color: #f8f9fb;
        th span {
          color: #676e7a;
        }
      }
    }

    tr {
      height: 3rem;
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid $secondary-900-opacity-10;

      td {
        margin-left: 0rem;
      }

      td:first-child {
        span {
          margin-left: 1rem;
        }
      }

      th {
        margin-left: 0rem;
      }

      th:first-child {
        span {
          margin-left: 1rem;
        }
      }
    }

    tr:hover {
      background: rgba(103, 110, 122, 0.1);
      cursor: pointer;
    }

    .onex-dataGrid__rowCheck {
      margin-left: 1rem;
    }
    .onex-dataGrid__rowIcon {
      text-align: center;
    }
  }
