$onex-nav-dropdown-border-color: $secondary;
$onex-nav-dropdown-text-color: $primary-720;
$onex-nav-dropdown-hover-color: $secondary-200;

$onex-nav-dropdown-menu-border-radius: $component-border-radius-lg;
$onex-nav-dropdown-menu-font-size: $font-size-lg;
$onex-nav-dropdown-menu-line-height: $line-height-lg;
$onex-nav-dropdown-menu-padding-x: $dropdown-menu-padding-x-lg;
$onex-nav-dropdown-menu-padding-y: $dropdown-menu-padding-y-lg;
$onex-nav-dropdown-menu-min-width: $dropdown-menu-min-width-lg;
$onex-nav-dropdown-menu-item-padding-x: $dropdown-menu-item-padding-x-lg;
$onex-nav-dropdown-menu-item-padding-y: $dropdown-menu-item-padding-y-lg;
$onex-nav-dropdown-active-border-width: 0.25rem;
$onex-nav-dropdown-active-border-radius: 0.125rem;

$onex-dropdown-link-active-color: $primary-500;
$onex-dropdown-link-active-bg-color: $transparent;

$onex-menu-item-text-color: $black;
$onex-menu-dropdown-border-color: $secondary;
$onex-menu-dropdown-disabled-text-color: $secondary-500;
$onex-menu-dropdown-hover-bg-color: $secondary-200;

$onex-menu-dropdown-border-width: 1px;
