/* fonts */
/* button */
/* dropdown menu */
.dropup,
.dropend,
.dropdown,
.dropstart {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 8rem;
  padding: 0.625rem 0.375rem;
  margin: 0;
  font-size: 0.75rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #d1d8e0;
  border-radius: 0.375rem;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}

.dropdown-menu-start {
  --bs-position: start;
}
.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: 0;
}

.dropdown-menu-end {
  --bs-position: end;
}
.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-start {
    --bs-position: start;
  }
  .dropdown-menu-sm-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-end {
    --bs-position: end;
  }
  .dropdown-menu-sm-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-start {
    --bs-position: start;
  }
  .dropdown-menu-md-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-end {
    --bs-position: end;
  }
  .dropdown-menu-md-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-start {
    --bs-position: start;
  }
  .dropdown-menu-lg-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-end {
    --bs-position: end;
  }
  .dropdown-menu-lg-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-start {
    --bs-position: start;
  }
  .dropdown-menu-xl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-end {
    --bs-position: end;
  }
  .dropdown-menu-xl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1400px) {
  .dropdown-menu-xxl-start {
    --bs-position: start;
  }
  .dropdown-menu-xxl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xxl-end {
    --bs-position: end;
  }
  .dropdown-menu-xxl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropend .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropend .dropdown-toggle::after {
  vertical-align: 0;
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropstart .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropstart .dropdown-toggle::after {
  display: none;
}
.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropstart .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropstart .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #0070c0;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #212529;
}

.dropdown-menu-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: white;
  background-color: #0070c0;
}
.dropdown-menu-dark .dropdown-item.disabled, .dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
}
.dropdown-menu-dark .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item-text {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-header {
  color: #adb5bd;
}

.onex-dropdown {
  /* buttonStyle (text, icon) */
}
.onex-dropdown > .btn {
  position: relative;
  font-family: noto-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* primary */
  /* secondary, tertiary */
}
.onex-dropdown > .btn.btn-primary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='white'%3e%3c/path%3e%3c/svg%3e");
}
.onex-dropdown > .btn.btn-primary:disabled, .onex-dropdown > .btn.btn-primary.disabled {
  opacity: 0.4;
}
.onex-dropdown > .btn.btn-primary:focus, .onex-dropdown > .btn.btn-primary.onex-btn-selected:focus, .onex-dropdown > .btn.btn-primary:focus {
  background-color: #0070c0;
  border-color: #0070c0;
}
.onex-dropdown > .btn.btn-primary.focus:hover, .onex-dropdown > .btn.btn-primary.onex-btn-selected:hover, .onex-dropdown > .btn.btn-primary:hover {
  background-color: #005fab;
  border-color: #005fab;
}
.onex-dropdown > .btn.btn-secondary {
  border: 1px solid rgba(26, 28, 30, 0.2);
}
.onex-dropdown > .btn.btn-tertiary {
  border: none;
}
.onex-dropdown > .btn.btn-secondary, .onex-dropdown > .btn.btn-tertiary {
  color: #676e7a;
  background-color: white;
}
.onex-dropdown > .btn.btn-secondary.dropdown-toggle::after, .onex-dropdown > .btn.btn-tertiary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='%23676e7a'%3e%3c/path%3e%3c/svg%3e");
}
.onex-dropdown > .btn.btn-secondary:hover {
  border-color: rgba(26, 28, 30, 0.5);
}
.onex-dropdown > .btn.btn-secondary:hover, .onex-dropdown > .btn.btn-tertiary:hover {
  background-color: rgba(103, 110, 122, 0.1);
}
.onex-dropdown > .btn.btn-secondary:disabled, .onex-dropdown > .btn.btn-secondary.disabled, .onex-dropdown > .btn.btn-tertiary:disabled, .onex-dropdown > .btn.btn-tertiary.disabled {
  opacity: 0.4;
  color: #1a1c1e;
}
.onex-dropdown > .btn.btn-md {
  min-width: 5rem;
  height: 2.5rem;
  padding: 0.625rem 0.5rem 0.625rem 0.75rem;
}
.onex-dropdown > .btn.btn-sm {
  min-width: 5rem;
  height: 2rem;
  padding: 0.375rem 0.5rem 0.375rem 0.75rem;
}
.onex-dropdown--text > .dropdown-toggle::after, .onex-dropdown--default-icon > .dropdown-toggle::after {
  content: "";
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  border: none;
  margin-left: 0.25rem;
  vertical-align: middle;
}
.onex-dropdown--icon.onex-dropdown--default-icon > .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
}
.onex-dropdown--icon > .dropdown-toggle::after {
  display: none;
}
.onex-dropdown--icon > .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.onex-dropdown--icon > .btn.btn-md {
  min-width: 2.5rem;
  min-height: 2.5rem;
  height: auto;
  padding: 0.625rem;
}
.onex-dropdown--icon > .btn.btn-md > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-dropdown--icon > .btn.btn-sm {
  min-width: 2rem;
  min-height: 2rem;
  height: auto;
  padding: 0.375rem;
}
.onex-dropdown--icon > .btn.btn-sm > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-dropdown.show > .dropdown-toggle::after {
  transform: rotateX(-180deg);
  transition: transform ease-in-out 0.15s;
}
.onex-dropdown.show > .dropdown-toggle.btn-primary {
  background-color: #004786;
  border-color: #004786;
}
.onex-dropdown.show > .dropdown-toggle.btn-secondary, .onex-dropdown.show > .dropdown-toggle.btn-tertiary {
  color: #1a1c1e;
  background-color: #dde0e5;
  border-color: rgba(26, 28, 30, 0.5);
}
.onex-dropdown.show > .dropdown-toggle.btn-secondary.dropdown-toggle::after, .onex-dropdown.show > .dropdown-toggle.btn-tertiary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='%231a1c1e'%3e%3c/path%3e%3c/svg%3e");
}
.onex-dropdown .dropdown-menu {
  font-family: noto-sans, sans-serif;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0;
  max-height: 15.5rem;
  overflow: hidden;
}
.onex-dropdown .dropdown-menu--search {
  margin: 0.5rem 0.75rem 0.625rem 0.75rem;
  min-width: 13.5rem;
}
.onex-dropdown .dropdown-menu--list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  max-height: 10rem;
  overflow-y: scroll;
  margin-right: 0.75rem;
  scrollbar-color: rgba(26, 28, 30, 0.1) transparent;
  scrollbar-width: thin;
}
.onex-dropdown .dropdown-menu--list::-webkit-scrollbar {
  width: 0.25rem;
}
.onex-dropdown .dropdown-menu--list::-webkit-scrollbar-track {
  background: white;
}
.onex-dropdown .dropdown-menu--list::-webkit-scrollbar-thumb {
  background: rgba(26, 28, 30, 0.1);
  background-clip: padding-box;
  border-radius: 0.125rem;
}
.onex-dropdown .dropdown-menu .dropdown-item {
  padding: 0.625rem 0.75rem;
  text-decoration: none;
  color: #1a1c1e;
  min-width: 13.5rem;
}
.onex-dropdown .dropdown-menu .dropdown-item > span {
  padding-right: 0.5rem;
}
.onex-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(103, 110, 122, 0.1);
}
.onex-dropdown .dropdown-menu .dropdown-item.active, .onex-dropdown .dropdown-menu .dropdown-item:active {
  background-color: #c6e3fc;
}
.onex-dropdown .dropdown-menu .dropdown-item.active:hover, .onex-dropdown .dropdown-menu .dropdown-item:active:hover {
  background-color: #8dcaf9;
}
.onex-dropdown .dropdown-menu .dropdown-item.active.disabled, .onex-dropdown .dropdown-menu .dropdown-item.active:disabled, .onex-dropdown .dropdown-menu .dropdown-item:active.disabled, .onex-dropdown .dropdown-menu .dropdown-item:active:disabled {
  background-color: transparent;
}
.onex-dropdown .dropdown-menu .dropdown-item.disabled, .onex-dropdown .dropdown-menu .dropdown-item:disabled {
  opacity: 0.4;
}