@mixin font-style($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin text-align() {
    $aligns: 'center', 'inherit', 'justify', 'left', 'right';

    @each $align in $aligns {
        &.onex-typography--align-#{$align} {
            text-align: #{$align};
        }
    }
}

@mixin text-link() {
    &.onex-typography--body,
    &.onex-typography--caption {
        text-decoration-line: underline;
        color: $primary;
    }
}
