$c-typography-heading-font-weight: $font-weight-600;
//title
$c-typography-title-font-size: 2.813rem;
$c-typography-title-line-height: 3rem;

//h1
$c-typography-h1-font-size: $font-size-h1;
$c-typography-h1-line-height: $line-height-h1;

//h2
$c-typography-h2-font-size: $font-size-h2;
$c-typography-h2-line-height: $line-height-h2;

//h3
$c-typography-h3-font-size: $font-size-h3;
$c-typography-h3-line-height: $line-height-h3;

//h4
$c-typography-h4-font-weight: $font-weight-600;
$c-typography-h4-font-size: $font-size-h4;
$c-typography-h4-line-height: $line-height-h3;

//h5
$c-typography-h5-font-weight: $font-weight-600;
$c-typography-h5-font-size: $font-size-h5;
$c-typography-h5-line-height: $line-height-h5;

//body
$c-typography-body-lg-font-size: $font-size-lg;
$c-typography-body-lg-line-height: 1.5rem;
$c-typography-body-sm-font-size: $font-size-sm;
$c-typography-body-sm-line-height: $line-height-lg;

//button
$c-typography-button-lg-font-size: $font-size-lg;
$c-typography-button-lg-line-height: $line-height-lg;
$c-typography-button-sm-font-size: $font-size-sm;
$c-typography-button-sm-line-height: $line-height-sm;

//caption
$c-typography-caption-lg-font-size: $font-size-lg;
$c-typography-caption-lg-line-height: $line-height-lg;
$c-typography-caption-sm-font-size: $font-size-sm;
$c-typography-caption-sm-line-height: $line-height-sm;



