@import '_mixins';

.c-typography {
  display: block;
  font-family: $font-family;
  margin: 0;
  @include text-align();

  &--link {
    @include text-link();
  }

  &--margin-bottom {
    margin-bottom: 0.5rem;
  }

  &--no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--title,
  &--h1,
  &--h2,
  &--h3,
  &--h4,
  &--h5 {
    font-weight: $c-typography-heading-font-weight;
  }


  &--title {
    @include font-style($c-typography-title-font-size, $c-typography-title-line-height);
  }


  &--h1 {
    @include font-style($c-typography-h1-font-size, $c-typography-h1-line-height);
  }

  &--h2 {
    @include font-style($c-typography-h2-font-size, $c-typography-h2-line-height);
  }

  &--h3 {
    @include font-style($c-typography-h3-font-size, $c-typography-h3-line-height);
  }

  &--h4 {
    @include font-style($c-typography-h4-font-size, $c-typography-h4-line-height);
  }

  &--h5 {
    @include font-style($c-typography-h5-font-size, $c-typography-h5-line-height);
  }

  &--body {
    &.c-typography--lg {
      @include font-style($c-typography-body-lg-font-size, $c-typography-body-lg-line-height);
    }

    &.c-typography--sm {
      @include font-style($c-typography-body-sm-font-size, $c-typography-body-sm-line-height);
    }
  }

  &--button {
    font-weight: $font-weight-600;

    &.c-typography--lg {
      @include font-style($c-typography-button-lg-font-size, $c-typography-button-lg-line-height);
    }

    &.c-typography--sm {
      @include font-style($c-typography-button-sm-font-size, $c-typography-button-sm-line-height);
    }
  }

  &--caption {
    &.c-typography--lg {
      @include font-style($c-typography-caption-lg-font-size, $c-typography-caption-lg-line-height);
    }

    &.c-typography--sm {
      @include font-style($c-typography-caption-sm-font-size, $c-typography-caption-sm-line-height);
    }
  }

}
