@import '_mixins';

.onex-typography {
    display: block;
    font-family: $font-family;
    margin: 0;
    @include text-align();

    &--link {
        @include text-link();
    }

    &--margin-bottom {
        margin-bottom: 0.5rem;
    }

    &--no-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &--title,
    &--h1,
    &--h2,
    &--h3,
    &--h4,
    &--h5 {
        font-weight: $onex-typography-heading-font-weight;
    }

    &--title {
        @include font-style($onex-typography-title-font-size, $onex-typography-title-line-height);
    }

    &--h1 {
        @include font-style($onex-typography-h1-font-size, $onex-typography-h1-line-height);
    }

    &--h2 {
        @include font-style($onex-typography-h2-font-size, $onex-typography-h2-line-height);
    }

    &--h3 {
        @include font-style($onex-typography-h3-font-size, $onex-typography-h3-line-height);
    }

    &--h4 {
        @include font-style($onex-typography-h4-font-size, $onex-typography-h4-line-height);
    }

    &--h5 {
        @include font-style($onex-typography-h5-font-size, $onex-typography-h5-line-height);
    }

    &--body {
        &.onex-typography--lg {
            @include font-style(
                $onex-typography-body-lg-font-size,
                $onex-typography-body-lg-line-height
            );
        }

        &.onex-typography--sm {
            @include font-style(
                $onex-typography-body-sm-font-size,
                $onex-typography-body-sm-line-height
            );
        }
    }

    &--button {
        font-weight: $font-weight-600;

        &.onex-typography--lg {
            @include font-style(
                $onex-typography-button-lg-font-size,
                $onex-typography-button-lg-line-height
            );
        }

        &.onex-typography--sm {
            @include font-style(
                $onex-typography-button-sm-font-size,
                $onex-typography-button-sm-line-height
            );
        }
    }

    &--caption {
        &.onex-typography--lg {
            @include font-style(
                $onex-typography-caption-lg-font-size,
                $onex-typography-caption-lg-line-height
            );
        }

        &.onex-typography--sm {
            @include font-style(
                $onex-typography-caption-sm-font-size,
                $onex-typography-caption-sm-line-height
            );
        }
    }
}
