.onex-data-grid-select-badge {
    padding: 0 !important;

    .onex-select.is-badged .onex-select__control {
            background: transparent;

            .onex-select__indicators {
                cursor: pointer;
            }
        }

    .onex-data-grid-tooltip {
        background-color: transparent;
        border: none;
    }
}