$onex-data-grid-table-margin-bottom: 0.5rem;

$onex-data-grid-table-header-background-color: $white;
$onex-data-grid-table-header-color-hover: $secondary-900;
$onex-data-grid-table-header-background-color-hover: $secondary-500-opacity-01;
$onex-data-grid-table-header-border-bottom-color: $secondary-900-opacity-10;

$onex-data-grid-table-header-sort-by-icon-font-size: $font-size-body;
$onex-data-grid-table-header-sort-by-icon-line-height: $line-height-caption;
$onex-data-grid-table-header-sort-by-icon-height: 1rem;
$onex-data-grid-table-header-sort-by-icon-width: 0.75rem;
$onex-data-grid-table-header-sort-by-icon-padding-x: 0.25rem;

$onex-data-grid-table-header-border-radius: 0.5rem;
$onex-data-grid-table-header-th-padding-x: 1rem;
$onex-data-grid-table-header-th-padding-y: 0.75rem;
$onex-data-grid-table-header-th-color: $secondary-500;
$onex-data-grid-table-header-th-hover-color: $secondary-900;
$onex-data-grid-table-header-font-size: $font-size-caption;
$onex-data-grid-table-header-line-height: $line-height-caption;

$onex-data-grid-table-body-border-radius: 0.5rem;
$onex-data-grid-table-body-tr-border-color: $secondary-900-opacity-10;
$onex-data-grid-table-body-tr-background-color: $white;
$onex-data-grid-table-body-tr-hover-background-color: $secondary-500-opacity-01;
$onex-data-grid-table-body-td-padding-x: 0.875rem;
$onex-data-grid-table-body-td-padding-y: 0.75rem;
$onex-data-grid-table-body-td-font-size: $font-size-label;
$onex-data-grid-table-body-td-line-height: $line-height-label;

$onex-data-grid-pagination-padding-x: 0.5rem;
$onex-data-grid-pagination-padding-y: 0.75rem;

