.onex-data-grid__table {
  width: 100%;
  margin-bottom: 0;

  &-headers {
    background: $onex-data-grid-table-header-background-color;
    &-sort-by-icons {
      display: inline-block;
      font-size: $onex-data-grid-table-header-sort-by-icon-font-size;
      line-height: $onex-data-grid-table-header-sort-by-icon-line-height;
      height: $onex-data-grid-table-header-sort-by-icon-height;
      padding-left: $onex-data-grid-table-header-sort-by-icon-padding-x;
      vertical-align: bottom;
      width: $onex-data-grid-table-header-sort-by-icon-width;
      .sort-by-icon {
        font-size: $onex-data-grid-table-header-sort-by-icon-font-size;
      }
    }

    tr {
      position: relative;
      padding: 0;
      border-bottom: 1px solid $onex-data-grid-table-header-border-bottom-color;
      border-radius: $onex-data-grid-table-header-border-radius;
      font-size: $onex-data-grid-table-header-font-size;
      line-height: $onex-data-grid-table-header-line-height;
    }

    th {
      margin: 0;
      padding: $onex-data-grid-table-header-th-padding-x $onex-data-grid-table-header-th-padding-y;

      span {
        color: $onex-data-grid-table-header-th-color;
      }

      &:hover {
        span {
          color: $onex-data-grid-table-header-th-hover-color;
        }
      }
    }
  }

  &-body {
    tr {
      background-color: $onex-data-grid-table-body-tr-background-color;
      border-radius: $onex-data-grid-table-body-border-radius;
      border-top: 1px solid $onex-data-grid-table-body-tr-border-color;
      border-bottom: 1px solid $onex-data-grid-table-body-tr-border-color;
      margin: 0;
      padding: 0;
      font-size: $onex-data-grid-table-body-td-font-size;
      line-height: $line-height-label;
      &:hover {
        background-color: $onex-data-grid-table-body-tr-hover-background-color;
      }
    }

    td {
      padding: $onex-data-grid-table-body-td-padding-x $onex-data-grid-table-body-td-padding-y;
      margin: 0;
    }
  }
}

.onex-data-grid__pagination {
  display: flex;
  justify-content: flex-end;
  padding: $onex-data-grid-pagination-padding-x $onex-data-grid-pagination-padding-y $onex-data-grid-pagination-padding-x $onex-data-grid-pagination-padding-y;
}
