.onex-data-grid__table {
  width: 100%;
  margin-bottom: 0;

  &-headers {
    background: $onex-data-grid-table-header-background-color;

    &-sort-by-icons {
      display: inline-block;
      font-size: $onex-data-grid-table-header-sort-by-icon-font-size;
      line-height: $onex-data-grid-table-header-sort-by-icon-line-height;
      height: $onex-data-grid-table-header-sort-by-icon-height;
      padding-left: $onex-data-grid-table-header-sort-by-icon-padding-x;
      vertical-align: bottom;
      width: $onex-data-grid-table-header-sort-by-icon-width;

      .sort-by-icon {
        font-size: $onex-data-grid-table-header-sort-by-icon-font-size;
      }
    }

    tr {
      position: relative;
      padding: 0;
      border-radius: $onex-data-grid-table-header-border-radius;
      font-size: $onex-data-grid-table-header-font-size;
      line-height: $onex-data-grid-table-header-line-height;
    }

    th {
      margin: 0;
      vertical-align: middle;
      padding: $onex-data-grid-table-header-th-padding-x $onex-data-grid-table-header-th-padding-y;
      border-top: 1px solid $onex-data-grid-table-header-border-bottom-color;
      border-bottom: 1px solid $onex-data-grid-table-header-border-bottom-color;

      &:hover {
        background-color: $onex-data-grid-table-header-background-color-hover;
        color: $onex-data-grid-table-header-color-hover;
      }

      span {
        color: $onex-data-grid-table-header-th-color;

        &::selection {
          background: transparent;
        }

        &::-moz-selection {
          background: transparent;
        }
      }

      &:hover span {
        color: $onex-data-grid-table-header-color-hover;
      }

      &:hover {
        span {
          color: $onex-data-grid-table-header-th-hover-color;
        }
      }

      &.onex-data-grid__table-headers-action-cell {
        width: 1%;
        & .onex-data-grid__cell-action-content {
          display: flex;
          justify-content: center;
          width: fit-content;
        }
      }

      &:not(:last-child).onex-data-grid__cell-divider {
        border-right: 1px solid rgba(26, 28, 30, 0.2);
      }

      &:last-child.onex-data-grid__cell-divider {
        border-left: 1px solid rgba(26, 28, 30, 0.2);
      }

      &.onex-data-grid-cell__text-align-left {
        text-align: left;
      }

      &.onex-data-grid-cell__text-align-right {
        text-align: right;
      }

      &.onex-data-grid-cell__text-variant-regular {
        font-weight: 400;
      }

      &.onex-data-grid-cell__text-variant-semibold {
        font-weight: 600;
      }
    }

    &-check {
      display: flex;
      justify-content: center;
    }
  }

  &-body {
    background-color: var(--basic-white);
    tr {
      background-color: $onex-data-grid-table-body-tr-background-color;
      border-radius: $onex-data-grid-table-body-border-radius;
      margin: 0;
      padding: 0;
      font-size: $onex-data-grid-table-body-td-font-size;
      line-height: $line-height-label;

      &:hover {
        background-color: $onex-data-grid-table-body-tr-hover-background-color;
      }
      &.onex-data-grid__table-body-row.isSelected {
        background-color: $onex-data-grid-table-body-tr-selected-background-color;
        &:hover {
          background-color: $onex-data-grid-table-body-tr-selected-hover-background-color;
        }
      }
      &.onex-data-grid__table-body-row.isDragging {
        td {
          background-color: $onex-data-grid-table-body-tr-drag-background-color;
          * {
            visibility: hidden;
          }
        }
      }
    }

    td {
      margin: 0;
      border-top: 1px solid $onex-data-grid-table-body-tr-border-color;
      border-bottom: 1px solid $onex-data-grid-table-body-tr-border-color;
      &.onex-data-grid-cell__text-align-left {
        text-align: left;
      }

      &.onex-data-grid-cell__text-align-right {
        text-align: right;
      }

      &.onex-data-grid-cell__text-variant-regular {
        font-weight: 400;
      }

      &.onex-data-grid-cell__text-variant-semibold {
        font-weight: 600;
      }

      &:not(:last-child).onex-data-grid__cell-divider {
        border-right: 1px solid rgba(26, 28, 30, 0.2);
      }

      &:last-child.onex-data-grid__cell-divider {
        border-left: 1px solid rgba(26, 28, 30, 0.2);
      }
    }

    &-row-check {
      display: flex;
      justify-content: center;
    }
  }
}

.onex-data-grid__pagination {
  display: flex;
  justify-content: flex-end;
  padding: $onex-data-grid-pagination-padding-x $onex-data-grid-pagination-padding-y
    $onex-data-grid-pagination-padding-x $onex-data-grid-pagination-padding-y;
}
