$onex-tooltip-border-radius: 4px;
$onex-tooltip-font-size: $font-size-sm;
$onex-tooltip-line-height: $line-height-sm;
$onex-tooltip-max-width: 20rem;

/* bootstrap variables */
$tooltip-font-size: $onex-tooltip-font-size;
$tooltip-bg: $black-opacity-75;
$tooltip-border-radius: $onex-tooltip-border-radius;
$tooltip-opacity: 1;
$tooltip-padding-y: 0.25rem;
$tooltip-padding-x: 0.5rem;
$tooltip-max-width: $onex-tooltip-max-width;

$tooltip-arrow-width: 0.75rem;
$tooltip-arrow-height: 0.375rem;
