.onex-tooltip {
  font-family: $font-family;
  line-height: $onex-tooltip-line-height;

  .tooltip-arrow {
    display: none;
  }

  .tooltip-inner {
    text-align: left;
  }

  &.show.tooltip:not(.onex-tooltip--default) {
      opacity: 1;
  }

  &__child-wrap {
      display: inline-flex;
  }
}
