$onex-date-picker-max-width: 31.25rem;
$onex-date-picker-min-width: 16.625rem;

$onex-date-picker-height-sm: 2rem;
$onex-date-picker-height-lg: 2.5rem;

$onex-date-picker-line-height: $line-height-lg;
$onex-date-picker-border-hover-color: $secondary-900-opacity-50;
$onex-date-picker-border-focus-color: $primary-500;
$onex-date-picker-invalid-border-color: $error-500;

$onex-date-picker-padding-trailing-icon-lg: 0.75rem;
$onex-date-picker-padding-trailing-icon-sm: 0.5rem;

$onex-date-picker-font-size: $font-size-sm;
$onex-date-picker-line-height: $line-height-sm;

$onex-date-picker-help-text-min-height: $line-height-sm;
$onex-date-picker-help-text-min-width: 1rem;
$onex-date-picker-help-text-color: $secondary-500;

$onex-date-picker-label-color: $secondary-900;
$onex-date-picker-label-font-size: $font-size-label;
$onex-date-picker-label-line-height: $line-height-label;
$onex-date-picker-label-font-weight: 400;

$onex-date-picker-calendar-icon: $icon-size-xlg;
$onex-date-picker-calendar-icon-color: $secondary-500;
