@mixin banner-color-variant() {
  $types: 'success' $c-banner-success-bg-color $c-banner-success-main-color,
          'info' $c-banner-info-bg-color $c-banner-info-main-color,
          'warning' $c-banner-warning-bg-color $c-banner-warning-main-color,
          'error' $c-banner-error-bg-color $c-banner-error-main-color;

  @each $type, $bg-color, $main-color in $types {
    &.c-banner--variant-#{$type} {
      .bg-#{$type} {
        background-color: $bg-color;
        border-color: $main-color;
      }

      .c-banner__icon {
        background-color: $main-color;
      }
    }
  }
}
