.onex-table-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 1rem 0;
}

.onex-table-wrap--filled {
    .onex-table-control {
        padding: 1rem !important;
    }
}
