$onex-data-grid-control-padding-x: 0.719rem;
$onex-data-grid-control-padding-y: 0.75rem;
$onex-data-grid-control-border-color: $secondary-900-opacity-10;

$onex-data-grid-control-title-font-size: $font-size-h4;
$onex-data-grid-control-title-line-height: $line-height-h4;
$onex-data-grid-control-title-font-weight: $font-weight-600;

$onex-data-grid-control-action-element-background-color: $secondary-200;
