.onex-data-grid-control {
  display: flex;
  justify-content: space-between;
  padding: $onex-data-grid-control-padding-x $onex-data-grid-control-padding-y;
  border-bottom: 1px solid $onex-data-grid-control-border-color;
  font-family: $font-family;
  max-height: 3rem;

  &.draggable {
    margin-left: -2%;
  }

  &__title {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.4rem;
    font-size: $onex-data-grid-control-title-font-size;
    line-height: $onex-data-grid-control-title-line-height;
    font-weight: $onex-data-grid-control-title-font-weight;
    margin: 0;
  }

  &__check {
    margin-left: 0.875rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: end;

    &-elem {
      margin: 0 0.5rem;
    }

    &-search {
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 0.5rem;

      &::after {
        content: '';
        display: block;
        height: 1.5rem;
        width: 2px;
        position: absolute;
        right: 0;
        background-color: $onex-data-grid-control-border-color;
      }
    }
  }
}
