.onex-data-grid-control {
  display: flex;
  justify-content: space-between;
  padding: $onex-data-grid-control-padding-x $onex-data-grid-control-padding-y;
  font-family: $font-family;
  max-height: 3rem;

  &.draggable {
    padding-left: 0.6rem;

    .onex-data-grid-control__check {
      margin-left: 0;
    }
    .onex-data-grid-bulk-actions {
      padding-left: 0;
    }
  }

  &__title {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.4rem;
    font-size: $onex-data-grid-control-title-font-size;
    line-height: $onex-data-grid-control-title-line-height;
    font-weight: $onex-data-grid-control-title-font-weight;
    margin: 0;
  }

  &__check {
    margin-left: 0.875rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: end;

    &-elem {
      position: relative;
      margin: 0 0.5rem;
    }

    .onex-data-grid-control__actions-elem.action-active {
      background-color: $onex-data-grid-control-action-element-background-color;
      &:hover,
      &:focus {
        background-color: $onex-data-grid-control-action-element-background-color;
      }
    }
    .onex-data-grid-control__actions-elem.filter-active::after {
      content: '';
      position: absolute;
      top: 0;
      right: -0.25rem;
      width: $onex-data-grid-control-filter-active-after-size;
      height: $onex-data-grid-control-filter-active-after-size;
      border-radius: 100%;
      border: 0.125rem solid $onex-data-grid-control-filter-active-after-border-color;
      background-color: $onex-data-grid-control-filter-active-after-background-color;
    }

    &-search {
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 0.5rem;

      &::after {
        content: '';
        display: block;
        height: 1.5rem;
        width: 2px;
        position: absolute;
        right: 0;
        background-color: $onex-data-grid-control-border-color;
      }
    }
  }
}
