@import 'mixins';

.c-tooltip {
  line-height: $c-tooltip-line-height;

  &.show.tooltip:not(.c-tooltip--default) {
    opacity: 1;
  }

  &__child-wrap {
    display: inline-flex;
  }

  &--regular {
    .tooltip-arrow {
      display: none;
    }
  }

  @include tooltip-type-color();
}
