@import '../../Badge/scss/styles/variables';
@import '../../Typography/scss/styles/variables';
@import '../../Buttons/scss/styles/variables';
@import '../../Check/scss/styles/variables';

@import 'styles/dataGrid.scss';

@import '../../Badge/scss/styles/badge';
@import '../../Typography/scss/styles/typography';
@import '../../Buttons/scss/styles/buttons';
@import '../../Check/scss/styles/check';
@import '../../../../node_modules/bootstrap/scss/buttons';
@import '../../../../node_modules/bootstrap/scss/badge';
@import '../../../../node_modules/bootstrap/scss/forms';


.onex-dataGrid {
    padding: 1rem;
    width: 100%;
    &__pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 14px;
    }
}