@import '_mixins';

.c-dropdown {
  & > .btn {
    position: relative;

    /* primary */
    &.btn-primary:disabled,
    &.btn-primary.disabled {
      @include bg-color($btn-primary-disabled-bg-color);
    }

    &.btn-primary.focus:hover,
    &.btn-primary.c-btn-selected:hover,
    &.btn-primary:hover, {
      @include bg-color($btn-primary-hover-bg-color);
    }

    &.btn-secondary {
      color: $btn-secondary-text-color;
    }

    /* secondary */
    &.btn-secondary:hover {
      @include bg-color($btn-secondary-hover-bg-color);
      color: $btn-secondary-hover-text-color;
    }

    &.btn-secondary:disabled,
    &.btn-secondary.disabled {
      @include bg-color($btn-secondary-disabled-bg-color);
      color: $btn-secondary-disabled-text-color;
    }

    /* link */
    &.btn-link {
      font-weight: $btn-font-weight;
    }

    &.btn-lg.btn-link {
      @include btn-link-before-size($btn-padding-x-lg, $btn-padding-y-lg);
    }

    &.btn-sm.btn-link {
      @include btn-link-before-size($btn-padding-x-sm, $btn-padding-y-sm);
    }

    &.btn-link:hover,
    &.btn-link.hover {
      color: $btn-link-hover-text-color;

      &::before {
        content: '';
        display: block;
        position: absolute;
        border-bottom: 1px solid $btn-link-hover-text-color;
      }
    }

    /* icon-link */
    &.btn-icon-link {
      color: $btn-icon-link-text-color;
    }

    &.btn-icon-link:hover,
    &.btn-icon-link.hover {
      @include bg-color($btn-icon-link-hover-bg-color);
      color: $btn-icon-link-hover-text-color;
    }

    &.btn-icon-link:disabled,
    &.btn-icon-link.disabled {
      color: $btn-icon-link-disabled-text-color;
    }

    &.btn-lg {
      @include btn-size($btn-line-height-lg, $btn-height-lg);
    }

    &.btn-sm {
      @include btn-size($btn-line-height-sm, $btn-height-sm);
    }
  }

  /* buttonStyle (text, icon) */
  &--text > .dropdown-toggle::after {
    display: inline-block;
  }

  &--icon {
    & > .dropdown-toggle::after,
    & > .dropdown-toggle::before {
      display: none;
    }

    & > .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.btn-lg {
        @include btn-size($btn-line-height-lg, $btn-height-lg);
        padding: $btn-icon-type-padding-lg;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-lg);
        }
      }

      &.btn-sm {
        @include btn-size($btn-line-height-sm, $btn-height-sm);
        padding: $btn-icon-type-padding-sm;

        & > svg {
          @include icon-size($btn-icon-type-icon-size-sm);
        }
      }
    }
  }

  &.show > .dropdown-toggle {
    &::after {
      transform: rotateX(-180deg);
      transition: transform ease-in-out 0.15s;
    }

    &.btn-primary {
      @include bg-color($btn-primary-bg-color);

      &:hover{
        @include bg-color($btn-primary-hover-bg-color);
      }
    }

    &.btn-secondary {
      @include bg-color($btn-secondary-bg-color);

      &:hover{
        @include bg-color($btn-secondary-hover-bg-color);
        color: $btn-secondary-hover-text-color;
      }
    }
  }

  /* dropdown menu */
  .btn-lg ~ .dropdown-menu {
    @include dropdown-menu($menu-border-radius-lg, $menu-font-size-lg, $menu-line-height-lg, $menu-padding-x-lg, $menu-padding-y-lg, $menu-min-width-lg);

    .dropdown-item {
      padding: $menu-item-padding-y-lg $menu-item-padding-x-lg;
      border-radius: $menu-border-radius-lg;
    }
  }

  .btn-sm ~ .dropdown-menu {
    @include dropdown-menu($menu-border-radius-sm, $menu-font-size-sm, $menu-line-height-sm, $menu-padding-x-sm, $menu-padding-y-sm, $menu-min-width-sm);

    .dropdown-item {
      padding: $menu-item-padding-y-sm $menu-item-padding-x-sm;
      border-radius: $menu-border-radius-sm;
    }
  }
}
