$onex-empty-state-img-size-section: 3.5rem;
$onex-empty-state-img-mb-section: 1rem;
$onex-empty-state-title-fs-section: $font-size-h3;
$onex-empty-state-title-lh-section: $line-height-h3;
$onex-empty-state-title-mb-section: 0.5rem;
$onex-empty-state-subtitle-fs-section: $font-size-body;
$onex-empty-state-subtitle-lh-section: $line-height-body;
$onex-empty-state-subtitle-mb-section: 1rem;
$onex-empty-state-max-width-section: 35rem;

$onex-empty-state-img-size-card: 2rem;
$onex-empty-state-img-mb-card: 0.75rem;
$onex-empty-state-title-fs-card: $font-size-h5;
$onex-empty-state-title-lh-card: $line-height-h5;
$onex-empty-state-title-mb-card: 0.5rem;
$onex-empty-state-subtitle-fs-card: $font-size-label;
$onex-empty-state-subtitle-lh-card: $line-height-label;
$onex-empty-state-subtitle-mb-card: 0.75rem;
$onex-empty-state-max-width-card: 22.5rem;

$onex-empty-state-title-color: $secondary-900;
$onex-empty-state-subtitle-color: $secondary-500;
$onex-empty-state-min-width: 19.5rem;
