$secondary: rgba(209, 216, 224, 1);
$secondary-100: rgba(244, 248, 252, 1);
$secondary-200: rgba(231, 238, 245, 1);
$secondary-300: rgba(230, 241, 246, 1);
$secondary-500: rgba(176, 184, 191, 1);
$secondary-400: rgba(103, 110, 122, 1);
$secondary-600: rgba(98, 107, 120, 1);
$secondary-700: rgba(88, 95, 104, 1);
$secondary-800: rgba(35, 38, 43, 1);
$secondary-900: rgba(26, 28, 30, 1);

$secondary-opacity-20: rgba(26, 28, 30, 0.2);
$secondary-opacity-50: rgba(26, 28, 30, 0.5);
$secondary-400-opacity-01: rgba(103, 110, 122, .1);

$primary: rgba(0, 112, 192, 1);
$primary-300: rgba(0, 88, 133, 1);
$primary-400: rgba(0, 95, 171, 1);
$primary-700: rgba(0, 40, 85, 1);

$tertiary: rgba(179, 212, 229, 1);
$tertiary-100: rgba(204, 226, 238, 1);
$tertiary-200: rgba(231, 242, 254, 1);
$tertiary-300: rgba(141, 202, 249, 1);
$tertiary-500: rgba(198, 227, 252, 1);
$tertiary-600: rgba(26, 28, 30, 1);

$success: rgba(0, 126, 76, 1);
$success-100: rgba(224, 246, 234, 1);
$success-200: rgba(181, 235, 212, 1);
$success-500: rgba(47, 131, 54, 1);

$warning: rgba(252, 185, 22, 1);
$warning-100: rgba(255, 241, 184, 1);
$warning-200: rgba(253, 222, 104, 1);
$warning-900: rgba(196, 64, 0, 1);

$error: rgba(217, 21, 34, 1);
$error-100: rgba(255, 236, 238, 1);
$error-200: rgba(253, 215, 217, 1);
$error-500: rgba(228, 7, 7, 1);

$white: rgba(255, 255, 255, 1);

$black: rgba(0, 0, 0, 1);
$black-opacity-07: rgba(0, 0, 0, 0.7);
$black-opacity-75: rgba(0, 0, 0, 0.75);
$black-opacity-01: rgba(0, 0, 0, 0.1);

$transparent: rgba(255, 255, 255, 0);

$interactive-border-default: rgba(26, 28, 30, 0.2);
$interactive-border-hover: rgba(26, 28, 30, 0.5);
