$secondary-20: rgba(244, 248, 252, 1);
$secondary-50: rgba(238, 241, 244, 1);
$secondary-80: rgba(231, 238, 245, 1);
$secondary-90: rgba(230, 241, 246, 1);
$secondary-100: rgba(221, 224, 229, 1);
$secondary-150: rgba(209, 216, 224, 1);
$secondary-200: rgba(192, 196, 203, 1);
$secondary-250: rgba(176, 184, 191, 1);
$secondary-300: rgba(158, 163, 172, 1);
$secondary-400: rgba(133, 140, 150, 1);
$secondary-500: rgba(103, 110, 122, 1);
$secondary-550: rgba(98, 107, 120, 1);
$secondary-600: rgba(88, 95, 104, 1);
$secondary-700: rgba(66, 71, 78, 1);
$secondary-750: rgba(35, 38, 43, 1);
$secondary-800: rgba(45, 49, 54, 1);
$secondary-900: rgba(26, 28, 30, 1);
$secondary: $secondary-150;

$secondary-500-opacity-25: rgba(103, 110, 122, .25);
$secondary-500-opacity-01: rgba(103, 110, 122, .1);
$secondary-900-opacity-10: rgba(26, 28, 30, .1);
$secondary-900-opacity-12: rgba(26, 28, 30, .12);
$secondary-900-opacity-20: rgba(26, 28, 30, .2);
$secondary-900-opacity-50: rgba(26, 28, 30, .5);

$primary-50: rgba(231, 242, 254, 1);
$primary-100: rgba(198, 227, 252, 1);
$primary-200: rgba(141, 202, 249, 1);
$primary-300: rgba(87, 170, 231, 1);
$primary-400: rgba(47, 146, 213, 1);
$primary-500: rgba(0, 112, 192, 1);
$primary-550: rgba(0, 112, 168, 1);
$primary-600: rgba(0, 95, 171, 1);
$primary-700: rgba(0, 71, 134, 1);
$primary-720: rgba(0, 40, 85, 1);
$primary-750: rgba(0, 43, 92, 1);
$primary-800: rgba(5, 48, 96, 1);
$primary-900: rgba(0, 28, 59, 1);
$primary: $primary-500;

$primary-900-opacity-12: rgba(0, 28, 59, 0.12);

$tertiary: rgba(179, 212, 229, 1);
$tertiary-100: rgba(204, 226, 238, 1);
$tertiary-600: rgba(26, 28, 30, 1);

$success: rgba(0, 126, 76, 1);
$success-100: rgba(224, 246, 234, 1);
$success-200: rgba(181, 235, 212, 1);
$success-500: rgba(47, 131, 54, 1);

$warning: rgba(252, 185, 22, 1);
$warning-100: rgba(255, 241, 184, 1);
$warning-200: rgba(253, 222, 104, 1);
$warning-900: rgba(196, 64, 0, 1);

$error: rgba(217, 21, 34, 1);
$error-100: rgba(255, 236, 238, 1);
$error-200: rgba(253, 215, 217, 1);
$error-500: rgba(228, 7, 7, 1);

$white: rgba(255, 255, 255, 1);

$black: rgba(0, 0, 0, 1);
$black-opacity-07: rgba(0, 0, 0, 0.7);
$black-opacity-75: rgba(0, 0, 0, 0.75);
$black-opacity-01: rgba(0, 0, 0, 0.1);

$transparent: rgba(255, 255, 255, 0);

$warning-400: rgba(223, 106, 5, 1);
