@import '../../node_modules/bootstrap/scss/functions';

/* theme colors */
@import 'src/componentsTheme/colors';
@import 'src/componentsTheme/sizes';

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

/* Alphabetical Components */
@import '../components/Avatar/scss/styles/variables';
@import '../components/Avatar/scss/styles/avatar';

@import '../components/Badge/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/badge';
@import '../components/Badge/scss/styles/badge';

@import '../components/Buttons/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../components/Buttons/scss/styles/buttons';

@import '../components/Check/scss/styles/variables';
@import '../components/Check/scss/styles/check';

@import '../components/Dropdown/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/dropdown';
@import '../components/Dropdown/scss/styles/dropdown';

@import '../components/ExpansionPanel/scss/styles/variables';
@import '../components/ExpansionPanel/scss/styles/expansionPanel';

@import '../components/InlineEditSelect/scss/styles/variables';
@import '../components/InlineEditSelect/scss/styles/inlineEditSelect';

@import '../components/InlineEditText/scss/styles/variables';
@import '../components/InlineEditText/scss/styles/inlineEditText';

@import '../components/Lozenge/scss/styles/variables';
@import '../components/Lozenge/scss/styles/lozenge';

@import '../components/MenuItem/scss/styles/variables';
@import '../components/MenuItem/scss/styles/menuItem';

@import '../components/Navigation/scss/styles/variables';
@import '../components/Navigation/scss/styles/navigation';

@import '../components/Pagination/scss/styles/variables';
@import '../components/TablePagination/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/pagination';
@import '../components/Pagination/scss/styles/pagination';

@import '../components/Select/scss/styles/variables';
@import '../components/Select/scss/styles/select';

@import '../components/Switch/scss/styles/variables';
@import '../components/Switch/scss/styles/switch';

@import '../components/Tables/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/tables';
@import '../components/Tables/scss/styles/tables';

@import '../components/TablePagination/scss/styles/variables';
@import '../components/TablePagination/scss/styles/tablePagination';

@import '../components/Tabs/scss/styles/variables';
@import '../components/Tabs/scss/styles/tabs';

@import '../components/Tag/scss/styles/variables';
@import '../components/Tag/scss/styles/tag';

@import '../components/TextArea/scss/styles/variables';
@import '../components/TextArea/scss/styles/textArea';

@import '../components/TextField/scss/styles/variables';
@import '../components/TextField/scss/styles/textField';

@import '../components/Toasts/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/toasts';
@import '../components/Toasts/scss/styles/toasts';

@import '../components/ToggleButton/scss/styles/variables';
@import '../components/ToggleButton/scss/styles/toggleButton';

@import '../components/Tooltip/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/tooltip';
@import '../../node_modules/bootstrap/scss/popover';
@import '../components/Tooltip/scss/styles/tooltip';

@import '../components/Typography/scss/styles/variables';
@import '../../node_modules/bootstrap/scss/type';
@import '../components/Typography/scss/styles/typography';

/* Bootstrap */
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/accordion';
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/breadcrumb';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/carousel';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/helpers';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/offcanvas';
@import '../../node_modules/bootstrap/scss/placeholders';
@import '../../node_modules/bootstrap/scss/progress';
@import '../../node_modules/bootstrap/scss/spinners';
@import '../../node_modules/bootstrap/scss/transitions';
