.onex-text-area {
  font-family: $text-area-font-family;
  max-width: $text-area-max-width;

  &--disabled {
    opacity: $text-area-opacity;
  }

  .form-label {
    font-weight: 400;
    color: $text-area-text-color;
    font-size: $text-area-font-size;
    line-height: $text-area-line-height;
  }

  .form-control {
    font-size: $text-area-font-size;
    line-height: $text-area-line-height;
    color: $text-area-text-color;
    background-color: $text-area-bg-color;
    border-color: $text-area-border-color;
    border-radius: $text-area-border-radius;
    max-width: $text-area-max-width;
    min-height: $text-area-height;
    min-width: $text-area-width;
    padding: $text-area-padding-y $text-area-padding-x;
    resize: none;
    scrollbar-color: $text-area-scrollbar-color transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: $text-area-scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
      border: 0.25rem solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: $text-area-scrollbar-border-radius;
      background-color: $text-area-scrollbar-color;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0), inset 1px 1px 0px rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &:hover:not(:focus):not(:disabled):not(:read-only) {
      border-color: $text-area-hover-border-color;
    }

    &:focus {
      border-color: $text-area-focus-border-color;
      box-shadow: $text-area-focus-border-color 0px 0px 1px, $text-area-focus-border-color 0px 0px 0px 1px;
    }

    &[readonly]:focus {
      border-color: $text-area-border-color;
      box-shadow: none;
    }

    &.is-invalid,
    &:invalid {
      background-image: none;
      border-color: $text-area-invalid-border-color;

      &:hover:not(:focus):not(:disabled) {
        border-color: $text-area-invalid-border-color;
      }

      &:focus {
        border: 1px solid $text-area-invalid-border-color;
        outline: 0;
        box-shadow: none;
      }
    }

    &:disabled,
    &.disabled {
      background-color: transparent;
      border-color: $text-area-border-color;

      & + .onex-text-area__footer > .onex-text-area__nums {
        color: $text-area-disabled-text-color;
      }
    }
  }

  &__help.form-text {
    color: $text-area-form-text;
  }

  &__error.form-text {
    color: $text-area-err-text-color;
  }

  &__footer,
  &__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: $text-area-max-width;
    margin-top: 0.25rem;
  }

  &__nums {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.25rem;
    font-size: $form-text-font-size;
    line-height: $text-area-label-line-height;
    font-weight: 600;
    color: $text-area-num-text-color;
    flex-basis: 30%;

    &--err {
      color: $text-area-err-text-color;
    }
  }

  .form-text {
    margin-top: 0;
    padding-left: 0.25rem;
    font-size: $text-area-font-size-form-text;
    line-height: $text-area-label-line-height;
    flex-basis: 100%;
    text-align: start;
  }
}
