.onex-text-area {
  font-family: $text-area-font-family;
  max-width: $text-area-max-width;

  &--disabled {
    opacity: $text-area-opacity;
  }

  .form-label {
    font-weight: 400;
    color: $text-area-text-color;
    font-size: $text-area-font-size;
    line-height: $text-area-line-height;
  }

  .form-control {
    font-size: $text-area-font-size;
    line-height: $text-area-line-height;
    color: $text-area-text-color;
    background-color: $text-area-bg-color;
    border-color: $text-area-border-color;
    border-radius: $text-area-border-radius;
    max-width: $text-area-max-width;
    min-height: $text-area-height;
    min-width: $text-area-width;
    padding: $text-area-padding-y $text-area-padding-x;
    resize: none;

    &:hover:not(:focus):not(:disabled) {
      border-color: $text-area-hover-border-color;
    }

    &:focus {
      border: 2px solid $text-area-focus-border-color;
      outline: 0;
      box-shadow: none;
    }

    &.is-invalid,
    &:invalid {
      background-image: none;
      border-color: $text-area-invalid-border-color;

      &:hover:not(:focus):not(:disabled) {
        border-color: $text-area-invalid-border-color;
      }

      &:focus {
        border: 1px solid $text-area-invalid-border-color;
        outline: 0;
        box-shadow: none;
      }
    }

    &:disabled,
    &.disabled {
      background-color: transparent;
      border-color: $text-area-border-color;

      & + .onex-text-area__footer > .onex-text-area__nums {
        color: $text-area-disabled-text-color;
      }
    }
  }

  &__help {
    padding-left: 0.25rem;
    line-height: $text-area-label-line-height;
    flex-basis: 100%;
  }

  &__error {
    flex-basis: 100%;
    min-width: 1rem;
    display: inline-block;
    line-height: $text-area-label-line-height;
    padding-left: 1.25rem;
    background-image: escape-svg($error-message-background-image);
    background-repeat: no-repeat;
    background-position: left 0.25rem center;
  }

  &__footer,
  &__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: $text-area-max-width;
    margin-top: 0.25rem;
  }

  &__nums {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.25rem;
    font-size: $form-text-font-size;
    line-height: $text-area-label-line-height;
    font-weight: 600;
    color: $text-area-num-text-color;
    flex-basis: 10%;

    &--err {
      color: $text-area-err-text-color;
    }
  }

  .form-text {
    margin-top: 0;
    color: $text-area-form-text;
  }
}
