$onex-table-cell-header-font-size: $font-size-sm;
$onex-table-cell-header-line-height: $line-height-sm;
$onex-table-cell-header-text-color: $secondary-600;
$onex-table-cell-header-icon-color: $secondary-500;
$onex-table-cell-header-only-icon-color: $black;
$onex-table-cell-header-icon-size-lg: 1rem;
$onex-table-cell-header-height: 3.5rem;

$onex-table-cell-body-font-size: $font-size-lg;
$onex-table-cell-body-line-height: $line-height-lg;
$onex-table-cell-body-subtitle-font-size: $font-size-sm;
$onex-table-cell-body-subtitle-line-height: $line-height-sm;
$onex-table-cell-body-text-color: $black;
$onex-table-cell-body-subtitle-text-color: $secondary-600;
$onex-table-cell-body-image-size: 2rem;
$onex-table-cell-body-icon-color: $secondary-500;
$onex-table-cell-body-height: 4rem;

$onex-table-cell-icon-action-size-sm: $icon-size-sm;

$onex-table-default-bg-color: $transparent;
$onex-table-fill-bg-color: $white;
