@import 'mixins';

.cell__container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 2px;
}

.onex-table__cell {
    @include text-align();
    vertical-align: middle;

    &:last-child {
        svg {
            width: $onex-table-cell-icon-action-size-sm;
            height: $onex-table-cell-icon-action-size-sm;

            & path {
                fill: $onex-table-cell-body-icon-color;
            }
        }
    }

    &--variant-header {
        @include cell-style(
            $onex-table-cell-header-height,
            $onex-table-cell-header-font-size,
            $onex-table-cell-header-line-height,
            $onex-table-cell-header-text-color
        );
    }

    &--variant-body {
        @include cell-style(
            $onex-table-cell-body-height,
            $onex-table-cell-body-font-size,
            $onex-table-cell-body-line-height,
            $onex-table-cell-body-text-color
        );
    }

    img {
        max-height: $onex-table-cell-body-image-size;
        max-width: $onex-table-cell-body-image-size;
        border-radius: 100%;
        object-fit: contain;
    }
}
