$onex-tab-height-sm: $component-height-sm;
$onex-tab-font-size-sm: $font-size-sm;
$onex-tab-line-height-sm: $line-height-sm;
$onex-tab-padding-y-sm: 0.5rem;
$onex-tab-line-hover-height-sm: 0.125rem;

$onex-tab-height-lg: $component-height-lg;
$onex-tab-font-size-lg: $font-size-lg;
$onex-tab-line-height-lg: $line-height-lg;
$onex-tab-padding-y-lg: 0.375rem;
$onex-tab-line-hover-height-lg: 0.25rem;

$onex-tab-main-text-color: $primary-720;
$onex-tab-item-padding-left: 1.5rem;

$onex-tab-menu-border-radius-lg: $component-border-radius-lg;
$onex-tab-menu-font-size-lg: $font-size-lg;
$onex-tab-menu-line-height-lg: $line-height-lg;
$onex-tab-menu-padding-x-lg: $dropdown-menu-padding-x-lg;
$onex-tab-menu-padding-y-lg: $dropdown-menu-padding-y-lg;
$onex-tab-menu-min-width-lg: $dropdown-menu-min-width-lg;
$onex-tab-menu-item-padding-x-lg: $dropdown-menu-item-padding-x-lg;
$onex-tab-menu-item-padding-y-lg: $dropdown-menu-item-padding-y-lg;

$onex-tab-menu-font-size-sm: $font-size-sm;
$onex-tab-menu-border-radius-sm: $component-border-radius-sm;
$onex-tab-menu-line-height-sm: $line-height-sm;
$onex-tab-menu-padding-x-sm: $dropdown-menu-padding-x-sm;
$onex-tab-menu-padding-y-sm: $dropdown-menu-padding-y-sm;
$onex-tab-menu-min-width-sm: $dropdown-menu-min-width-sm;
$onex-tab-menu-item-padding-x-sm: $dropdown-menu-item-padding-x-sm;
$onex-tab-menu-item-padding-y-sm: $dropdown-menu-item-padding-y-sm;
