$onex-tab-height: $component-height-lg;
$onex-tab-font-size: $font-size-lg;
$onex-tab-line-height: $line-height-lg;
$onex-tab-padding-y: 0.375rem;
$onex-tab-padding-x: 0.75rem;
$onex-tab-margin: 0 0.1rem;
$onex-tab-underline-height: 0.125rem;

$onex-tab-hover-text-color: $secondary-900;
$onex-tab-main-text-color: $secondary-500;
$onex-tab-active-text-color: $primary-600;
$onex-tab-active-border-color: $primary;
$onex-tab-desactive-text-color: $secondary-900-opacity-50;
$onex-tab-item-padding-left: 1.5rem;

$onex-tab-menu-border-radius: $component-border-radius-lg;
$onex-tab-menu-font-size: $font-size-lg;
$onex-tab-menu-line-height: $line-height-lg;
$onex-tab-menu-padding-x: $dropdown-menu-padding-x-lg;
$onex-tab-menu-padding-y: $dropdown-menu-padding-y-lg;
$onex-tab-menu-min-width: $dropdown-menu-min-width-lg;
$onex-tab-menu-item-padding-x: $dropdown-menu-item-padding-x-lg;
$onex-tab-menu-item-padding-y: $dropdown-menu-item-padding-y-lg;
