.onex-tab.onex-nav {

  .nav-link {
    height: $onex-tab-height;
    font-size: $onex-tab-font-size;
    line-height: $onex-tab-line-height;
    padding: $onex-tab-padding-y $onex-tab-padding-x;
    margin: $onex-tab-margin;

    &::before {
      height: $onex-tab-line-hover-height;
      border-radius: $onex-tab-line-hover-height;
    }
  }

  .dropdown-menu {
    border-radius: $onex-tab-menu-border-radius;
    font-size: $onex-tab-menu-font-size;
    line-height: $onex-tab-menu-line-height;
    padding: $onex-tab-menu-padding-y $onex-tab-menu-padding-x;
    min-width: $onex-tab-menu-min-width;

    .dropdown-item {
      padding: $onex-tab-menu-item-padding-y $onex-tab-menu-item-padding-x;
      border-radius: $onex-tab-menu-border-radius;
    }
  }

  .onex-nav__item {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dropdown {
      position: relative;
      padding: 0 $onex-tab-padding-x;
      margin: $onex-tab-margin;

      & > .btn.btn-tertiary:hover,
      &.haveSelectedItem > .btn.btn-tertiary,
      &.haveSelectedItem > .btn.btn-tertiary:hover,
      &.show > .dropdown-toggle.btn-tertiary {
        background-color: transparent;
        color: $onex-tab-active-text-color;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 2.4rem;
        width: 90%;
        background-color: $onex-nav-item-divider-bg-color;
        display: none;
      }

      &:hover::before,
      &.haveSelectedItem:hover::before {
        display: block;
        background-color: $onex-tab-desactive-text-color;
        height: 1px;
      }

      &.haveSelectedItem::before {
        display: block;
        top: 2.25rem;
        height: 0.25rem;
        background-color: $primary;
      }
    }

  }

  .nav-tabs {
    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $onex-tab-main-text-color;
  
      &:hover,
      &.active:hover,
      &.active {
        color: $onex-tab-active-text-color;
      }
  
      &.active::before {
        border-radius: 0;
      }
  
      &.active:hover::before,
      &:hover::before {
        background-color: $onex-tab-desactive-text-color;
        height: 1px;
      }
    }
  }
}
