/* fonts */
/* button */
/* dropdown menu */
.onex-edit-text {
  position: relative;
}
.onex-edit-text__icon {
  display: none;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.83%;
}
.onex-edit-text__input {
  border: none;
  font-weight: 600;
}
.onex-edit-text__input:hover {
  background-color: #f4f8fc;
}
.onex-edit-text__input:hover + .onex-edit-text__icon {
  display: inline-flex;
}
.onex-edit-text__input__active {
  border-color: #0070c0;
}
.onex-edit-text__input__disabled {
  color: #b0b8bf;
}
.onex-edit-text__input__disabled:hover + .onex-edit-text__icon {
  display: none;
}

.onex-text-field--complete {
  font-weight: 600;
  line-height: 14px;
}

.status-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}
.status-buttons__complete {
  margin-right: 5px;
  padding: 0.375rem;
  justify-content: center;
}
.status-buttons__cancel {
  padding: 0.375rem;
  justify-content: center;
}
.status-buttons__cancel:hover svg {
  fill: white;
}