/* fonts */
/* button */
/* dropdown menu */
.onex-expansionPanel.show .onex-expansionPanel-toggle__icon {
  transform: rotateX(-180deg);
  transition: transform ease-in-out 0.15s;
}
.onex-expansionPanel-toggle__children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.onex-expansionPanel-toggle__title {
  padding: 0.5rem;
}
.onex-expansionPanel-toggle__icon {
  color: rgb(0, 40, 85);
}
.onex-expansionPanel-toggle:disabled .onex-expansionPanel-toggle__icon {
  color: rgb(176, 184, 191);
}

.onex-expansionPanel-item svg path {
  fill: rgb(0, 0, 0);
}
.onex-expansionPanel-item__icon {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
.onex-expansionPanel-item__icon__leading {
  margin-right: 0.5rem;
}
.onex-expansionPanel-item__icon__trailing {
  position: absolute;
  right: 0.875rem;
}
.onex-expansionPanel-item:active {
  color: rgb(0, 40, 85);
  font-weight: 600;
}
.onex-expansionPanel-item:active svg path {
  fill: rgb(0, 40, 85);
}
.onex-expansionPanel-item--leading-icon:active {
  color: rgb(0, 112, 192);
}
.onex-expansionPanel-item--leading-icon:active svg path {
  fill: rgb(0, 112, 192);
}
.onex-expansionPanel-item--icons:active svg path {
  fill: rgb(0, 112, 192);
}
.onex-expansionPanel-item:hover, .onex-expansionPanel-item:focus {
  background-color: rgb(244, 248, 252);
}
.onex-expansionPanel-item.disabled {
  color: rgb(176, 184, 191);
}
.onex-expansionPanel-item.disabled svg path {
  fill: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable {
  color: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable svg path {
  fill: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable:hover, .onex-expansionPanel-item--unavailable:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(176, 184, 191);
  cursor: initial;
}
.onex-expansionPanel-item--unavailable:hover svg path, .onex-expansionPanel-item--unavailable:focus svg path {
  fill: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable:active {
  pointer-events: none;
  color: rgb(176, 184, 191);
  font-weight: 400;
}
.onex-expansionPanel-item--unavailable:active svg path {
  fill: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable .onex-expansionPanel-item__icon svg path {
  fill: rgb(0, 112, 192);
}
.onex-expansionPanel-item--unavailable.onex-expansionPanel-item--icons .onex-expansionPanel-item__icon__leading svg path {
  fill: rgb(176, 184, 191);
}
.onex-expansionPanel-item--unavailable.onex-expansionPanel-item--icons .onex-expansionPanel-item__icon__trailing svg path {
  fill: rgb(0, 112, 192);
}

.onex-expansionPanel > .btn {
  position: relative;
}
.onex-expansionPanel > .btn.btn-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(209, 216, 224);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 1.075rem;
  font-family: noto-sans, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 14.25rem;
}
.onex-expansionPanel > .btn.btn-primary:hover {
  background-color: rgb(244, 248, 252);
  color: rgb(0, 0, 0);
}
.onex-expansionPanel > .btn.btn-primary:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.onex-expansionPanel > .btn.btn-primary:disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(176, 184, 191);
}
.onex-expansionPanel.show .btn-primary {
  border-radius: 0.5rem 0.5rem 0 0;
}
.onex-expansionPanel-menu {
  padding: 0;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  inset: -0.25rem auto auto 0 !important;
  min-width: 14.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
}
.onex-expansionPanel-menu .dropdown-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.75rem 0.875rem;
  text-decoration: none;
}