td.onex-data-grid-cell {
  padding: $onex-data-grid-table-body-td-padding-x $onex-data-grid-table-body-td-padding-y;
  font-size: $onex-data-grid-table-body-td-font-size;
  line-height: $onex-data-grid-table-body-td-line-height;
}
