$onex-banner-info-bg-color: $primary;
$onex-banner-warning-bg-color: $warning;
$onex-banner-error-bg-color: $error;
$onex-banner-warning-text-color: $secondary-900;
$onex-banner-info-text-color: $white;
$onex-banner-error-text-color: $white;

$onex-banner-icon-size: $icon-size-xlg;
$onex-banner-font-size: $font-size-label;
$onex-banner-line-height: $line-height-label;

$onex-banner-font-weight: $font-weight-600;
