$onex-progressbar-bg-color: $primary-50;
$onex-progressbar-bg-color-danger: $error-50;
$onex-progreesbar-danger: $error-500;
$onex-progreesbar-info: $primary-500;
$onex-progreesbar-success: $success-500;
