.onex-progressbar {
    &.progress {
        height: $progressbar-height;
        width: 100%;
        background-color: $onex-progressbar-bg-color;
        .progress-bar {
            border-radius: 0.25rem;
        }
    }

    &__bg-danger.progress {
        background-color: $onex-progressbar-bg-color-danger;
    }

    & .bg-danger {
        background-color: $onex-progreesbar-danger !important;
    }

    & .bg-info {
        background-color: $onex-progreesbar-info !important;
    }

    & .bg-success {
        background-color: $onex-progreesbar-success !important;
    }
}
