.onex-progressbar {

    &.progress {
        height: $progressbar-height;
        width: 100%;
        .progress-bar {
            border-radius: 0.25em;
        }
    }
    
    & .bg-danger {
        background-color: $onex-progreesbar-danger !important;
    }

    & .bg-info {
        background-color: $onex-progreesbar-info !important;
    }

    & .bg-success {
        background-color: $onex-progreesbar-success !important;
    }
}
