@mixin toast-color-variant() {
    $types: 'success' $onex-toast-success-bg-color $onex-toast-success-main-color,
        'info' $onex-toast-info-bg-color $onex-toast-info-main-color,
        'warning' $onex-toast-warning-bg-color $onex-toast-warning-main-color,
        'error' $onex-toast-error-bg-color $onex-toast-error-main-color;

    @each $type, $bg-color, $main-color in $types {
        &.onex-toast--variant-#{$type} {
            .bg-#{$type} {
                background-color: $bg-color !important;
                border-color: $main-color;
            }

            .onex-toast__icon {
                background-color: $main-color;
            }
        }
    }
}
