.onex-data-grid {
  border-radius: $onex-data-grid-border-radius;
  box-shadow: 0 0 0 1px $onex-data-grid-box-shadow-color;
  background-color: $onex-data-grid-background-color;
  width: 100%;
  font-family: $font-family;
}
