/* fonts */
/* button */
/* dropdown menu */
.onex-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  color: #676e7a;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(26, 28, 30, 0.1);
  background-color: rgba(103, 110, 122, 0.1);
}
.onex-avatar__img {
  object-fit: cover;
  overflow: hidden;
}
.onex-avatar__icon-decorator {
  display: none;
}
.onex-avatar:not(.hover-disabled):hover {
  box-shadow: inset 0 0 0 1px transparent;
  cursor: pointer;
}
.onex-avatar__hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}
.onex-avatar:hover .onex-avatar__hover {
  opacity: 1;
}
.onex-avatar__children {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: noto-sans, sans-serif;
  color: #b0b8bf;
  overflow: hidden;
}
.onex-avatar--size-xs {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}
.onex-avatar--size-xs svg {
  width: 0.938rem;
  height: 0.938rem;
}
.onex-avatar--size-xs .onex-avatar__children {
  font-size: 0.5rem;
  line-height: 0.5rem;
  max-width: calc(1.5rem * (1 - (2 * 0.15)));
}
.onex-avatar--size-xs .onex-avatar__img {
  width: 1.5rem;
  height: 1.5rem;
}
.onex-avatar--size-xs .onex-avatar__hover svg {
  width: 0.625rem;
  height: 0.625rem;
}
.onex-avatar--size-sm {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.onex-avatar--size-sm svg {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-avatar--size-sm .onex-avatar__children {
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: calc(2rem * (1 - (2 * 0.15)));
}
.onex-avatar--size-sm .onex-avatar__img {
  width: 2rem;
  height: 2rem;
}
.onex-avatar--size-sm .onex-avatar__hover svg {
  width: 0.938rem;
  height: 0.938rem;
}
.onex-avatar--size-md {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.onex-avatar--size-md svg {
  width: 1.563rem;
  height: 1.563rem;
}
.onex-avatar--size-md .onex-avatar__children {
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: calc(2.5rem * (1 - (2 * 0.15)));
}
.onex-avatar--size-md .onex-avatar__img {
  width: 2.5rem;
  height: 2.5rem;
}
.onex-avatar--size-md .onex-avatar__hover svg {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-avatar--size-lg {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}
.onex-avatar--size-lg svg {
  width: 2.5rem;
  height: 2.5rem;
}
.onex-avatar--size-lg .onex-avatar__children {
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: calc(4rem * (1 - (2 * 0.15)));
}
.onex-avatar--size-lg .onex-avatar__img {
  width: 4rem;
  height: 4rem;
}
.onex-avatar--size-lg .onex-avatar__hover svg {
  width: 2rem;
  height: 2rem;
}