@mixin badge-size($height, $line-height, $font-size, $svg-size, $border-radius) {
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    border-radius: $border-radius;

    & .onex-badge__icon svg,
    svg {
        width: $svg-size;
        height: $svg-size;
    }

    & .onex-badge__icon .onex-material-icon,
    .onex-material-icon {
      font-size: $svg-size;
    }
}

@mixin bg-text-color($bg-color, $text-color: false, $border-color: false) {
    background-color: $bg-color !important;

    @if $text-color {
        color: $text-color;
        svg path {
          fill: $text-color;
        }
        .onex-material-icon {
          color: $text-color;
        }
    }

    @if $border-color {
      border:1px solid $border-color !important;
    }
}

@mixin badge-counter-type-color() {
    $types: 'default' $onex-badge-default-bg-color,
        'default-invert' $onex-badge-default-inverted-bg-color $onex-badge-color-text,
        'important' $onex-badge-important-bg-color $onex-badge-color-text,
        'primary' $onex-badge-primary-bg-color $onex-badge-color-text,
        'added' $onex-badge-added-bg-color $onex-badge-added-text-color,
        'removed' $onex-badge-removed-bg-color $onex-badge-removed-text-color;

    @each $type, $bg-color, $text-color in $types {
        &.bg-#{$type} {
            @include bg-text-color(#{$bg-color}, #{$text-color});
        }
    }
}

@mixin badge-status-type-color() {
  $types: 'default' $onex-badge-default-status-bg-color $secondary-500 $onex-badge-default-status-border-color,
  'info' $primary-50 $primary-500 $primary-100,
  'success' $success-50 $success-500 $success-100,
  'warning' $warning-50 $warning-500 $warning-100,
  'important' $error-50 $error-500 $error-100;


  @each $type, $bg-color, $text-color, $border-color in $types {
    &.bg-#{$type} {
      @include bg-text-color(#{$bg-color}, #{$text-color}, #{$border-color});
    }
  }
}

@mixin badge-status-bold-type-color() {
  $types: 'default' $secondary-600 $white,
  'info' $primary-500 $white,
  'success' $success-500 $white,
  'warning' $warning-200 $black,
  'important' $error-500 $white;


  @each $type, $bg-color, $text-color in $types {
    &.bg-#{$type} {
      @include bg-text-color(#{$bg-color}, #{$text-color});
    }
  }
}

@mixin default-badge-styles() {
    &.badge {
        display: inline-flex;
        padding: $onex-badge-padding-y $onex-badge-padding-x;
        font-size: $onex-badge-font-size;
        font-weight: $onex-badge-font-weight;
        font-family: $font-family;
        color: $onex-badge-text-color;
        border-radius: $onex-badge-border-radius;
        line-height: $onex-badge-line-height;
    }
}
