@mixin badge-size($height, $line-height, $font-size, $svg-size, $border-radius) {
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    border-radius: $border-radius;

    & .onex-badge__icon svg,
    svg {
        width: $svg-size;
        height: $svg-size;
    }
}

@mixin bg-text-color($bg-color, $text-color: false, $border-color: false) {
    background-color: $bg-color !important;

    @if $text-color {
        color: $text-color;
        svg path {
          fill: $text-color;
        }
    }

    @if $border-color {
      border:1px solid $border-color !important;
    }
}

@mixin badge-counter-type-color() {
    $types: 'default' $onex-badge-default-bg-color,
        'default-invert' $onex-badge-default-inverted-bg-color $onex-badge-color-text,
        'important' $onex-badge-important-bg-color $onex-badge-color-text,
        'primary' $onex-badge-primary-bg-color $onex-badge-color-text,
        'added' $onex-badge-added-bg-color $onex-badge-added-text-color,
        'removed' $onex-badge-removed-bg-color $onex-badge-removed-text-color;

    @each $type, $bg-color, $text-color in $types {
        &.bg-#{$type} {
            @include bg-text-color(#{$bg-color}, #{$text-color});
        }
    }
}

@mixin badge-status-type-color() {
  $types: 'default' $onex-badge-default-status-bg-color $secondary-400 $onex-badge-default-status-border-color,
  'info' $tertiary-200 $primary $tertiary-500,
  'success' $success-100 $success $success-200,
  'warning' $warning-100 $warning-900 $warning-200,
  'important' $error-100 $error $error-200;


  @each $type, $bg-color, $text-color, $border-color in $types {
    &.bg-#{$type} {
      @include bg-text-color(#{$bg-color}, #{$text-color}, #{$border-color});
    }
  }
}

@mixin badge-status-bold-type-color() {
  $types: 'default' $secondary-700 $white,
  'info' $primary $white,
  'success' $success $white,
  'warning' $warning $black,
  'important' $error $white;


  @each $type, $bg-color, $text-color in $types {
    &.bg-#{$type} {
      @include bg-text-color(#{$bg-color}, #{$text-color});
    }
  }
}

@mixin default-badge-styles() {
    &.badge {
        padding: $onex-badge-padding-y $onex-badge-padding-x;
        font-size: $onex-badge-font-size;
        font-weight: $onex-badge-font-weight;
        color: $onex-badge-text-color;
        border-radius: $onex-badge-border-radius;
    }
}
