$onex-badge-height: $component-height-middle-sm;
$onex-badge-font-size: $font-size-sm;
$onex-badge-icon-size: $component-height-small-sm;
$onex-badge-line-height: $line-height-sm;
$onex-badge-border-radius: 1.25rem;

$onex-badge-font-weight: $font-weight-600;
$onex-badge-text-color: $black;
$onex-badge-padding-y: 0.125rem;
$onex-badge-padding-x: 0.5rem;

$onex-badge-status-border-radius: 0.25rem;

$onex-badge-default-bg-color: $secondary-500-opacity-01;
$onex-badge-default-inverted-bg-color: $secondary-600;
$onex-badge-default-status-bg-color: $secondary-500-opacity-01;
$onex-badge-default-status-border-color: $secondary-900-opacity-10;
$onex-badge-important-bg-color: $error-500;
$onex-badge-primary-bg-color: $primary-500;
$onex-badge-color-text: $white;
$onex-badge-added-bg-color: $success-50;
$onex-badge-added-text-color: $success-250;
$onex-badge-removed-bg-color: $error-50;
$onex-badge-removed-text-color: $error-450;
