@import 'mixins';

.onex-badge {
    @include default-badge-styles();
    @include badge-size(
        $onex-badge-height-lg,
        $onex-badge-line-height-lg,
        $onex-badge-font-size-lg,
        $onex-badge-icon-size-lg,
        $onex-badge-border-radius-lg
    );

    display: inline-flex;
    align-items: center;

    & .onex-badge__icon {
        display: inline-flex;

      &--end {
        margin-left: 3px;
      }

      &--start {
        margin-right: 3px;
      }
    }


    &.onex-badge--variant-counter {
      @include badge-counter-type-color();
    }

    &.onex-badge--variant-status {
      @include badge-status-type-color();

      border-radius: 4px !important;
      text-transform: uppercase;
    }
}
