$font-family: Noto Sans;

$icon-size-sm: 0.75rem;
$icon-size-lg: 0.875rem;

$icon-size-small-sm: 0.625rem;
$icon-size-small-lg: 0.75rem;

$component-height-sm: 1.75rem;
$component-height-lg: 2.5rem;

$component-height-middle-sm: 1.25rem;
$component-height-middle-lg: 1.5rem;

$component-height-small-sm: 1rem;
$component-height-small-lg: 1.25rem;

$component-border-radius-sm: 0.375rem;
$component-border-radius-lg: 0.5rem;

/* fonts */
$font-weight-600: 600;

$font-size-h1: 1.875rem;
$line-height-h1: 2.5rem;

$font-size-h2: 1.25rem;
$line-height-h2: 1.75rem;

$font-size-h3: 1rem;
$line-height-h3: 1.25rem;

$font-size-h4: 0.875rem;
$line-height-h4: 0.938rem;

$font-size-h5: 0.75rem;
$line-height-h5: 1rem;

$font-size-sm: 0.75rem;
$font-size-lg: 0.875rem;
$line-height-sm: 1rem;
$line-height-lg: 1.25rem;

/* button */
$c-btn-padding-y: 0.625rem;
$c-btn-padding-x: 0.75rem;

/* dropdown menu */
$dropdown-menu-padding-x-sm: 0.375rem;
$dropdown-menu-padding-y-sm: 0.625rem;
$dropdown-menu-min-width-sm: 8rem;
$dropdown-menu-item-padding-x-sm: 0.375rem;
$dropdown-menu-item-padding-y-sm: 0.25rem;

$dropdown-menu-padding-x-lg: 0.625rem;
$dropdown-menu-padding-y-lg: 0.75rem;
$dropdown-menu-min-width-lg: 10rem;
$dropdown-menu-item-padding-x-lg: 0.625rem;
$dropdown-menu-item-padding-y-lg: 0.375rem;
