$font-weight-600: $font-weight-600;
$font-size-label: $font-size-label;

$tertiary-500: $tertiary-500;
$primary: $primary;
$warning-100: $warning-100;
$warning: $warning;
$error-100: $error-100;
$error: $error;
$success-100: $success-100;
$success: $success;