$onex-alert-heading-font-weight: $font-weight-600;
$onex-alert-body-font-size: $font-size-label;

$onex-alert-info-background-color: $primary-100;
$onex-alert-info-color: $primary-500;
$onex-alert-warning-background-color: $warning-100;
$onex-alert-warning-color: $warning;
$onex-alert-error-background-color: $error-100;
$onex-alert-error-color: $error;
$onex-alert-success-background-color: $success-100;
$onex-alert-success-color: $success;
