$onex-alert-heading-font-weight: $font-weight-600;
$onex-alert-body-font-size: $font-size-label;
$onex-alert-text-line-height: $line-height-label;

$onex-alert-info-background-color: $primary-50;
$onex-alert-info-color: $primary-500;
$onex-alert-warning-background-color: $warning-50;
$onex-alert-warning-color: $warning-400;
$onex-alert-error-background-color: $error-50;
$onex-alert-error-color: $error-500;
$onex-alert-success-background-color: $success-50;
$onex-alert-success-color: $success-500;
