.alert.onex-alert {
    border-radius: 1rem;
    border: 1px solid;
    color: $black;
    padding: 1rem 1rem 1rem 3.25rem;
    .alert-heading {
        font-weight: $onex-alert-heading-font-weight;
        position: relative;
        .onex-alert__icon {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -2.3rem;
            top: 0;

            .onex-material-icon {
              font-size: $icon-size-xlg;
            }
        }
    }
    .onex-alert__body {
        font-size: $onex-alert-body-font-size;
        margin: 0;
    }
    &.alert-info {
        background-color: $onex-alert-info-background-color;
        border-color: $onex-alert-info-color;
        .onex-alert__icon {
            color: $onex-alert-info-color;
        }
    }
    &.alert-warning {
        background-color: $onex-alert-warning-background-color;
        border-color: $onex-alert-warning-color;
        .onex-alert__icon {
            color: $onex-alert-warning-color;
        }
    }
    &.alert-error {
        background-color: $onex-alert-error-background-color;
        border-color: $onex-alert-error-color;
        .onex-alert__icon {
            color: $onex-alert-error-color;
        }
    }
    &.alert-success {
        background-color: $onex-alert-success-background-color;
        border-color: $onex-alert-success-color;
        .onex-alert__icon {
            color: $onex-alert-success-color;
        }
    }
    .onex-alert__control {
        .btn:first-child {
            margin-right: 0.5rem;
        }
        .btn {
            margin-top: 1rem;
        }
    }
}
