/* fonts */
/* button */
/* dropdown menu */
/* bootstrap variables */
.toast {
  width: 25rem;
  max-width: 100%;
  font-size: 0.875rem;
  color: rgb(26, 28, 30);
  pointer-events: auto;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.toast.showing {
  opacity: 0;
}
.toast:not(.show) {
  display: none;
}

.toast-container {
  width: max-content;
  max-width: 100%;
  pointer-events: none;
}
.toast-container > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0 0;
  color: rgb(26, 28, 30);
  background-color: none;
  background-clip: padding-box;
  border-bottom: 1px solid none;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.toast-header .btn-close {
  margin-right: 0;
  margin-left: 0;
}

.toast-body {
  padding: 0;
  word-wrap: break-word;
}

.onex-toast.onex-toast--variant-success .onex-toast__icon {
  color: rgb(0, 126, 76);
}
.onex-toast.onex-toast--variant-info .onex-toast__icon {
  color: rgb(0, 112, 192);
}
.onex-toast.onex-toast--variant-warning .onex-toast__icon {
  color: rgb(223, 106, 5);
}
.onex-toast.onex-toast--variant-error .onex-toast__icon {
  color: rgb(217, 21, 34);
}
.onex-toast__block {
  font-family: noto-sans, sans-serif;
  font-style: normal;
  line-height: 1.25rem;
  border: 1px solid rgba(26, 28, 30, 0.1);
  box-shadow: 0 0.25rem 1.5rem rgba(26, 28, 30, 0.12);
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255) !important;
}
.onex-toast__header {
  height: 100%;
}
.onex-toast__header .onex-toast__btn-close {
  min-width: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0 !important;
  color: rgb(103, 110, 122);
}
.onex-toast__header .onex-toast__btn-close > svg {
  margin: 0;
  fill: rgb(103, 110, 122);
}
.onex-toast__header .onex-toast__btn-close:hover {
  background-color: white;
  border: none;
  color: rgb(103, 110, 122);
}
.onex-toast__body {
  padding: 0.5rem 1rem 0 2.25rem;
  font-size: 0.875rem;
}
.onex-toast__icon {
  display: flex;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
.onex-toast__icon > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.onex-toast__message {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-grow: 2;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 1rem;
}