/* fonts */
/* button */
/* dropdown menu */
.btn {
  display: inline-block;
  font-family: Noto Sans;
  font-weight: 600;
  line-height: 1.25rem;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: 1;
}

.btn-primary {
  color: white;
  background-color: #0070a8;
  border-color: #0070a8;
}
.btn-primary:hover {
  color: white;
  background-color: #005f8f;
  border-color: #005a86;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: white;
  background-color: #005f8f;
  border-color: #005a86;
  box-shadow: 0 0 0 0 rgba(38, 133, 181, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #005a86;
  border-color: #00547e;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(38, 133, 181, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: white;
  background-color: #0070a8;
  border-color: #0070a8;
}

.btn-secondary {
  color: black;
  background-color: #d1d8e0;
  border-color: #d1d8e0;
}
.btn-secondary:hover {
  color: black;
  background-color: #d8dee5;
  border-color: #d6dce3;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: black;
  background-color: #d8dee5;
  border-color: #d6dce3;
  box-shadow: 0 0 0 0 rgba(178, 184, 190, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: black;
  background-color: #dae0e6;
  border-color: #d6dce3;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(178, 184, 190, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: black;
  background-color: #d1d8e0;
  border-color: #d1d8e0;
}

.btn-success {
  color: black;
  background-color: #4ebf58;
  border-color: #4ebf58;
}
.btn-success:hover {
  color: black;
  background-color: #69c971;
  border-color: #60c569;
}
.btn-check:focus + .btn-success, .btn-success:focus {
  color: black;
  background-color: #69c971;
  border-color: #60c569;
  box-shadow: 0 0 0 0 rgba(66, 162, 75, 0.5);
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: black;
  background-color: #71cc79;
  border-color: #60c569;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(66, 162, 75, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: black;
  background-color: #4ebf58;
  border-color: #4ebf58;
}

.btn-info {
  color: black;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-info:hover {
  color: black;
  background-color: #31d2f2;
  border-color: #25cff2;
}
.btn-check:focus + .btn-info, .btn-info:focus {
  color: black;
  background-color: #31d2f2;
  border-color: #25cff2;
  box-shadow: 0 0 0 0 rgba(11, 172, 204, 0.5);
}
.btn-check:checked + .btn-info, .btn-check:active + .btn-info, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
  color: black;
  background-color: #3dd5f3;
  border-color: #25cff2;
}
.btn-check:checked + .btn-info:focus, .btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(11, 172, 204, 0.5);
}
.btn-info:disabled, .btn-info.disabled {
  color: black;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-warning {
  color: black;
  background-color: #ffb826;
  border-color: #ffb826;
}
.btn-warning:hover {
  color: black;
  background-color: #ffc347;
  border-color: #ffbf3c;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: black;
  background-color: #ffc347;
  border-color: #ffbf3c;
  box-shadow: 0 0 0 0 rgba(217, 156, 32, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: black;
  background-color: #ffc651;
  border-color: #ffbf3c;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(217, 156, 32, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: black;
  background-color: #ffb826;
  border-color: #ffb826;
}

.btn-danger {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: white;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: white;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0 rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: white;
  background-color: #b02a37;
  border-color: #a52834;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-light {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: black;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: black;
  background-color: #f9fafb;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0 rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: black;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(211, 212, 213, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-dark {
  color: white;
  background-color: #212529;
  border-color: #212529;
}
.btn-dark:hover {
  color: white;
  background-color: #1c1f23;
  border-color: #1a1e21;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: white;
  background-color: #1c1f23;
  border-color: #1a1e21;
  box-shadow: 0 0 0 0 rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: white;
  background-color: #1a1e21;
  border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: white;
  background-color: #212529;
  border-color: #212529;
}

.btn-outline-primary {
  color: #0070a8;
  border-color: #0070a8;
}
.btn-outline-primary:hover {
  color: white;
  background-color: #0070a8;
  border-color: #0070a8;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0 rgba(0, 112, 168, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: white;
  background-color: #0070a8;
  border-color: #0070a8;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(0, 112, 168, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #0070a8;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #d1d8e0;
  border-color: #d1d8e0;
}
.btn-outline-secondary:hover {
  color: black;
  background-color: #d1d8e0;
  border-color: #d1d8e0;
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0 rgba(209, 216, 224, 0.5);
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: black;
  background-color: #d1d8e0;
  border-color: #d1d8e0;
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(209, 216, 224, 0.5);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #d1d8e0;
  background-color: transparent;
}

.btn-outline-success {
  color: #4ebf58;
  border-color: #4ebf58;
}
.btn-outline-success:hover {
  color: black;
  background-color: #4ebf58;
  border-color: #4ebf58;
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0 rgba(78, 191, 88, 0.5);
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: black;
  background-color: #4ebf58;
  border-color: #4ebf58;
}
.btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(78, 191, 88, 0.5);
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #4ebf58;
  background-color: transparent;
}

.btn-outline-info {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-outline-info:hover {
  color: black;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0 rgba(13, 202, 240, 0.5);
}
.btn-check:checked + .btn-outline-info, .btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: black;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:checked + .btn-outline-info:focus, .btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(13, 202, 240, 0.5);
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #0dcaf0;
  background-color: transparent;
}

.btn-outline-warning {
  color: #ffb826;
  border-color: #ffb826;
}
.btn-outline-warning:hover {
  color: black;
  background-color: #ffb826;
  border-color: #ffb826;
}
.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0 rgba(255, 184, 38, 0.5);
}
.btn-check:checked + .btn-outline-warning, .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: black;
  background-color: #ffb826;
  border-color: #ffb826;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(255, 184, 38, 0.5);
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #ffb826;
  background-color: transparent;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}
.btn-outline-dark:hover {
  color: white;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0 rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-outline-dark, .btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: white;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:checked + .btn-outline-dark:focus, .btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0 rgba(33, 37, 41, 0.5);
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #212529;
  background-color: transparent;
}

.btn-link {
  font-weight: 400;
  color: #0070a8;
  text-decoration: none;
}
.btn-link:hover {
  color: #002855;
  text-decoration: none;
}
.btn-link:focus {
  text-decoration: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #b0b8bf;
}

.btn-lg {
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

.btn-sm {
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

.onex-btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 0.25rem;
  /* primary */
  /* secondary */
  /* link */
  /* icon-link */
  /* only icon child */
}
.onex-btn .onex-btn__decorator {
  display: none;
}
.onex-btn.btn-primary svg path {
  fill: white;
}
.onex-btn.btn-primary:disabled, .onex-btn.btn-primary.disabled {
  background-color: #b0b8bf;
  border-color: #b0b8bf;
}
.onex-btn.btn-primary.focus:hover, .onex-btn.btn-primary:hover {
  background-color: #002855;
  border-color: #002855;
}
.onex-btn.btn-secondary {
  color: #002855;
}
.onex-btn.btn-secondary svg path {
  fill: #002855;
}
.onex-btn.btn-secondary:hover {
  background-color: #002855;
  border-color: #002855;
  color: white;
}
.onex-btn.btn-secondary:hover svg path {
  fill: white;
}
.onex-btn.btn-secondary:disabled, .onex-btn.btn-secondary.disabled {
  background-color: #e7eef5;
  border-color: #e7eef5;
  color: #b0b8bf;
}
.onex-btn.btn-link {
  font-weight: 600;
}
.onex-btn.btn-link svg path {
  fill: #0070a8;
}
.onex-btn.btn-link:hover, .onex-btn.btn-link.hover {
  color: #002855;
}
.onex-btn.btn-link:hover svg path, .onex-btn.btn-link.hover svg path {
  fill: #002855;
}
.onex-btn.btn-link:hover > .onex-btn__decorator, .onex-btn.btn-link.hover > .onex-btn__decorator {
  display: block;
  position: absolute;
  border-bottom: 1px solid #002855;
}
.onex-btn.btn-lg.btn-link .onex-btn__decorator {
  width: calc(100% - 0.75rem * 2);
  bottom: 0.625rem;
  right: 0.75rem;
}
.onex-btn.btn-lg.btn-link > svg ~ .onex-btn__decorator {
  width: calc(100% - 0.75rem * 2 - 0.875rem - 0.25rem);
}
.onex-btn.btn-sm.btn-link .onex-btn__decorator {
  width: calc(100% - 0.5rem * 2);
  bottom: 0.375rem;
  right: 0.5rem;
}
.onex-btn.btn-sm.btn-link > svg ~ .onex-btn__decorator {
  width: calc(100% - 0.5rem * 2 - 0.75rem - 0.25rem);
}
.onex-btn.btn-icon-link svg path {
  fill: #002855;
}
.onex-btn.btn-icon-link:hover, .onex-btn.btn-icon-link.hover {
  background-color: #e7eef5;
  border-color: #e7eef5;
}
.onex-btn.btn-icon-link:hover svg path, .onex-btn.btn-icon-link.hover svg path {
  fill: #002855;
}
.onex-btn.btn-icon-link:disabled svg path, .onex-btn.btn-icon-link.disabled svg path {
  fill: #b0b8bf;
}
.onex-btn.btn-lg {
  min-width: 2.5rem;
  height: 2.5rem;
}
.onex-btn.btn-sm {
  min-width: 1.75rem;
  height: 1.75rem;
  padding: 0.375rem 0.5rem;
}
.onex-btn svg, .onex-btn.btn-lg svg {
  width: 0.875rem;
  height: 0.875rem;
}
.onex-btn.btn-sm svg {
  width: 0.75rem;
  height: 0.75rem;
}
.onex-btn svg:only-child {
  margin: 0.125rem 0;
}