@mixin size($font-size, $line-height, $height, $icon-size, $border-radius, $icon-color) {
    height: $height;
    min-width: $height;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;

    .onex-lozenge__icon svg {
        width: $icon-size;
        height: $icon-size;

        path {
            fill: $icon-color;
        }
    }
}

@mixin background-color($body-color, $text-color: null, $border-color: null) {
    background-color: $body-color;

    @if $text-color {
        color: $text-color;
    }

    @if $border-color {
        border: 1px solid $border-color;
    }
}

@mixin lozenge-subtle-color() {
    $types: 'default' $onex-lozenge-default-subtle-bg-color
            $onex-lozenge-default-subtle-border-color,
        'success' $onex-lozenge-success-subtle-bg-color $onex-lozenge-success-subtle-border-color,
        'warning' $onex-lozenge-warning-subtle-bg-color $onex-lozenge-warning-subtle-border-color,
        'error' $onex-lozenge-error-subtle-bg-color $onex-lozenge-error-subtle-border-color,
        'info' $onex-lozenge-info-subtle-bg-color $onex-lozenge-info-subtle-border-color;

    @each $type, $bg-color, $border-color in $types {
        &.onex-lozenge--type-#{$type} {
            @include background-color(
                #{$bg-color},
                #{$onex-lozenge-subtle-text-color},
                #{$border-color}
            );

            .onex-lozenge__icon svg path {
                fill: $border-color;
            }
        }
    }
}

@mixin lozenge-bold-color() {
    $types: 'default' $onex-lozenge-default-bold-bg-color $onex-lozenge-default-bold-text-color,
        'success' $onex-lozenge-success-bold-bg-color $onex-lozenge-success-bold-text-color,
        'warning' $onex-lozenge-warning-bold-bg-color $onex-lozenge-warning-bold-text-color,
        'error' $onex-lozenge-error-bold-bg-color $onex-lozenge-error-bold-text-color,
        'info' $onex-lozenge-info-bold-bg-color $onex-lozenge-info-bold-text-color;

    @each $type, $bg-color, $text-color in $types {
        &.onex-lozenge--type-#{$type} {
            @include background-color(#{$bg-color}, #{$text-color});
        }
    }
}

@mixin lozenge-icon-color() {
    $types: 'default' $onex-lozenge-default-icon-bg-color,
        'success' $onex-lozenge-success-bold-bg-color, 'warning' $onex-lozenge-warning-bold-bg-color,
        'error' $onex-lozenge-error-bold-bg-color, 'info' $onex-lozenge-info-bold-bg-color;

    @each $type, $bg-color, $text-color in $types {
        &.onex-lozenge--type-#{$type} {
            @include background-color(#{$bg-color});
        }
    }
}
