$onex-lozenge-default-subtle-bg-color: $secondary-20;
$onex-lozenge-default-subtle-border-color: $secondary;
$onex-lozenge-success-subtle-bg-color: $success-100;
$onex-lozenge-success-subtle-border-color: $success;
$onex-lozenge-warning-subtle-bg-color: $warning-100;
$onex-lozenge-warning-subtle-border-color: $warning;
$onex-lozenge-error-subtle-bg-color: $error-100;
$onex-lozenge-error-subtle-border-color: $error;
$onex-lozenge-info-subtle-bg-color: $white;
$onex-lozenge-info-subtle-border-color: $primary-500;
$onex-lozenge-subtle-text-color: $black;

$onex-lozenge-default-bold-bg-color: $black-opacity-07;
$onex-lozenge-default-bold-text-color: $white;
$onex-lozenge-success-bold-bg-color: $success;
$onex-lozenge-success-bold-text-color: $white;
$onex-lozenge-warning-bold-bg-color: $warning;
$onex-lozenge-warning-bold-text-color: $black;
$onex-lozenge-error-bold-bg-color: $error;
$onex-lozenge-error-bold-text-color: $white;
$onex-lozenge-info-bold-bg-color: $primary-500;
$onex-lozenge-info-bold-text-color: $white;

$onex-lozenge-icon-color: $white;
$onex-lozenge-default-icon-bg-color: $secondary-250;

$onex-lozenge-size-sm: $component-height-middle-sm;
$onex-lozenge-icon-size-sm: 0.5rem;
$onex-lozenge-line-height-sm: $line-height-sm;
$onex-lozenge-font-size-sm: $font-size-sm;
$onex-lozenge-border-radius-sm: $component-border-radius-sm;

$onex-lozenge-size-lg: $component-height-middle-lg;
$onex-lozenge-icon-size-lg: $icon-size-small-lg;
$onex-lozenge-line-height-lg: $line-height-lg;
$onex-lozenge-font-size-lg: $font-size-lg;
$onex-lozenge-border-radius-lg: $component-border-radius-sm;

$onex-lozenge-padding-y: 0.125rem;
$onex-lozenge-padding-x: 0.375rem;
$onex-lozenge-text-padding-x: 0.125rem;
