@import 'mixins';

.onex-lozenge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $onex-lozenge-padding-y $onex-lozenge-padding-x;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        & svg {
            fill: $onex-lozenge-icon-color;
        }

        & .onex-material-icon {
          color: $onex-lozenge-icon-color;
        }
    }

    &__text {
        padding: 0 $onex-lozenge-text-padding-x;
    }

    &--size-lg {
        @include size(
            $onex-lozenge-font-size-lg,
            $onex-lozenge-line-height-lg,
            $onex-lozenge-size-lg,
            $onex-lozenge-icon-size-lg,
            $onex-lozenge-border-radius-lg,
            $onex-lozenge-icon-color
        );

        .onex-lozenge__icon + .onex-lozenge__text {
            margin-left: 0.25rem;
        }
    }

    &--size-sm {
        @include size(
            $onex-lozenge-font-size-sm,
            $onex-lozenge-line-height-sm,
            $onex-lozenge-size-sm,
            $onex-lozenge-icon-size-sm,
            $onex-lozenge-border-radius-sm,
            $onex-lozenge-icon-color
        );

        .onex-lozenge__icon + .onex-lozenge__text {
            margin-left: 0.125rem;
        }
    }

    &--variant-bold {
        @include lozenge-bold-color();
    }

    &--variant-subtle {
        @include lozenge-subtle-color();
    }

    &--variant-icon {
        @include lozenge-icon-color();

        border-radius: 100%;
        padding: $onex-lozenge-padding-y;
    }
}
