$onex-hint-info-icon-color: $primary;
$onex-hint-success-icon-color: $success;
$onex-hint-warning-icon-color: $warning-400;
$onex-hint-error-icon-color: $error;
$onex-hint-text-color: $secondary-900;

$onex-hint-icon-size: $font-size-h3;
$onex-hint-font-size: $font-size-label;
$onex-hint-line-height: $line-height-label;
