@import 'mixins';

.onex-hint {
  @include hint-icon-color-variant();

  display: inline-flex;
  gap: 0.5rem;
  align-items: stretch;
  max-width: 100%;

  &__icon {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    svg {
      width: $onex-hint-icon-size;
      height: $onex-hint-icon-size;
    }

    .material-icons-round,
    .onex-material-icon, {
      font-size: $onex-hint-icon-size;
    }
  }

  &__body {
    display: inline-flex;
    align-items: center;
    font-size: $onex-hint-font-size;
    line-height: $onex-hint-line-height;
    color: $onex-hint-text-color;
  }
}
