@import 'mixins';

.onex-data-table__img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $onex-table-cell-body-image-size;
    width: $onex-table-cell-body-image-size;
    min-width: $onex-table-cell-body-image-size;
    border-radius: 100%;
    margin-right: 0.5rem;
    overflow: hidden;

    img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.onex-data-table {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.onex-data-table__text {
    display: inline-flex;
    flex-direction: column;
}

.onex-data-table__subTitle {
    font-size: $onex-table-body-subtitle-font-size;
    line-height: $onex-table-body-subtitle-line-height;
    color: $onex-table-body-subtitle-text-color;
}

.onex-table__cell--variant-header {
    .onex-data-table__icon--start {
        @include icon-style($onex-table-header-icon-size-lg, $onex-table-header-icon-color);
        margin-right: 0.5rem;
    }

    .onex-data-table__icon--end {
        @include icon-style($onex-table-header-icon-size-lg, $onex-table-header-icon-color);
    }

    .onex-data-table:only-child .onex-data-table__icon:only-child {
        @include icon-style($onex-table-header-icon-size-sm, $onex-table-header-only-icon-color);
    }
}

.onex-table__cell--variant-body {
    .onex-data-table__icon {
        @include icon-style($onex-table-body-icon-size-sm, $onex-table-body-icon-color);

        &--start {
            margin-right: 0.5rem;
        }

        &--end {
            margin-left: 2px;

            svg path {
                fill: $onex-table-body-icon-end-color;
            }
        }
    }

    .onex-data-table:only-child .onex-data-table__icon:only-child {
        @include icon-style($onex-table-body-icon-size-lg, $onex-table-body-icon-color);
    }
}
