$onex-data-grid-editable-cell-padding-x: 0.75rem;
$onex-data-grid-editable-cell-padding-y: 0.875rem;

$onex-data-grid-editable-cell-font-size: $font-size-label;
$onex-data-grid-editable-cell-line-height: $line-height-label;

$onex-data-grid-editable-cell-hover-border-color: $secondary-900-opacity-50;
$onex-data-grid-editable-cell-focus-border-color: $primary-500;
