$main-colors: (
  'medidata': #c8d300,
  'primary': #0070a8,
  'secondary': #002855,
);

$text-colors: (
  'primary': #000000,
  'secondary': #626b78,
  'disabled': #b0b8bf,
);

$background-colors: (
  'primary': #ffffff,
  'secondary': #f4f8fc,
  'tertiary': #e7eef5,
  'border': '#D1D8E0',
);

$brand-bg-colors: (
  'primary': #e6f1f6,
  'secondary': #cce2ee,
  'tertiary': #b3d4e5,
);

$status-colors: (
  'success': #4ebf58,
  'warning': #ffb826,
  'error': #f93c3c,
);

$status-text-colors: (
  'success': #2f8336,
  'warning': #212121,
  'error': #e40707,
);

$status-bg-colors: (
  'success': #f5fcf9,
  'warning': #fefaf2,
  'error': #fdf8f8,
);

$graph-colors: (
  'navy-blue': #002855,
  'genoa': #186670,
  'dodger-blue': #5663ff,
  'lavendar': #b96ad4,
  'apricot': #eb8181,
  'casablanca': #f7ab3e,
  'ripe-lemon': #f7d114,
  'jagged-ice': #c7e1eb,
  'border': #d1d8e0,
  'light-border': #e2e8f7,
);
