$main-colors: (
    'medidata': #c8d300,
    'primary': #0070a8,
    'secondary': #002855,
);

$text-colors: (
    'primary': #000000,
    'secondary': #626b78,
    'disabled': #b0b8bf,
);

$background-colors: (
    'primary': #ffffff,
    'secondary': #f4f8fc,
    'tertiary': #e7eef5,
    'border': '#D1D8E0',
);

$brand-bg-colors: (
    'primary': #e6f1f6,
    'secondary': #cce2ee,
    'tertiary': #b3d4e5,
);

$status-colors: (
    'success': #4ebf58,
    'warning': #ffb826,
    'error': #f93c3c,
);

$status-text-colors: (
    'success': #2f8336,
    'warning': #212121,
    'error': #e40707,
);

$status-bg-colors: (
    'success': #f5fcf9,
    'warning': #fefaf2,
    'error': #fdf8f8,
);

$graph-colors: (
    'navy-blue': #002855,
    'genoa': #186670,
    'dodger-blue': #5663ff,
    'lavendar': #b96ad4,
    'apricot': #eb8181,
    'casablanca': #f7ab3e,
    'ripe-lemon': #f7d114,
    'jagged-ice': #c7e1eb,
    'border': #d1d8e0,
    'light-border': #e2e8f7,
);

$secondary: rgba(209, 216, 224, 1);
$secondary-100: rgba(244, 248, 252, 1);
$secondary-200: rgba(231, 238, 245, 1);
$secondary-300: rgba(230, 241, 246, 1);
$secondary-500: rgba(176, 184, 191, 1);
$secondary-600: rgba(98, 107, 120, 1);
$secondary-800: rgba(35, 38, 43, 1);

$primary: rgba(0, 112, 168, 1);
$primary-300: rgba(0, 88, 133, 1);
$primary-700: rgba(0, 40, 85, 1);

$tertiary: rgba(179, 212, 229, 1);
$tertiary-100: rgba(204, 226, 238, 1);

$success: rgba(78, 191, 88, 1);
$success-100: rgba(245, 252, 249, 1);
$success-500: rgba(47, 131, 54, 1);

$warning: rgba(255, 184, 38, 1);
$warning-100: rgba(254, 250, 242, 1);

$error: rgba(249, 60, 60, 1);
$error-100: rgba(253, 248, 248, 1);
$error-500: rgba(228, 7, 7, 1);

$white: rgba(255, 255, 255, 1);

$black: rgba(0, 0, 0, 1);
$black-opacity-07: rgba(0, 0, 0, 0.7);

$transparent: rgba(255, 255, 255, 0);
