@charset "UTF-8";
@use 'sass:math';
@use 'sass:map';
/* fonts */
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/74b049/00000000000000007735b97f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74b049/00000000000000007735b97f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74b049/00000000000000007735b97f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/34c58e/00000000000000007735b983/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/34c58e/00000000000000007735b983/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/34c58e/00000000000000007735b983/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/e5635b/00000000000000007735b98f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e5635b/00000000000000007735b98f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e5635b/00000000000000007735b98f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/abdd72/00000000000000007735b993/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/abdd72/00000000000000007735b993/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/abdd72/00000000000000007735b993/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/dde969/00000000000000007735b995/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/dde969/00000000000000007735b995/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/dde969/00000000000000007735b995/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "noto-sans";
  src: url("https://use.typekit.net/af/044d9a/00000000000000007735b99b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/044d9a/00000000000000007735b99b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/044d9a/00000000000000007735b99b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
.tk-noto-sans {
  font-family: "noto-sans", sans-serif;
}



$grid-gutter-width: 2rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: math.div($spacer, 4),
  2: math.div($spacer, 2),
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6.5,
  10: $spacer * 10.5,
);

@import '../../node_modules/bootstrap/scss/functions';
@import '../themes/base/colors';
@import '../themes/base/sizes';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

body {
  font-family: $font-family;
}

.innerZoomElementWrapper > * {
  vertical-align: top;
}

@import './brand-colors';
:root {
  @each $color, $value in $main-colors {
    --main-#{$color}: #{$value};
  }
  @each $color, $value in $text-colors {
    --text-#{$color}: #{$value};
  }
  @each $color, $value in $background-colors {
    --background-#{$color}: #{$value};
  }
  @each $color, $value in $brand-bg-colors {
    --brand-bg-#{$color}: #{$value};
  }
  @each $color, $value in $status-colors {
    --status-#{$color}: #{$value};
  }
  @each $color, $value in $status-text-colors {
    --status-text-#{$color}: #{$value};
  }
  @each $color, $value in $status-bg-colors {
    --status-bg-#{$color}: #{$value};
  }
  @each $color, $value in $graph-colors {
    --graph-#{$color}: #{$value};
  }
}

@import '../components/Avatar/scss/index';
@import '../components/Badge/scss/index';
@import '../components/Buttons/scss/index';
@import '../components/Check/scss/index';
@import '../components/Dropdown/scss/index';
@import '../components/ExpansionPanel/scss/index';
@import '../components/InlineEditSelect/scss/index';
@import '../components/InlineEditText/scss/index';
@import '../components/Lozenge/scss/index';
@import '../components/MenuItem/scss/index';
@import '../components/Navigation/scss/index';
@import '../components/Pagination/scss/index';
@import '../components/Select/scss/index';
@import '../components/Switch/scss/index';
@import '../components/TablePagination/scss/index';
@import '../components/Tables/scss/index';
@import '../components/Tabs/scss/index';
@import '../components/Tag/scss/index';
@import '../components/TextArea/scss/index';
@import '../components/TextField/scss/index';
@import '../components/SearchField/scss/index';
@import '../components/Toasts/scss/index';
@import '../components/ToggleButton/scss/index';
@import '../components/Tooltip/scss/index';
@import '../components/Typography/scss/index';
@import '../components/DataGrid/scss/index';
@import '../components/Modal/scss/index';
@import '../components/ProgressBar/scss/index';

/* Bootstrap */
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/accordion';
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/breadcrumb';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/carousel';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/helpers';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/offcanvas';
@import '../../node_modules/bootstrap/scss/placeholders';
@import '../../node_modules/bootstrap/scss/progress';
@import '../../node_modules/bootstrap/scss/spinners';
@import '../../node_modules/bootstrap/scss/transitions';
