@charset "UTF-8";
@use 'sass:math';
@use 'sass:map';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* google mu icons*/
@import '../../node_modules/@material-design-icons/font/round.css';

$grid-gutter-width: 2rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: math.div($spacer, 4),
  2: math.div($spacer, 2),
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6.5,
  10: $spacer * 10.5,
);

@import '../../node_modules/bootstrap/scss/functions';
@import '../themes/base/colors';
@import '../themes/base/sizes';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

body {
  font-family: $font-family;
}

.innerZoomElementWrapper > * {
  vertical-align: top;
}

.material-icons-round {
  font-size: $icon-size-xlg;
  color: inherit;
}

@import './brand-colors';
:root {
  @each $color, $value in $basic-colors {
    --basic-#{$color}: #{$value};
  }
  @each $color, $value in $primary-colors {
    --primary-#{$color}: #{$value};
  }
  @each $color, $value in $secondary-colors {
    --secondary-#{$color}: #{$value};
  }
  @each $color, $value in $success-colors {
    --success-#{$color}: #{$value};
  }
  @each $color, $value in $warning-colors {
    --warning-#{$color}: #{$value};
  }
  @each $color, $value in $error-colors {
    --error-#{$color}: #{$value};
  }
  @each $color, $value in $graph-colors {
    --graph-#{$color}: #{$value};
  }
}

@import '../components/Avatar/scss/index';
@import '../components/Badge/scss/index';
@import '../components/Buttons/scss/index';
@import '../components/Check/scss/index';
@import '../components/Dropdown/scss/index';
@import '../components/ExpansionPanel/scss/index';
@import '../components/InlineEditSelect/scss/index';
@import '../components/InlineEditText/scss/index';
@import '../components/Lozenge/scss/index';
@import '../components/MenuItem/scss/index';
@import '../components/Navigation/scss/index';
@import '../components/Pagination/scss/index';
@import '../components/Select/scss/index';
@import '../components/Switch/scss/index';
@import '../components/TablePagination/scss/index';
@import '../components/Tables/scss/index';
@import '../components/Tabs/scss/index';
@import '../components/Tag/scss/index';
@import '../components/TextArea/scss/index';
@import '../components/TextField/scss/index';
@import '../components/SearchField/scss/index';
@import '../components/Toasts/scss/index';
@import '../components/ToggleButton/scss/index';
@import '../components/Tooltip/scss/index';
@import '../components/Typography/scss/index';
@import '../components/DataGrid/scss/index';
@import '../components/Modal/scss/index';
@import '../components/ProgressBar/scss/index';
@import '../components/Card/scss/index';
@import '../components/Spinner/scss/index';
@import '../components/Offcanvas/scss/index';
@import '../components/Alert/scss/index';

/* Bootstrap */
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/accordion';
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/breadcrumb';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/carousel';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/helpers';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/offcanvas';
@import '../../node_modules/bootstrap/scss/placeholders';
@import '../../node_modules/bootstrap/scss/progress';
@import '../../node_modules/bootstrap/scss/spinners';
@import '../../node_modules/bootstrap/scss/transitions';
