@charset "UTF-8";
@use 'sass:math';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@import './colors.scss';
@import './sizes.scss';

$grid-gutter-width: 2rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: math.div($spacer, 4),
  2: math.div($spacer, 2),
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6.5,
  10: $spacer * 10.5,
);

@import '../components/Avatar/styles/variables';
@import '../components/Badge/styles/variables';
@import '../components/Button/styles/variables';
@import '../components/Check/styles/variables';
@import '../components/Dropdown/styles/variables';
@import '../components/ExpansionPanel/styles/variables';
@import '../components/InlineEditSelect/styles/variables';
@import '../components/InlineEditText/styles/variables';
@import '../components/Lozenge/styles/variables';
@import '../components/MenuItem/styles/variables';
@import '../components/Navigation/styles/variables';
@import '../components/Pagination/styles/variables';
@import '../components/Select/styles/variables';
@import '../components/Switch/styles/variables';
@import '../components/Table/styles/variables';
@import '../components/Tabs/styles/variables';
@import '../components/Tag/styles/variables';
@import '../components/TextArea/styles/variables';
@import '../components/TextField/styles/variables';
@import '../components/Toast/styles/variables';
@import '../components/Toggle/components/ToggleButton/styles/variables';
@import '../components/Tooltip/styles/variables';
@import '../components/Typography/styles/variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  @each $color, $value in $main-colors {
    --main-#{$color}: #{$value};
  }
  @each $color, $value in $text-colors {
    --text-#{$color}: #{$value};
  }
  @each $color, $value in $background-colors {
    --background-#{$color}: #{$value};
  }
  @each $color, $value in $brand-bg-colors {
    --brand-bg-#{$color}: #{$value};
  }
  @each $color, $value in $status-colors {
    --status-#{$color}: #{$value};
  }
  @each $color, $value in $status-text-colors {
    --status-text-#{$color}: #{$value};
  }
  @each $color, $value in $status-bg-colors {
    --status-bg-#{$color}: #{$value};
  }
  @each $color, $value in $graph-colors {
    --graph-#{$color}: #{$value};
  }
}
