$onex-tag-height-sm: 1.5rem;
$onex-tag-height-md: 2rem;
$onex-tag-border-radius: 0.25rem;

$onex-tag-close-icon-size: 0.688rem;
$onex-tag-btn-size-sm: $icon-size-sm;
$onex-tag-btn-size-lg: $icon-size-lg;

$onex-tag-img-size: 1.5rem;
$onex-tag-hover-text-color: $white;
