$onex-tag-height: 2rem;
$onex-tag-border-radius: 0.5rem;
$onex-tag-height-lg: 1.75rem;
$onex-tag-height-md: $component-height-middle-lg;
$onex-tag-height-sm: $component-height-middle-sm;

$onex-tag-close-icon-size: 0.5rem;
$onex-tag-btn-size-sm: $icon-size-sm;
$onex-tag-btn-size-lg: $icon-size-lg;

$onex-tag-img-size: 1.25rem;
$onex-tag-hover-text-color: $white;
