.onex-tag {
  box-sizing: border-box;
  padding: 0.375rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: $onex-tag-background-color;
  border: none;
  height: $onex-tag-height-md;
  border-radius: $onex-tag-border-radius;
  font-family: $font-family;
  font-style: normal;
  font-size: $onex-tag-font-size;
  line-height: $onex-tag-line-height;
  color: $onex-tag-color;
  cursor: pointer;
  font-family: $font-family;

  &--variant-selection {
    cursor: pointer;
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $onex-tag-selection-background-color;
      outline: none;
    }
  }


  &--variant-input {
    cursor: auto !important;
  }

  &--size-sm {
    height: $onex-tag-height-sm;
    padding: $onex-tag-padding-y $onex-tag-padding-x $onex-tag-padding-y 0.5rem;

    .onex-tag__img {
      display: none;
    }
  }

  &:disabled {
    opacity: $onex-tag-disabled-opacity;
    pointer-events: none;
    cursor: not-allowed;
  }

  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $onex-tag-close-margin-x;
    padding: 0;
    border: 0;
    background-color: initial;
    color: $onex-tag-close-color;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $onex-tag-close-hover-color;
      outline: none;
    }

    & > svg,
    & > .onex-material-icon,
    & > .material-icons-round {
      font-size: $onex-tag-close-font-size;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $onex-tag-img-size;
    height: $onex-tag-img-size;
    margin-right: $onex-tag-img-margin-x;
    border-radius: 100%;
    overflow: hidden;

    & > img {
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.onex-tag--selected {
  background-color: $onex-tag-selected-background-color;

  .onex-tag__close {
    color: $onex-tag-selected-close-color;
    &:hover,
    &:focus,
    &:focus-visible {
      color: $onex-tag-selected-close-hover-color;
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $onex-tag-selected-hover-background-color;
    outline: none;
  }
}
