.onex-tag {
  box-sizing: border-box;
  padding: 0.375rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: $secondary-500-opacity-01;
  border: none;
  height: $onex-tag-height-md;
  border-radius: $onex-tag-border-radius;
  font-family: $font-family;
  font-style: normal;
  font-size: $font-size-label;
  line-height: $line-height-label;
  color: $secondary-900;
  cursor: pointer;


  &--variant-selection {
    cursor: pointer;
    &:hover {
      background-color: $secondary-100;
    }
  }


  &--variant-input {
    cursor: auto !important;
  }

  &--size-sm {
    height: $onex-tag-height-sm;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;

    .onex-tag__img {
      display: none;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
  }

  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.25rem;
    padding: 0; //0.281rem;
    border: 0;
    background-color: initial;
    color: $secondary-500;

    & > svg,
    & > .onex-material-icon,
    & > .material-icons-round {
      font-size: 1.25rem;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $onex-tag-img-size;
    height: $onex-tag-img-size;
    margin-right: 0.5rem;
    border-radius: 100%;
    overflow: hidden;

    & > img {
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.onex-tag--selected {
  background-color: $primary-100;

  .onex-tag__close {
    color: $primary-600;
  }

  &:hover {
    background-color: $primary-200;
  }
}
