$onex-inline-alert-padding-sm-y: 0.75rem;
$onex-inline-alert-padding-sm-x-left: 2.5rem;
$onex-inline-alert-padding-sm-x-right: 1rem;
$onex-inline-alert-padding-sm: $onex-inline-alert-padding-sm-y $onex-inline-alert-padding-sm-x-right $onex-inline-alert-padding-sm-y $onex-inline-alert-padding-sm-x-left;