.onex-inline-alert {
    &.alert.onex-alert.alert-success,
    &.alert.onex-alert.alert-warning,
    &.alert.onex-alert.alert-info,
    &.alert.onex-alert.alert-error {
        margin-bottom: 0;
        border: transparent;
        border-radius: 0.5rem;

        .alert-heading {
            font-weight: 400;
            font-size: 14px;
        }
    }
    &__size-sm.alert.onex-alert {
        padding: 0.75rem 1rem 0.75rem 2.5rem;
    }
}