.onex-inline-alert {
    &.alert.onex-alert.alert-success,
    &.alert.onex-alert.alert-warning,
    &.alert.onex-alert.alert-info,
    &.alert.onex-alert.alert-error {
        margin-bottom: 0;
        border: transparent;
        border-radius: 0.5rem;

        .alert-heading {
            font-weight: $onex-inline-alert-head-font-weight;
            font-size: $onex-inline-alert-head-font-size;
        }
    }
    &__size-sm.alert.onex-alert {
        padding: $onex-inline-alert-padding-sm-y $onex-inline-alert-padding-sm-x-right $onex-inline-alert-padding-sm-y $onex-inline-alert-padding-sm-x-left;
    }
}