$onex-nav-item-font-size: $font-size-lg;
$onex-nav-item-line-height: $line-height-lg;
$onex-nav-item-font-weight: $font-weight-600;

$onex-nav-item-padding-x: 0.625rem;
$onex-nav-item-padding-y: 0.875rem;

$onex-nav-item-text-color: $primary-720;
$onex-nav-item-hover-text-color: $primary-720;
$onex-nav-item-disabled-text-color: $secondary-500;
$onex-nav-item-active-text-color: $primary-500;
$onex-nav-item-active-bg-color: $transparent;
$onex-nav-item-underline-height: 0.25rem;
$onex-nav-item-underline-height-border-radius: 0.125rem;

$onex-nav-item-tabs-border-color: $transparent;
$onex-nav-item-tabs-border-width: 0;
$onex-nav-item-tabs-border-radius: 0;

/* bootstrap variables */
$nav-link-padding-y: $onex-nav-item-padding-y;
$nav-link-padding-x: $onex-nav-item-padding-x;
$nav-link-font-size: $onex-nav-item-font-size;
$nav-link-font-weight: $onex-nav-item-font-weight;
$nav-link-color: $onex-nav-item-text-color;
$nav-link-hover-color: $onex-nav-item-hover-text-color;
$nav-link-disabled-color: $onex-nav-item-disabled-text-color;

$nav-tabs-border-color: $onex-nav-item-tabs-border-color;
$nav-tabs-border-width: $onex-nav-item-tabs-border-width;
$nav-tabs-border-radius: $onex-nav-item-tabs-border-radius;
$nav-tabs-link-hover-border-color: $onex-nav-item-tabs-border-color;
$nav-tabs-link-active-color: $onex-nav-item-active-text-color;
$nav-tabs-link-active-bg: $onex-nav-item-active-bg-color;
$nav-tabs-link-active-border-color: $onex-nav-item-tabs-border-color;
