.onex-pagination {
    button {
      background-color: $white;
      border: none;
      display: flex;
      align-items: center;
      margin-right: $pagination-button-margin;
      & > svg {
        width: $pagination-next-width;
        height: $pagination-next-height;
      }
      & > svg path {
        fill: $pagination-arrow-color;
      }

      & .onex-material-icon,
      & .material-icons-round {
        font-size: $pagination-next-width;
        color: $pagination-arrow-color;
      }

      &:hover:not(.disabled) {
        svg path {
          fill: $pagination-next-color-hover;
        }
        & .onex-material-icon,
        & .material-icons-round {
          color: $pagination-next-color-hover;
        }
      }
    }
    button:last-child {
      margin-right: 0rem;
      margin-left: $pagination-button-margin-last-child;
      transform: rotate(180deg);
    }
  .page-item {
    margin-right: $pagination-item-margin-right;
    &:focus {
      border-width: 0rem;
    }
    .page-link {
      border-width: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      border-radius: $pagination-item-border-radius;
      transition: none;
      text-decoration: none;
      &:hover {
        background-color: $pagination-item-hover-background;
        color: $white;

      }
    }
  }
  .pagination_arrow .page-link {
    background-color: $white;
    color: $pagination-arrow-color;
    &:hover {
      background-color:$white;
      color: $black;
    }
  }
  .pagination_arrow--diasabled .page-link {
    color: $pagination-arrow-color-disabled;
  }
}

.onex-pagination .active{
  border-radius: $pagination-item-border-radius;
  .page-link {
    color:$white;
    &:hover {
      background-color: $pagination-active-item-hover-background;
    }
  }
}
.onex-pagination--sm .page-item  .page-link {
  width: $pagination-item-sm-size;
  height: $pagination-item-sm-size;
  font-size: $pagination-item-sm-font-size;
}

.onex-pagination--lg .page-item  .page-link {
  width: $pagination-item-lg-size;
  height: $pagination-item-lg-size;
  font-size: $pagination-item-lg-font-size;
}
