$backhround-border-color: $tertiary-300;
$spinner-color-primary: $primary;

$default-spinner-diametr: 2rem;
$default-spinner-border-width: 0.25em;

$spinner-diametr-lg: 3rem;
$spinner-border-width-lg: 0.3em;

$spinner-diametr-sm: 1rem;
$spinner-border-width-sm: 0.2em;