$background-border-color: $primary-50;
$spinner-color-primary: $primary-500;

$default-spinner-diameter: 2rem;
$default-spinner-border-width: 0.25em;

$spinner-diameter-lg: 2.5rem;
$spinner-border-width-lg: 0.25em;

$spinner-diameter-sm: 1rem;
$spinner-border-width-sm: 0.2em;
