$background-border-color: $tertiary-200;
$spinner-color-primary: $primary;

$default-spinner-diameter: 2rem;
$default-spinner-border-width: 0.25em;

$spinner-diameter-lg: 2.5rem;
$spinner-border-width-lg: 0.25em;

$spinner-diameter-sm: 1rem;
$spinner-border-width-sm: 0.2em;
