.onex-spinner {
    width: $default-spinner-diametr;
    height: $default-spinner-diametr;
    border: $default-spinner-border-width solid $background-border-color;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;

    & > div {
        position: absolute;
        left: -$default-spinner-border-width;
        top: -$default-spinner-border-width;
        color: $spinner-color-primary !important;
        border-bottom-color: transparent;
    }

    &--sm {
        width: $spinner-diametr-sm;
        height: $spinner-diametr-sm;
        border-width: $spinner-border-width-sm;

        & > div {
            left: -$spinner-border-width-sm;
            top: -$spinner-border-width-sm;
        }
    }

    &--lg {
        width: $spinner-diametr-lg;
        height: $spinner-diametr-lg;
        border-width: $spinner-border-width-lg;

        & > div {
            width: $spinner-diametr-lg;
            height: $spinner-diametr-lg;
            left: -$spinner-border-width-lg;
            top: -$spinner-border-width-lg;
            border-width: $spinner-border-width-lg;
        }
    }
}
