@mixin size($checkbox-size, $font-size, $line-height) {
  .onex-check__custom {
    width: $checkbox-size;
    height: $checkbox-size;
  }

  .form-check-label {
    font-size: $font-size;
    line-height: $line-height;
  }
}

@mixin default-check-styles() {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: painted;
  font-family: $font-family;

  &.disabled,
  &.disabled > .form-check-label {
    pointer-events: none;
  }

  .onex-check__custom {
    content: '';
    display: block;
    border: $onex-form-check-input-border;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
  }

  .form-check-input {
    position: absolute;
    opacity: 0 !important;
    cursor: pointer;
    height: 0;
    width: 0;

    &:disabled {
      & ~ .onex-check__custom {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &:focus {
      & ~ .onex-check__custom {
        box-shadow: 0px 0px 0px 2px $primary-200;
      }
    }
  }

  &:hover {
    .form-check-input {
      &:not(:disabled) {
        & ~ .onex-check__custom {
          border-color: $onex-check-input-hover-border-color;
        }
      }

      &:checked {
        & ~ .onex-check__custom {
          border-color: $primary-600;
        }
      }

      &:disabled {
        & ~ .onex-check__custom {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }

  .form-check-label {
    cursor: pointer;
  }
}
