/* sizes variables */
$onex-checkbox-size-lg: $component-height-small-lg;
$onex-font-size-label-lg: $font-size-lg;
$onex-line-height-label-lg: $line-height-lg;
$onex-checkbox-size-sm: $component-height-small-sm;
$onex-font-size-label-sm: $font-size-sm;
$onex-line-height-label-sm: $line-height-sm;

$onex-form-check-input-indeterminate-bg-image-hover: url("data:image/svg+xml,<svg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='#{$primary-700}'/></svg>");
$onex-form-check-input-indeterminate-bg-image-disabled: url("data:image/svg+xml,<svg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='#{$secondary}'/></svg>");

$onex-check-input-bg-color: $white;
$onex-check-hover-bg-color: $secondary-300;
$onex-check-hover-shadow-color: $secondary-300;
$onex-check-input-hover-bg-color: $white;
$onex-check-input-hover-border-color: $secondary-opacity-50;
$onex-check-input-checked-bg-color: $primary-700;
$onex-check-input-disabled-border-color: $secondary;
$onex-check-input-disabled-bg-color: $secondary;
$onex-check-input-border-color: $primary;

$onex-check-label-text-color: $primary-700;
$onex-check-label-disabled-text-color: $secondary-500;

$onex-form-check-input-border: 2px solid $secondary-opacity-20;
$onex-form-check-input-focus-border: $secondary;
$onex-form-check-input-focus-box-shadow: none;
$onex-form-check-input-disabled-opacity: 0.4;
$onex-form-check-label-color: $secondary-900;
$onex-form-check-label-cursor: pointer;
$onex-form-check-input-indeterminate-color: $primary;
$onex-form-check-input-indeterminate-bg-color: $white;
$onex-form-check-input-indeterminate-border-color: $primary;
$onex-form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C0 0.83424 0.065848 0.675269 0.183058 0.558058C0.300269 0.440848 0.45924 0.375 0.625 0.375H9.375C9.54076 0.375 9.69973 0.440848 9.81694 0.558058C9.93415 0.675269 10 0.83424 10 1C10 1.16576 9.93415 1.32473 9.81694 1.44194C9.69973 1.55915 9.54076 1.625 9.375 1.625H0.625C0.45924 1.625 0.300269 1.55915 0.183058 1.44194C0.065848 1.32473 0 1.16576 0 1Z' fill='#{$onex-form-check-input-indeterminate-color}'/></svg>");
