/* sizes variables */
$onex-checkbox-size: $component-height-small-sm;
$onex-font-size-label: $font-size-lg;
$onex-line-height-label: $line-height-lg;

$onex-check-input-bg-color: $white;
$onex-check-hover-bg-color: $secondary-300;
$onex-check-hover-shadow-color: $secondary-300;
$onex-check-input-hover-bg-color: $white;
$onex-check-input-hover-border-color: $secondary-opacity-50;
$onex-check-input-disabled-border-color: $primary-500;
$onex-check-input-disabled-bg-color: $primary-500;
$onex-check-input-border-color: $primary-500;

$onex-form-check-input-border: 2px solid $secondary-opacity-20;
$onex-form-check-input-focus-border: $secondary;
$onex-form-check-input-focus-box-shadow: none;
$onex-form-check-input-disabled-opacity: 0.4;
$onex-form-check-label-color: $secondary-900;
$onex-form-check-label-cursor: pointer;
$onex-form-check-input-indeterminate-color: $primary-500;
$onex-form-check-input-indeterminate-bg-color: $white;
$onex-form-check-input-indeterminate-border-color: $primary-500;
$onex-form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg width='9' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M8.55556 1.88889H1.44445C0.955557 1.88889 0.555557 1.48889 0.555557 1C0.555557 0.511111 0.955557 0.111111 1.44445 0.111111H8.55556C9.04445 0.111111 9.44445 0.511111 9.44445 1C9.44445 1.48889 9.04445 1.88889 8.55556 1.88889Z' fill='white'/> </svg>");
$onex-form-check-input-bg-image: url("data:image/svg+xml,<svg width='11.7' height='8.5' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.85334 8.80466C4.50667 9.15133 3.94667 9.15133 3.6 8.80466L0.408893 5.61355C0.0622267 5.26688 0.0622267 4.70688 0.408893 4.36022C0.75556 4.01355 1.31556 4.01355 1.66223 4.36022L4.22223 6.92022L10.3378 0.804662C10.6844 0.457995 11.2444 0.457995 11.5911 0.804662C11.9378 1.15133 11.9378 1.71133 11.5911 2.05799L4.85334 8.80466Z' fill='white'/></svg>");
