@import 'mixins';

.onex-check {
  display: inline-flex;
}

.onex-check__wrapper {
  @include size($onex-checkbox-size, $onex-font-size-label, $onex-line-height-label);
  @include default-check-styles();

  .form-check-input[type='checkbox'] {
    & ~ .onex-check__custom {
      border-radius: 2px;
    }

    &:checked {
      & ~ .onex-check__custom {
        border-color: $onex-check-input-border-color;
        background-color: $onex-check-input-border-color;
        background-image: escape-svg($onex-form-check-input-bg-image);
      }
    }

    &:indeterminate {
      & ~ .onex-check__custom {
        background-color: $onex-form-check-input-indeterminate-border-color;
        border-color: $onex-form-check-input-indeterminate-border-color;
        background-image: escape-svg($onex-form-check-input-indeterminate-bg-image);
      }
    }
  }

  .form-check-input[type='radio'] {
    & ~ .onex-check__custom {
      border-radius: 100%;
    }

    &:checked {
      & ~ .onex-check__custom {
        border-color: $onex-form-check-input-indeterminate-border-color;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%230070C0'/%3e%3c/svg%3e");
      }
    }
  }

  &:hover {
    .form-check-input[type='radio']:checked {
      & ~ .onex-check__custom {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23005FAB'/%3e%3c/svg%3e");
      }
    }

    .form-check-input[type='checkbox'] {
      &:not(:disabled) {
        & ~ .onex-check__custom {
          background-color: $onex-check-input-hover-bg-color;
        }
      }

      &:checked,
      &:indeterminate {
        & ~ .onex-check__custom {
          border-color: $primary-600;
          background-color: $primary-600;
        }
      }
    }
  }
}


