@import 'mixins';

.onex-check {
    @include default-check-styles();
    @include size($onex-checkbox-size-lg, $onex-font-size-label-lg, $onex-line-height-label-lg);

    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    .form-check-input[type='checkbox']:indeterminate,
    .form-check-input.indeterminate {
      background-size: 0.625rem;
    }

    .form-check-input {
        margin-top: 0;
        cursor: pointer;

        &:not(:checked) {
            background-color: $onex-check-input-bg-color;
        }
    }

    //&:not(.disabled):hover {
    //    & > .form-check-input {
    //        border-color: $onex-check-input-hover-border-color;
    //        background-color: $onex-check-input-hover-bg-color;
    //
    //        &:checked {
    //            background-color: $onex-check-input-checked-bg-color;
    //        }
    //
    //        &[type='checkbox']:indeterminate,
    //        &.indeterminate {
    //            background-image: escape-svg($onex-form-check-input-indeterminate-bg-image-hover);
    //        }
    //    }
    //
    //    & > .form-check-label {
    //        color: $onex-check-label-text-color;
    //    }
    //}

    &.disabled > .form-check-label {
        pointer-events: none;
    }

    .form-check-input:checked:disabled,
    .form-check-input:disabled {
        pointer-events: none;
        filter: none;
        border-color: $onex-check-input-disabled-border-color;
        background-color: transparent;
    }

    .form-check-input:checked:disabled {
        background-color: $onex-check-input-disabled-bg-color;
    }

    .form-check-input[type='checkbox']:indeterminate:disabled,
    .form-check-input.indeterminate:disabled {
        background-image: escape-svg($onex-form-check-input-indeterminate-bg-image-disabled);
        border-color: $onex-check-input-disabled-border-color;
    }


    .form-check-input:checked[type=radio] {
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%230070C0'/%3e%3c/svg%3e");;

      &:hover {
        background-color: transparent;
        border-color: $primary-400;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23005FAB'/%3e%3c/svg%3e");;
      }

      &:disabled {
        border-color: $primary;
      }
    }
}
